<template>
    <label class="form__item form__item-email">
        <error v-if="error" :error="error"/>
        <input class="form-field"  name="email" type="text" v-model.trim="inputMail"  :placeholder="plaseholder">
    </label>
</template>

<script>
    import Error from "../moleculs/ModalFormError";
    export default {
        name: "FormEmail",
        components: {
            Error
        },
        props:{
            error: {
                required: true
            },
            plaseholder:{
              default:  'Электронная почта (опционально)'
            },
            value: {
                required: true
            }
        },
        data() {
            return { inputMail: this.value }
        },
        watch: {
            inputMail(val) {
                this.$emit('mail', val);
            }
        }
    }
</script>

<style scoped lang="sass">

</style>
