<template>
    <label class="form__item required form__item-phone">
        <error v-if="error" :error="error"/>
        <the-mask class="form-field" name="phone" type="tel" placeholder="+380 ( _ _ ) _ _ _ - _ _ - _ _" v-model="phoneNumber" mask="+380 (##) ### - ## - ##" />
    </label>
</template>

<script>
    import {TheMask} from 'vue-the-mask';
    import Error from "../moleculs/ModalFormError";
    export default {
        name: "FormPhone",
        components: {
            Error,
            TheMask,
        },
        props:{
            error: {
                required: true
            },
            value: {
                required: true
            }
        },
        data() {
            return { phoneNumber: this.value }
        },
        watch: {
            phoneNumber(val) {
                this.$emit('phone', val);
            }
        }
    }
</script>

<style scoped lang="sass">

</style>
