<template>
    <label class="form__item form__item-message">
        <textarea rows="1" maxlength="500" @input="autosize" class="form-field form-field__message" name="message" v-model.trim="textareaVal"  :placeholder="placeholder"></textarea>
    </label>
</template>

<script>
    export default {
        name: "FormMessage",
        props: {
            placeholder:{
                type: String,
                required: true
            },
            value: {
                required: true
            }
        },
        data() {
            return { textareaVal: this.value }
        },
        methods:{
            autosize(e){
                let el = e.target;
                el.style.cssText = 'height:auto;-moz-box-sizing:content-box';
                el.style.height = el.scrollHeight + 'px';
            },
        },
        watch: {
            textareaVal(val) {
                this.$emit('message', val);
            }
        }
    }
</script>

<style scoped lang="sass">

</style>
