<template>
    <label class="form__item required form__item-name">
        <error v-if="error" :error="error"/>
        <input class="form-field" name="name" type="text" v-model.trim="inputName"  placeholder="Ваше имя">
    </label>
</template>

<script>
    import Error from "../moleculs/ModalFormError";
    export default {
        name: "FormName",
        components: {
            Error
        },
        props:{
            error: {
                required: true
            },
            value: {
                required: true
            }
        },
        data() {
            return { inputName: this.value }
        },
        watch: {
            inputName(val) {
                this.$emit('name', val);
            }
        }
    }
</script>

<style scoped lang="sass">

</style>
