<template>
    <label class="form__item form__item-services" ref="services">
        <error v-if="error" :error="error"/>
        <div class="select form-field" @click="activeSelect = !activeSelect" :class="{'select-active': activeSelect}">
            <div  class="select-selected" :class="{'select-placeholder': !selected}">{{selected?selected.title:'Желаемая услуга'}}</div>
            <div class="select-items">
                <div class="select-item" :class="{'select-item--active':selected && selected.id === item.id}" @click="hendlerSelected(item)" v-for="item in services" :key="item.slug">{{item.title}}</div>
            </div>
        </div>
    </label>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import Error from "../moleculs/ModalFormError";

    export default {
        name: "ModalFormSelect",
        components:{
            Error,
        },
        data(){
          return{
              selected: null,
              services: null,
              error: null,
              activeSelect: false,
          }
        },
        props:['required'],
        computed:mapGetters(['getSelect','errorMessage', 'currentServicesId']),
        methods:{
            ...mapActions(['uploadSelect']),
            hendlerSelected(item){
                this.selected = item;
                this.$emit('selected', this.selected.title);
            },
            selectedServices(){
                if(!this.selected){
                    this.$refs.services.classList.add('invalid');
                    this.error = this.errorMessage.service;
                    return false;
                }else{
                    this.$refs.services.classList.add('valid');
                    return true;
                }
            },
        },
        mounted() {
            this.uploadSelect('/our-services');
        },
        watch:{
            getSelect(val){
                this.services = val.services;
                if(this.services && this.currentServicesId){
                    this.selected = this.services.filter(el=>el.id === this.currentServicesId)[0]
                }
            },
            selected(){
                if(this.selected){
                    this.error = null;
                    this.$refs.services.classList.remove('invalid');
                }
            },
            required(){
                this.selectedServices();
            }
        }
    }
</script>

<style scoped lang="sass">
    .select
        position: relative
        cursor: pointer
        font-weight: 400
        text-transform: uppercase
        line-height: 1.2
        &-items
            top: 3rem
            visibility: hidden
            opacity: 0
            position: absolute
            transition: 0.2s ease
            background: #fff
            z-index: 2
            width: 100%
            box-shadow: 3px 3px 3px #000
        &-item
            padding: 0.5rem
            &--active
                background: #d8d8d8
        &-active &-items
            visibility: visible
            opacity: 1
        &-active &-selected:after
                transform: rotate(-135deg)
        &-placeholder
            color: #888
            font-weight: 400
            text-transform: none
        &-selected
            position: relative
            &:after
                border: solid #131618
                border-width: 0 2px 2px 0
                padding: 3px
                content: ""
                position: absolute
                right: -0.5rem
                top: 5px
                transform: rotate(45deg)
                transition: 0.3s linear
</style>
