<template>
    <form @submit="update">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title"
                   ref="post_title"
                   v-model="response.post.title"
            >
        </div>
        <div class="form-group">
            <label for="sub-title">Sub Title:</label>
            <input type="text" class="form-control" id="sub-title"
                   ref="post_sub_title"
                   v-model="response.post.sub_title"
            >
        </div>
        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug"
                   ref="post_slug"
                   v-model="response.post.slug"
            >
        </div>
        <select name="subcategory" class="form-control" id="subcategory"
                ref="service_subcategory_id"
                v-model="response.post.category.id"
        >
            <option
                v-for="category in response.categories"
                :value="category.id"
            >
                {{ category.name }}
            </option>
        </select>
        <div class="form-group">
            <label for="main-image">Post Main Image:</label>
            <input type="text" class="form-control" id="main-image"
                   ref="post_main_image"
                   v-model="response.post.image_link"
            >
        </div>
        <jodit
            ref="post_body"
            v-model="response.post.body"
        ></jodit>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "PostUpdate",
        props: ['id'],
        data() {
            return {
                response: {
                    post: {
                        title: '',
                        slug: '',
                        category: '',
                        body: '',
                        image_link: '',
                    },
                    categories: {
                        name: '',
                        id: 0
                    }
                }
            };
        },
        components : {
            'jodit' : JoditVue
        },
        mounted(){
            axios.get('admin/posts/'+ this.id+'/edit')
                .then(({data}) => (this.response = data));
        },
        methods : {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            update: function(e){
                e.preventDefault();
                axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
                axios.post('/admin/posts/'+this.id, {
                    'title' : this.$refs['post_title'].value,
                    'subTitle' : this.$refs['post_sub_title'].value,
                    'slug' : this.$refs['post_slug'].value,
                    'category_id' : this.$refs['service_subcategory_id'].value,
                    'body' : this.$refs['post_body'].value,
                    'image' : this.$refs['post_main_image'].value,
                    _method: 'PUT'
                }).then(({data}) => (this.result = data));
            }
        }
    }
</script>

<style scoped>

</style>
