<template>
    <form @submit="create" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title"
                    v-model="title"
            >
        </div>
        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug"
                    v-model="slug"
            >
        </div>
        <div class="form-group">
            <label for="slug">Category:</label>
            <input type="text" class="form-control" id="slug"
                   ref="post_category"
                   v-model="category"
            >
        </div>
        <div class="form-group">
            <label for="main-image">Post Main Image:</label>
            <input type="file" class="form-control-file border" id="main-image"
               @change="onImageChange"
            >
        </div>
        <jodit
            v-model="body"
        ></jodit>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "PostCreate",

        data() {
            return {
                title: '',
                slug: '',
                category: '',
                body: '',
                image: null
            };
        },
        mounted(){

        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            create: function(e){
                e.preventDefault();
                axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
                axios.post('/admin/posts', {
                    'title' : this.title,
                    'slug' : this.slug,
                    'category_id' : this.category_id,
                    'body' : this.body,
                    'image' : this.image
                }).then(({data}) => (this.result = data));
            }
        },
        components: {
            'jodit': JoditVue
        },
    }
</script>

<style scoped>

</style>
