<template>
    <div id="gallery-page" class="gallery-page">
        <div class="position-relative">
            <slide-panel-right-action class="dark"/>
            <main-header :lightHeader="true"/>
            <h1 class="gallery-page__title font-weight-thin">Наша <strong>Галерея</strong></h1>
            <gallery-page-navigation/>
        </div>
        <home-page-billboard/>
    </div>
</template>

<script>

    import MainHeader from "../../header/MainHeader";
    import GalleryPageNavigation from "./organism/GalleryPageNavigation";
    import HomePageBillboard from "../homePage/organism/HomePageBillboard";
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";

    export default {
        components: {
            SlidePanelRightAction,
            MainHeader,
            GalleryPageNavigation,
            HomePageBillboard
        },
    }
</script>

<style lang="sass" scoped>
    .gallery-page
        &__title
            text-align: center
    @media all and (max-width: 62rem)
        .gallery-page
            &__title
                padding-top: 1.5rem
</style>
