/* Mixins
  =============== */
// Media query for desctop first layout
@mixin below1780 {
    @media (max-width: #{$very-big-desktop}) {
        @content;
    }
}

// Media query for desctop first layout
@mixin below1366 {
    @media (max-width: #{$big-desktop}) {
        @content;
    }
}


// Media query for desctop first layout
@mixin below1200 {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

// Break on desktop
@mixin below992 {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

// Break on tablet
@mixin below768 {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

// Break on smartphone
@mixin below570 {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

// Break on phone
@mixin below480 {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin below370 {
    @media (max-width: #{$xs-mobile}) {
        @content;
    }
}

@mixin above992 {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

// Break on tablet
@mixin above1200{
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin above1366 {
    @media (min-width: #{$lg-desktop}) {
        @content;
    }
}

@mixin above1560 {
    @media (min-width: #{$big-desktop}) {
        @content;
    }
}

// Media query for desctop first layout
@mixin above1780 {
    @media (min-width: #{$very-big-desktop}) {
        @content;
    }
}
