/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */


/* Containers */

$x-small: 480px;
$smart: 570px;
$small: 768px;
$medium: 800px;
$s-lagre: 991px;
$large: 1140px;
$x-large: 1360px;
$xx-large: 1560px;
/* Breakpoints */
$xs-mobile: 370px;
$mobile: $x-small;
$smartphone: $smart;
$tablet: $small;
$laptop: 991px;
$desktop: 1200px;
$lg-desktop: 1366px;
$big-desktop: 1560px;
$very-big-desktop: 1780px;

/* Colors */

$background: #fff;
$primary-color: #F7C17B;
$dark-color: #131618;
$light-color: #fff;
$accent-color: $primary-color;

$link-color: $primary-color;
$link-hover-color: darken($link-color, 15%);
$highlight: $primary-color;
$error: #d33c40;
$bq-border: 16px solid #f0f0f0;

/* Typography */

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16;
    //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
}

// Body font
$font-size: 16px;
$body-font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: 300;
$font-color: #131618;
$font-family: 'Roboto', sans-serif;
$line-height: 1.6;

// Headings
$heading-font-color: #131618;
$heading-font-weight: 900;
$heading-font-family: 'Roboto', sans-serif;
$heading-line-height: 1.2;
$heading-transform: uppercase;

// xs-mobile
$h1-xs-mobile: calculateRem(38);
$h2-xs-mobile: calculateRem(38);
// Mobile heading font size
$h1-mobile: calculateRem(48);
$h2-mobile: calculateRem(48);
$h3-mobile: calculateRem(21);
$h4-mobile: calculateRem(16);
$h5-mobile: calculateRem(14);

$h1-table: calculateRem(67);
$h2-table: calculateRem(67);
$h3-table: calculateRem(24);
$h4-table: calculateRem(18);
$h5-table: calculateRem(16);

// Larg descktop
$h1-large: calculateRem(76);
$h2-large: calculateRem(76);

// Heading font size
$h1: calculateRem(96);
$h2: calculateRem(96);
$h3: calculateRem(24);
$h4: calculateRem(18);
$h5: calculateRem(16);

/* Padding */

$padding: 1rem;
$margins: 1.5rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

/* Borders */

$border-width: 1px;
$border-style: solid;
$border-color: #131618;
$border-radius: 0;
$borders: $border-width $border-style $border-color;

/* Buttons */

$button-background: $light-color;
$button-background-hover: darken($button-background, 10%);
$button-color: #000;
$button-font-weight: 700;
$button-font-family: 'Roboto', sans-serif;
$button-font-size: calculateRem(12);
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: $dark-color;
$button-border-radius: 0;
$button-text-transform: uppercase;
$button-width: calculateRem(230);
$button-height: calculateRem(50);
// Accent buttons
$accent-button-background: $primary-color;
$accent-button-color: #fff;
$accent-button-color-hover: #fff;

// Muted Buttons
$muted-border: 1px solid $accent-color;
$muted-border-hover: 1px solid darken($accent-color, 30%);
$muted-background: transparent;
$muted-background-hover: transparent;
$muted-color: darken($accent-color, 50%);
$muted-color-hover: darken($accent-color, 50%);

// Round Buttons
$round-buttons: 40px;

/* Forms */

$forms: ("[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea");
$buttons: (".button, a.button, button, [type=submit], [type=reset], [type=button]");
$input-background: transparent;
$placeholder: darken($accent-color, 20%);
$form-border: 1px solid $border-color;
$form-border-hover: 1px solid darken($border-color, 10%);
$form-border-focus: 1px solid $link-color;

/* Tables */

$stripes: #f8f8f8;
$caption: #ababab;

/* Code */

$code-color: $font-color;
$code-size: 14px;
$code-family: Menlo, monospace;
$code-background: transparent;
$code-borders: $borders;
