<template>
    <div id="price-page" class="price-page page">
        <main-header/>
        <banner-section
            title="Прайс"
            sub-title="Салон красоты Premium-класса в центре города"
            banner-images="/resources/img/pricePage/bg_price_page.jpg"
            :button-style-outline="false"
        />
        <div class="position-relative">
            <slide-panel-right-action class="dark"/>
            <price-page-content/>
            <services-page-certificate/>
        </div>
    </div>
</template>

<script>
    import MainHeader from "../../header/MainHeader";
    import BannerSection from "../../banner/BannerSection";
    import PricePageContent from "./organism/PricePageContent";
    import ServicesPageCertificate from "../servicesPage/organism/ServicesPageCertificate";
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";

    export default {
        name:'Price',
        components:{
            MainHeader,
            BannerSection,
            PricePageContent,
            ServicesPageCertificate,
            SlidePanelRightAction
        }
    }
</script>
<style scoped lang="sass">

</style>
