<template>
    <span class="error-message">
        {{error}}
    </span>
</template>

<script>
    export default {
        name: "ModalFormError",
        props:{
            error:{
                type:String,
                required:true
            }
        }
    }
</script>

<style scoped lang="sass">

</style>
