<template>
    <form @submit="update">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name"
                   ref="user_name"
                   v-model="user.name"
            >
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email"
                   ref="user_email"
                   v-model="user.email"
            >
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" class="form-control" id="role"
                   ref="user_role"
                   v-model="user.role"
            >
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</template>

<script>
    export default {
        name: "UserEdit",
        props: ['id'],
        data: function(){
          return {
              user: {
                  name: '',
                  email: '',
                  role: ''
              },
          }
        },
        mounted() {
            axios.get('admin/users/'+ this.id)
                .then(({data}) => (this.user = data));
        },
        methods: {
            update: function (e) {
                e.preventDefault();
                axios.post('admin/users/'+ this.id, {
                    'name': this.$refs['user_name'].value,
                    'email': this.$refs['user_email'].value,
                    'role': this.$refs['user_role'].value,
                    _method: 'PUT'
                })
                    .then(({data}) => (this.users.name = data.name));
            }
        }
    }
</script>

<style scoped>

</style>
