<template>
    <div>
    <form @submit="create">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name"
                    v-model="name"
            >
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email"
                    v-model="email"
            >
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" class="form-control" id="role"
                   v-model="role"
            >
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd"
                    v-model="pwd"
            >
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </div>
</template>

<script>
   /* let token = document.head.querySelector('meta[name="csrf-token"]');
    window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content;*/
    export default {
        name: "UserCreate",
        data: function(){
          return {
              name: '',
              email: '',
              role: '',
              pwd: '',
              output: ''
          }
        },
        methods: {
            create :function(e) {
                e.preventDefault();
                axios.post('/admin/users', {
                    name: this.name,
                    email: this.email,
                    role: this.role,
                    pwd: this.pwd
                }).then((response)=>{
                    this.output = response.data
                });
            }
        }
    }
</script>

<style scoped>

</style>
