<template>
    <div id="content" class="site-content" @click="togglePanelRight(false)">
<!--        <div class="preloader" v-if="loadingStatus">-->
<!--            -->
<!--        </div>-->
        <slide-panel-left></slide-panel-left>

        <main id="site_main" class="main-content position-relative" @click="togglePanelLeft(false)">
<!--            <div class="preloader" v-if="contentLoading || loadingStatus">-->
<!--                <img src="http://www.synergypunching.com/images/icons/preloader.svg" alt="preloader">-->
<!--            </div>-->
            <router-view ></router-view>
            <main-footer/>
            <button-back-to-top/>
            <modal v-if="getModal"/>
        </main>
        <slide-panel-right></slide-panel-right>
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex';
    import SlidePanelLeft from "./components/slidePanel/SlidePanelLeft";
    import SlidePanelRight from "./components/slidePanel/SlidePanelRight";
    import MainFooter from "./components/footer/MainFooter";
    import Modal from "./components/modalWindow/Modal";
    import ButtonBackToTop from "./components/button/ButtonBackToTop";
    export default {
        name: "App",
        components:{
            SlidePanelLeft,
            SlidePanelRight,
            MainFooter,
            Modal,
            ButtonBackToTop,
        },
        computed: mapGetters(['loadingStatus','getModal', 'windowLoad', 'contentLoading']),
        methods: {
          ...mapActions(['fetchBasicSettings']),
          ...mapMutations(['togglePanelLeft', 'togglePanelRight', 'funcWindowLoad', 'resizeW']),
        },
        mounted() {
            this.funcWindowLoad(true);
            this.resizeW();
            this.fetchBasicSettings('/main-settings');
        },
        created(){
            window.addEventListener('resize', this.resizeW);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.resizeW);
        }
    }
</script>

<style lang="sass">
    html,
    body
        -ms-overflow-style: none
        overflow: -moz-scrollbars-none
        scrollbar-width: none
        &::-webkit-scrollbar
            display: none
    .hide
        display: none
    /*.preloader*/
    /*    width: 100%*/
    /*    height: 100%*/
    /*    position: absolute*/
    /*    left: 0*/
    /*    top: 0*/
    /*    z-index: 9*/
    /*    overflow: hidden*/
    /*    background: #fff*/
    /*    & img*/
    /*        height: 100%*/
    /*        width: 100%*/
    /*        object-fit: cover*/
    #site_main
        .VueCarousel
            &-navigation
                &-prev:before
                    transform: rotate(45deg)
                &-next:before
                    transform: rotate(-135deg)
                &-button
                    background: #fff
                    transform: translateZ(0)
                    width: 3.125rem
                    height: 3.125rem
                    font-size: 0
                    &:before
                        content: ''
                        display: block
                        padding: 0.19rem
                        border: solid #131618
                        border-width: 0 0 0.1875rem 0.1875rem
                    &:focus
                        outline: none
                    &:hover
                        background: #fafafa

    @media all and (max-width: 62rem)
        .main-content
            margin-top: 4.375rem
    @media all and (max-width: 48rem)
        #site_main
            .VueCarousel
                &-navigation
                    &-button
                        width:  2.5rem
                        height:  2.5rem
</style>
