<template>
    <div class="video-gallery__item">
        <div class="video-gallery__item-preview"  @click="$emit('videoClick')">
            <img src="https://aleksandr_lab.gitlab.io/imageprimavera/preview_video_gallery.jpg" alt="preview_video_gallery">
            <div class="video-gallery-preview__action">
                <button-you-tube/>
            </div>
        </div>
        <div class="video-gallery__item-content">
            <h3 class="video-gallery__item-title">
                PRIMAVERA beauty club - презентация салона красоты
            </h3>
            <div class="video-gallery__item-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing.
            </div>
        </div>
    </div>
</template>

<script>
    import ButtonYouTube from "../../../button/ButtonYouTube";

    export default {
        name: "VideoGalleryItem",
        components:{
            ButtonYouTube
        },
        props:{
            video:{
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped lang="sass">
    .video-gallery
        &__item
            padding-top: 1.875rem
            &-preview
                position: relative
            &-content
                text-align: center
                padding-top: 1.25rem
            &-title
                font-size: 1.125rem
                max-width: 23.125rem
                margin: 0 auto 1rem
            &-description
                font-size: 0.875rem
                padding-bottom: 1rem
            &:after
                content: ''
                width: 3.125rem
                height: 0.25rem
                margin: auto
                background: #131618
                display: block
</style>
