<template>
    <header
      id="site-heading"
      class="site-heading"
      :class="{'site-heading--load': windowLoad, 'site-heading--light': lightHeader}" >
        <div class="container">
            <nav class="site-heading__navbar">
                <site-logo
                  id="main-logo"
                  class="site-heading__logo"
                  :icon-logo="lightHeader? 'logo-light-header' : 'logo'"/>
                <social-icons class="site-heading__social" v-if="!lightHeader"/>
            </nav>
        </div>
    </header>
</template>

<script>

import { mapGetters } from 'vuex';
import SiteLogo from '../logo/SiteLogo';
import SocialIcons from '../social/SocialIcons';

export default {
  name: 'MainHeader',
  components: {
    SiteLogo,
    SocialIcons,
  },
  props: {
    lightHeader: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters(['windowLoad']),
  },
};
</script>

<style scoped  lang="sass">
    .site-heading
        &:not(&--light)
            .site-heading
                position: relative
                &__navbar
                    z-index: 9
                    position: absolute
                    top: 40px
                    left: 0
                    display: flex
                    justify-content: space-between
                    width: 100%
                    align-items: center
                &__logo,
                &__social
                    transition: 0.7s ease
                &__logo
                    transform: translateX(-30rem)
                &__social
                    transform: translateY(-2rem)
                    opacity: 0
    .site-heading--load
        &:not(&--light)
            .site-heading
                &__logo
                    transform: translateX(0)
                &__social
                    transform: translateY(0)
                    opacity: 1
    .site-heading--light
        text-align: center
        padding: 3.75rem 1rem 0
    @media all and (max-width: 62rem)
        .site-heading
            display: none
</style>
