<template>
    <div :id="'single-service-page-'+data.id" class="single-service-page" v-if="data">
        <main-header/>
        <banner-section
            :banner-images="data.image"
            :title="data.title"
            sub-title="Салон красоты Premium-класса в центре города"
            :bg-overlay="true"
        />
        <div class="position-relative">
            <slide-panel-right-action class="dark"/>
            <single-service-content :service="data"/>
            <services-page-certificate/>
        </div>
    </div>
</template>

<script>
    import ServicesPageCertificate from "../servicesPage/organism/ServicesPageCertificate";
    import BannerSection from "../../banner/BannerSection";
    import MainHeader from "../../header/MainHeader";
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import SingleServiceContent from "./organism/SingleServiceContent";

    export default {
        name: "SingleService",
        components:{
            MainHeader,
            BannerSection,
            ServicesPageCertificate,
            SlidePanelRightAction,
            SingleServiceContent
        },
        data(){
            return{
                data:null
            }
        },
        computed: mapGetters(['getContent']),
        methods:{
            ...mapMutations(['editCurrentServicesId']),
            ...mapActions(['fetchLazyLoad']),
        },
        watch:{
            getContent(val){
                const resp = val.filter(el=>el.service);
                if(!_.isEmpty(resp)){
                    this.data = resp[0].service;
                    this.editCurrentServicesId(this.data.id);
                }
            }
        },
        mounted() {
            this.fetchLazyLoad('/services/'+this.$route.params.slug);
        },
        beforeRouteLeave (to, from, next) {
            this.editCurrentServicesId(null);
            next();
        }
    }
</script>

<style lang="sass">
    .single-service-page,
    .single-service-sub-cutegory-page
        & .single-service-content,
        & .single-service-sub-cutegory-content
            -ms-word-break: break-all
            word-break: break-word
            padding: 3.125rem 1rem 4.375rem
        & .contet-page
            padding-top: 3.75rem
            & h2
                font-size: 3rem
                padding-bottom: 1.875rem
            & h3
                font-size: 1.125rem
                text-transform: uppercase
                padding-bottom: 1.25rem
            & p
                font-weight: 300
                line-height: 1.7
                margin-bottom: 1.5rem
            & img
                padding-bottom: 2.5rem
                width: 100%
                height: auto
            & ul,
            & ol
                font-weight: 500
                list-style: none
                & li
                    display: flex
                    padding-bottom: 0.625rem
                    &:before
                        width: 1.875rem
                        margin-right: 1.25rem
            & blockquote
                font-size:  1.5rem
                margin: 1.25rem 0
                padding-left: 8.125rem
                background: url(/resources/img/svg/blockquote_img.svg)0 0.4rem/ auto no-repeat
            & ul
                & li
                    align-items: center
                    &:before
                        content: ''
                        background: #131618
                        display: block
                        width: 1.875rem
                        flex:  0 0 1.875rem
                        height: 0.0625rem
            & ol
                & li
                    counter-increment: custom-counter
                    &:before
                        content: "0" counter(custom-counter)
                        font-weight: 900
                        font-size: 1.125rem
                        color: #F7C17B
            & .sub-title
                font-size: 1.125rem
                font-weight: 500
                text-transform: uppercase
                display: flex
                align-items: center
                &:before
                    content: ''
                    width: 4.375rem
                    height: 0.0625rem
                    background: #131618
                    display: block
                    margin-right: 1.875rem
    @media all and (max-width: 111.25rem)
        .single-service-page,
        .single-service-sub-cutegory-page
            & .contet-page
                & h2
                    font-size: 2.25rem
    @media all and (max-width: 85rem)
        .single-service-page,
        .single-service-sub-cutegory-page
            & .single-service-content,
            & .single-service-sub-cutegory-content
                padding: 2rem 1rem 3rem
            & .contet-page
                padding-top: 2.5rem
                & .sub-title
                    &:before
                        width: 2rem
                        margin-right: 1rem
    @media all and (max-width: 36.25rem)
        .single-service-page,
        .single-service-sub-cutegory-page
            & .single-service-content,
            & .single-service-sub-cutegory-content
                padding: 1rem
            & .contet-page
                padding-top: 1.25rem
                & h2
                    padding-bottom: 1.25rem
                & h3
                    margin-bottom: 0
                    font-size: 1rem
                & img
                    padding-bottom: 1.25rem
                & p
                    margin-bottom: 1.25rem
                & .sub-title
                    font-size: 0.875rem
                    &:before
                        margin-bottom: 1.25rem
                & blockquote
                    margin-top: 0
                    padding-left: 3.125rem
                    font-size:  1.125rem
                    background-size: 2.25rem
                & ul
                    margin-bottom: 0.625rem
                    & li
                        &:before
                            width: 1.25rem
                            margin-right: 0.625rem
                            flex: 0 0 1.25rem
    @media all and (max-width: 29.375rem)
        .single-service-page,
        .single-service-sub-cutegory-page
            & .contet-page
                    & h2
                        font-size: 1.75rem
</style>

