/* Helpers
  =============== */

// Classic clearfix
.clearfix::before,
.clearfix::after {
    content: " ";
    display: block;
}

.clearfix:after {
    clear: both;
}

// Text alignment
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

// Display
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

// Vertical center
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Responsive images
.responsive-image {
    max-width: 100%;
    height: auto;
}

// Display State
.show {
    display: block;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

// Floats
.float-left {
    float: left;
}

.float-right {
    float: right;
}

// Padding
.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.padding-top {
    padding-top: 2rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

// Margins
.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}


// Screen reader text for accessibility
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.font-weight-thin{
    font-weight: 100;
}

// Light content
.light-content *{
    color: $light-color;
}

// Images base
img {
    max-width: 100%;
}

.image-box {
    position: relative;

    display: inline-block;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 30px;
    max-width: 100%;
    height: auto;
    min-height: 30px;

    vertical-align: top;

    font-size: 0;
    &--square{
        padding: 50%;
        & img {
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &--rounded img{
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    &--cover img{
        -o-object-fit: cover;
        object-fit: cover;
    }
    &--contain img{
        -o-object-fit: contain;
        object-fit: contain;
    }
    &--fill img{
        -o-object-fit: fill;
        object-fit: fill;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        margin: 0;
        padding: 0;
    }
}

// background overlay

.bg-overlay{
    position: relative;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.75;
            z-index: 1;
        }
}



// Grid col-md-2dote4


@include above1200(){
    .col-xl-2dot4{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding:0 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}


// Accent title
.accent-title {
    font-weight: 200;
    & strong{
        color: #f7c17b
    }
}

.dark-content{
    color: $dark-color;
}

//Modal body
.activ-modal,
.no-scroll{
    overflow: hidden;
}


.main_preview{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before,
    &:after{
        content: '';
        display: block;
        width: 4.375rem;
        height: 0.125rem;
        background: #131618;
        margin: 0 1.875rem;
    }
}

@include below570(){
    .main_preview{
        font-size: 0.875rem;
        &:after{
            width: 1.4375rem;
            margin-left: 0.6rem;
            margin-right: 0;
        }
        &:before{
            width: 1.4375rem;
            margin-left: 0;
            margin-right: 0.6rem;
        }
    }
}

//Animation
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-moz-keyframes slideInFromLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-o-keyframes slideInFromLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes slideInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-moz-keyframes slideInFromRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-o-keyframes slideInFromRight {
    0% {
        opacity: 0;
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.slideInFromLeft {
    -webkit-animation: slideInFromLeft 0.5s ease-in-out;
    -moz-animation: slideInFromLeft 0.5s ease-in-out;
    -o-animation: slideInFromLeft 0.5s ease-in-out;
    animation: slideInFromLeft 0.5s ease-in-out;
}

.slideInFromRight {
    -webkit-animation: slideInFromRight 0.5s ease-in-out;
    -moz-animation: slideInFromRight 0.5s ease-in-out;
    -o-animation: slideInFromRight 0.5s ease-in-out;
    animation: slideInFromRight 0.5s ease-in-out;
}

.fadeIn {
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out;
    -o-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

@for $i from 1 through 100{
    .duration-#{$i},
    .duration-#{$i}:before,
    .duration-#{$i}:after{
        transition-duration:($i * 100) + 50 + ms ;
    }

    .delay-#{$i},
    .delay-#{$i}:before,
    .delay-#{$i}:after{
        transition-delay: ($i * 100) + 50 + ms ;;
    }
}

.anim{
    &-ease{
        transition-timing-function: ease;
    }
    &-linear{
        transition-timing-function: linear;
    }
    &-ease{
        &-in{
            transition-timing-function: ease-in;
            &-out{
                transition-timing-function: ease-in-out;
            }
        }
        &-out{
            transition-timing-function: ease-out;
        }
    }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter{
    transform: translateX(10px);
    opacity: 0;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp
}

@keyframes inDown {
    0% {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.inDown {
    -webkit-animation-name: inDown;
    animation-name: inDown
}

@-webkit-keyframes outUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
}

@keyframes outUp {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    to {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
}

.outUp {
    -webkit-animation-name: outUp;
    animation-name: outUp
}
