/* Scaffolding
  =============== */
:root{
    font-family: $font-family;
}

// HTML base
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    font-size: $font-size;
}

// Body base
body {
    background: $background;
    font-size: $body-font-size;
    font-weight: $font-weight;
    font-family: $font-family;
    color: $font-color;
}

p,
ol,
ul,
dl,
table {
    margin: 0 0 $margins 0;
}

// Remove extra margin for nested lists
ul li ul {
    margin-bottom: 0;
}

ol li ol {
    margin-bottom: 0;
}

b, strong{
    font-weight: 900;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
    font-weight: $heading-font-weight;
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    color: $heading-font-color;
    text-transform: $heading-transform;
}


// Heading individual styles
h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

@include below1200 {
    h1 {
        font-size: $h1-large;
    }

    h2 {
        font-size: $h2-large;
    }
}

@include below992{
    h1 {
        font-size: $h1-table;
    }
    h2 {
        font-size: $h2-table;
    }
    h3 {
        font-size: $h3-table;
    }
    h4 {
        font-size: $h4-table;
    }
    h5 {
        font-size: $h5-table;
    }
}

@include below570{
    // Increased margin on additional headings
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child) {
        margin-top: calculateRem(10);
        margin-bottom: calculateRem(20);
    } // Heading desktop individual styles
    h1 {
        font-size: $h1-mobile;
    }
    h2 {
        font-size: $h2-mobile;
    }
    h3 {
        font-size: $h3-mobile;
    }
    h4 {
        font-size: $h4-mobile;
    }
    h5 {
        font-size: $h5-mobile;
    }
    p, ul, li, a, div, span, dt,dd {
        font-size: 14px;
    }
}

@include below370{
    h1 {
        font-size: $h1-xs-mobile;
    }
    h2 {
        font-size: $h2-xs-mobile;
    }
}
// Link styling
a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

// Highlight
mark {
    background: $highlight;
    padding: 0 0.2rem;
}

// Blockquote
//blockquote {
//    margin: 0 0 $margins 0;
//    border-left: $bq-border;
//    padding: 0 1.5rem;
//    font-size: 1.5rem;
//    cite {
//        display: block;
//        margin-top: $margins;
//        font-size: 1rem;
//        text-align: right;
//    }
//}

// Code block styling
pre {
    border: 0;
    border-radius: $border-radius;
    background: $code-background;
    padding: 1rem;
    tab-size: 2;
    color: $code-color;
    font-family: $code-family;
    font-size: $code-size;
    margin: 0 0 $margins 0;
    code {
        font-family: $code-family;
        line-height: 1.2;
    }
}

// Keyboard input
kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff;
}

// Inline code styling
:not(pre)>code {
    color: $code-color;
    background: $code-background;
    font-family: $code-family;
    font-size: $code-size;
    padding: 0 0.2rem;
    border: $borders;
    border-radius: $border-radius;
}

// Line break
hr {
    height: 0;
    border: 0;
    border-top: $borders;
}

// Definition list
dt {
    font-weight: 600;
}

dd {
    margin-bottom: .5rem;
}

// Container
.container{
    position: relative;
}


@include  above992(){
    .container {
        max-width: $medium;
    }
}


@include above1200(){
    .container {
        max-width: $s-lagre;
    }
}

@include above1366(){
    .container {
        max-width: $large;
    }
}

@include above1560(){
    .container {
        max-width: $x-large;
    }
}

@include above1780(){
    .container {
        max-width: $xx-large;
    }
}

//Section
.section {
    position: relative;
}

//Main title
.main-title{
    & strong,
    & b {
        color: #F7C17B;
    }
}

//Sub-title
.sub-title--pre-line{
    font-size: calculateRem(18);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.7;
    display: flex;
    align-items: center;
    &:before,
    &:after{
        content: "";
        background: #131618;
        display: block;
        width: calculateRem(70);
        height: calculateRem(2);
        margin-right: calculateRem(30);
    }
    &:after{
        display: none;
    }
}


@include below570{
    .sub-title--pre-line{
        justify-content: center;
        font-size: 0.875rem;
        text-align: center;
        &:after{
            display: block;
            margin-right: 0;
            margin-left: calculateRem(10);
        }
        &:before{
            margin-right: calculateRem(10);
            margin-left: 0;
        }
        &:after,
        &:before{
            flex-basis: 0;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}

/*Svg Title Home Page*/

#logo_prima_ver{
    & #group-one {
        overflow: hidden;
        transform: translateY(100%);
        animation: slideOver 0.8s 0.8s linear forwards;
    }
    & #group-two{
        transform: translateX(285px);
        & .svg-dash {
            fill: transparent;
            stroke: #F7C17B;
            stroke-dasharray: 5000;
            stroke-dashoffset: 5000;
            -webkit-animation: dash 15s 2s ease forwards;
        }
        & .svg-clip{
            fill: #F7C17B;
        }
        & .anim-fill {
            transform: translateY(100%);
            animation: slideOver 1.5s 3s linear forwards;
            fill: #F7C17B;
        }
    }
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes slideOver {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

//Gallery carusel
.vgs{
    &__gallery{
        text-align: center;
        &__title{
            text-align: right;
        }
        &__container__img{
            opacity: 1;
            filter: brightness(0.6);
            &--active{
                filter: brightness(1);
            }
        }
    }
    &__next,
    &__prev{
        padding: 0 !important;
    }
}
