<template>
    <form id="about"
        @submit="update"
    >
        <div class="form-group">
            <label for="title">Заголоовок:</label>
            <input type="text" class="form-control" id="title"
                name="title"
                v-model="text.title"
            >
        </div>
        <div class="form-group">
            <label for="sub-title">Подзаголовок:</label>
            <input type="text" class="form-control" id="sub-title"
                name="subTitle"
                v-model="text.subTitle"
            >
        </div>
        <div class="form-group">
            <label for="bg-img">Фоновое Изображение:</label>
            <img class="img-thumbnail"
                 :src="'/resources/img/homePage/'+medias.image.value">
            <input type="hidden" name="imageId"
                   v-model="medias.image.id"
            >
            <input type="file" class="form-control" id="bg-img">
        </div>

      <label for="bg-img">Изображение для Видео:</label>
      <img class="img-thumbnail"
           :src="'/resources/img/homePage/'+medias.image.value">
      <input type="hidden" name="imageId"
             v-model="medias.image.id"
      >
      <input type="file" class="form-control" id="bg-img">
      </div>
        <iframe width="560" height="315"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen frameborder="0"
                :src="medias.video.value"
        >
        </iframe>
        <div class="form-group">

            <label for="videoLink">Вставьте ссылку с youtube:</label>
            <input type="text" id="videoLink"
                   name="videoLink"
                   v-model="medias.video.value"
            >
            <input type="hidden" name="videoId"
                   v-model="medias.video.id"
            >
        </div>
        <jodit id="editor"
            ref="text"
            v-model="text.body"
        ></jodit>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "AboutEdit",
        props: ['id'],
        data(){
            return {
                buttons : [],
                text: {
                    title : '',
                    subTitle : '',
                    body : ''
                },
                medias : {
                    prevImg : {
                      id : null,
                      value : null
                    },
                    image : {
                        id : null,
                        value : null
                    },
                    video : {
                        id : null,
                        value : null
                    }
                }
            }
        },
        components : {
            'jodit' : JoditVue
        },
        methods : {
            update(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('about'));
                formData.append('_method', 'PUT');
                formData.append('text', this.$refs['text'].value);
                axios.post('/admin/main-page-settings/'+ this.id, formData)
                    .then((response) => {
                        if (response.data.error === true){
                            this.error = true;
                            this.update = false;
                        } else {
                            this.update = true;
                            this.error = false;
                        }
                    }, (error) => {
                        this.error = true
                    });
            }
        },
        mounted(){
          console.log(JoditVue.props.buttons);
            axios.get('/admin/main-page-settings/'+this.id+'/edit').
            then(
                (response) => {
                    this.text.title = response.data.title;
                    this.text.subTitle = response.data.sub_title;
                    this.text.body = response.data.text;

                    let vm = this;
                    let medias = response.data.medias;
                    medias.forEach(function(media){
                        if (media.type === 'prevImg'){
                            vm.medias.prevImg.value = media.value;
                            vm.medias.prevImg.id = media.id;
                        }else if (media.type === 'img'){
                            vm.medias.image.value = media.value;
                            vm.medias.image.id = media.id;
                        }else if(media.type === 'video'){
                            vm.medias.video.value = media.value;
                            vm.medias.video.id = media.id;
                        }
                    });
                }, (error) => {

                }
            );
        }
    }

</script>

<style scoped>

</style>
