<template>
    <div>
        <div class="alert alert-success alert-dismissible"
            v-if="update"
        >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Настройка обновлена
        </div>
        <div class="alert alert-danger alert-dismissible"
             v-if="error"
        >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Настройка не была обновленаю Свяжитесь с разработчиками сайта
        </div>
        <div>
            <div>
                <h4>Картинка баннера</h4>
                <img class="img-thumbnail"
                    :src="'/resources/img/homePage/'+medias.image.value"
                >
            </div>
            <form id="imageBanner"
                @submit="updateImage"
            >
                <div class="form-group">
                    <input type="hidden" name="mediaId"
                           ref="imageId"
                           v-model="medias.image.id"
                    >
                    <input type="file" name="bannerImage"
                        v-on:change="changeImage"
                    >
                </div>
                <div class="form-group">
                    <input type="submit" value="Обновить" class="btn btn-info">
                </div>
            </form>
        </div>
        <div>
            <iframe width="560" height="315"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen frameborder="0"
                    :src="medias.video.value"
            >
            </iframe>
            <form @submit="updateVideo">
                <div class="form-group">
                    <label for="videoLink">Вставьте ссылку с youtube:</label>
                    <input type="text" id="videoLink"
                           ref="videoLink"
                           v-model="medias.video.value"
                    >
                    <input type="hidden" name="mediaId"
                           ref="videoId"
                           v-model="medias.video.id"
                    >

                </div>
                <input type="submit" value="Обновить" class="btn btn-info">
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BannerEdit",
        props: ['id'],
        data(){
            return {
                response: null,
                medias: {
                    image: {
                        id: null,
                        value: null
                    },
                    video: {
                        id: null,
                        value: null
                    }
                },
                update: false,
                error : false,
                image : null
            }
        },
        methods : {
            updateVideo(e){
              e.preventDefault();
              axios.post('/admin/main-page-settings/'+ this.id,
                  {
                      'mediaId': this.$refs['videoId'].value,
                      'value': this.$refs['videoLink'].value,
                      _method: "PUT"
                  }
              ).then((response) => {
                  if (response.data.error === true){
                      this.error = true;
                      this.update = false;
                  } else {
                      this.update = true;
                      this.error = false;
                  }
              }, (error) => {
                  this.error = true;
                  this.update = false;
              });
            },
            changeImage(e){
                let files = e.target.files || e.dataTransfer.files;
                /*if (!files.length)
                  return;
                //this.createImage(files[0]);*/
            },
            updateImage(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('imageBanner'));
                formData.append('_method', 'PUT');
                axios.post('/admin/main-page-settings/'+ this.id, formData)
                    .then((response) => {
                    if (response.data.error === true){
                        this.error = true;
                        this.update = false;
                    } else {
                        this.update = true;
                        this.error = false;
                    }
                }, (error) => {
                    this.error = true
                });
            }
        },
        mounted(){
            axios.get('/admin/main-page-settings/'+this.id+'/edit').
                then(
                (response) => {
                    let vm = this;
                    let medias = response.data.medias;
                    medias.forEach(function(media){
                       if (media.type === 'img'){
                           vm.medias.image.value = media.value;
                           vm.medias.image.id = media.id;
                       }else if(media.type === 'video'){
                           vm.medias.video.value = media.value;
                           vm.medias.video.id = media.id;
                       }
                    });
                }, (error) => {

                }
            );
        }
    }
</script>

<style scoped>

</style>
