<template>
  <div>
    <button class="btn btn-primary"
      @click="partnerAdd"
    >Добавить Партнера</button>
    <br>
    <form id="addPartner"
      v-if="add"
      @submit="addPartner"
    >
      <div class="form-group">
        <label for="link">Ссылка на сайт партнера:</label>
        <input type="text" name="link" id="link" class="form-control">
      </div>
      <div class="form-group">
        <label for="logo">Логотип:</label>
        <input type="file" name="logo" id="logo" class="form-control">
      </div>
      <input type="submit" value="Добавить">
    </form>

    <form class="form-inline"
      v-for="partner in partners"
      :id="'editPartner'+partner.id"
      @submit="editPartner(e, partner.id)"
    >
      <div class="form-group">
        <label
          :for="'link'+partner.id"
        ></label>
        <input type="text" name="link"
          :id="'link'+partner.id"
          v-model="partner.link"
        >
      </div>
      <div class="form-group">
        <img class="partner-logo"
          :src="'/resources/img/partners/'+partner.logo" alt="">
        <label >Логотип:</label>
        <input type="file" name="logo" class="form-control">
      </div>
      <input type="submit" value="Обновить">
    </form>
  </div>
</template>

<script>
    export default {
        name: "PartnersEdit",
        data(){
            return {
              partners : null,
              add: false
            }
        },
        methods: {
            partnerAdd(){
                this.add = !this.add;
            },
            addPartner(e){
                let formData = new FormData(document.getElementById('addPartner'));
                axios.post('/admin/partners', formData);
            }
        },
        mounted() {
            axios.get('/admin/partners')
                .then((response)=>{
                  this.partners = response.data;
                }, (error)=>{

                });
        }

    }
</script>

<style scoped>
  .partner-logo {
    width: 70px;
  }
</style>
