<template>
    <form id="services"
          @submit="update"
    >
        <div class="form-group">
            <label for="title">Заголоовок:</label>
            <input type="text" class="form-control" id="title"
                   name="title"
                   v-model="text.title"
            >
        </div>
        <div class="form-group">
            <label for="sub-title">Подзаголовок:</label>
            <input type="text" class="form-control" id="sub-title"
                   name="subTitle"
                   v-model="text.subTitle"
            >
        </div>
        <jodit
            ref="text"
            v-model="text.body"
        ></jodit>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "ServicesEdit",
        props : ['id'],
        data() {
            return {
                text: {
                    title: '',
                    subTitle: '',
                    body: ''
                },
            }
        },
        components : {
            'jodit' : JoditVue
        },
        methods : {
            update(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('services'));
                formData.append('_method', 'PUT');
                formData.append('text', this.$refs['text'].value);
                axios.post('/admin/main-page-settings/'+ this.id, formData)
                    .then((response) => {
                        if (response.data.error === true){
                            this.error = true;
                            this.update = false;
                        } else {
                            this.update = true;
                            this.error = false;
                        }
                    }, (error) => {
                        this.error = true
                    });
            }
        },
        mounted() {
            axios.get('/admin/main-page-settings/'+this.id+'/edit').
            then((response) => {
                this.text.title = response.data.title;
                this.text.subTitle = response.data.sub_title;
                this.text.body = response.data.text;
            }, (error) => {

            });
        }
    }
</script>

<style scoped>

</style>
