<template>
    <div id="style">
      <form action="" id="styleEdit">
        <div class="form-group">
          <label for="title">Заголоовок:</label>
          <input type="text" class="form-control" id="title"
                 name="title"
                 v-model="text.title"
          >
        </div>
        <jodit
          ref="text"
          v-model="text.body"
        ></jodit>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';

    export default {
        name: "StyleEdit",
        props: ['id'],
        data(){
            return {
                text: {
                    title : '',
                    body : ''
                }
            }
        },
        components : {
            'jodit' : JoditVue
        },
        methods : {
            update(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('styleEdit'));
                formData.append('_method', 'PUT');
                formData.append('text', this.$refs['text'].value);
                axios.post('/admin/main-page-settings/'+ this.id, formData).then();
            }
        },
        mounted() {
            axios.get('/admin/main-page-settings/'+this.id+'/edit')
                .then((response) => {
                        this.text.title = response.data.title;
                        this.text.body = response.data.text;
                    }
                );
        }
    }
</script>

<style scoped>

</style>
