<template>
    <div id="team">
      <form id="teamPage"
            @submit="update"
      >
          <div class="form-group">
              <label for="title">Заголоовок:</label>
              <input type="text" class="form-control" id="title"
                     name="title"
                     v-model="text.title"
              >
          </div>
          <div class="form-group">
            <label for="subTitle">Подзаголоовок:</label>
            <input type="text" class="form-control" id="subTitle"
                   name="title"
                   v-model="text.subTitle"
            >
          </div>
          <jodit
              ref="text"
              v-model="text.body"
          ></jodit>
          <input type="submit" class="btn btn-primary" value="ОБНОВИТЬ">
      </form>
      <br>
      <h4 class="btn btn-primary"
          @click="addEmpl"
      >Добавить Сотрудника</h4>
      <div class="card" id="newemployer"
           v-if="newEmpl"
      >
        <div class="card-body">
          <form id="addEmployer"
                @submit="createEmpl"
          >
            <div class="form-group">
              <label for="empl-photo">Фото:</label>
              <input type="file" name="emplPhoto" id="empl-photo">
            </div>
            <div class="form-group">
              <label for="empl-name">Имя:</label>
              <input type="text" name="emplName" id="empl-name">
            </div>
            <div class="form-group">
              <label for="empl-surname">Фамилия:</label>
              <input type="text" name="emplSurname" id="empl-surname">
            </div>
            <div class="form-group">
              <label for="empl-position">Должность:</label>
              <input type="text" name="emplPosition" id="empl-position">
            </div>
            <input type="submit" class="btn btn-success" value="ДОБАВИТЬ">
          </form>
        </div>
      </div>
      <h4>Струдники</h4>
      <div class="card" id="editemployer"
           v-for="employer in employers"
      >
        <div class="card-body">
          <div class="img-box">
            <img
              :src="'/employers/'+employer.photo"
              alt="">
          </div>
          <form id="'editEmployer'+employer.id"
                @submit="createEmpl"
          >
            <div class="form-group">
              <label for="emplphoto">Новое Фото:</label>
              <input type="file" name="emplPhoto" id="emplphoto">
            </div>
            <div class="form-group">
              <label for="emplname">Имя:</label>
              <input type="text" name="emplName" id="emplname"
                v-model="employer.name"
              >
            </div>
            <div class="form-group">
              <label for="emplsurname">Фамилия:</label>
              <input type="text" name="emplSurname" id="emplsurname"
                v-model="employer.surname"
              >
            </div>
            <div class="form-group">
              <label for="emplposition">Должность:</label>
              <input type="text" name="emplPosition" id="emplposition"
                v-model="employer.position"
              >
            </div>
            <input type="submit" class="btn btn-success" value="Обновить">
            <div class="btn btn-danger"
                 :id="employer.id"
                 @click="deleteEmpl"
            >Удалить</div>
          </form>
        </div>
      </div>
    </div>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "TeamEdit",
        props : ['id'],
        data() {
            return {
                text: {
                    title: '',
                    subTitle: '',
                    body: ''
                },
                employers : [],
                newEmpl: false
            }
        },
        components : {
            'jodit' : JoditVue
        },
        computed : {

        },
        methods : {
            update(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('teamPage'));
                formData.append('_method', 'PUT');
                formData.append('text', this.$refs['text'].value);
                axios.post('/admin/main-page-settings/'+ this.id, formData)
                    .then((response) => {
                        if (response.data.error === true){
                            this.error = true;
                            this.update = false;
                        } else {
                            this.update = true;
                            this.error = false;
                        }
                    }, (error) => {
                        this.error = true
                    });
            },
            updateEmpl(e, id){
                e.preventDefault();
                let formData = new FormData(document.getElementById('editEmployer'+id));
                formData.append('_method', 'PUT');
                axios.post('/admin/employers/'+formData.id, formData)
                    .then((response) => {}, (error) => {});
            },
            createEmpl(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('addEmployer'));
                axios.post('/admin/employers/', formData)
                    .then((response) => {}, (error) => {});
            },
            deleteEmpl(e){
                axios.delete('/admin/employers/'+e.target.id);
               /* e.preventDefault();
                let formData = new FormData(document.getElementById('deleteEmpoloyer'));*/
            },
            addEmpl(){
                 this.newEmpl = !this.newEmpl;
            }
        },
        mounted() {
            axios.get('/admin/main-page-settings/'+this.id+'/edit').
            then((response) => {
                this.text.title = response.data.section.title;
                this.text.subTitle = response.data.section.sub_title;
                this.text.body = response.data.section.text;
                this.employers = response.data.employers;
            }, (error) => {

            });
        }
    }
</script>

<style scoped>
  #emplposition, #emplsurname, #emplname,
  #empl-position, #empl-surname, #empl-name{
    float: right;
  }
  .img-box {
    width: 100px;
  }
  .img-box img {
    width: 100%;
  }
  input {
    margin-right: 15px;
  }
  .card {
    width: 400px;
  }
</style>
