<template>
    <form id="category"
          @submit="update"
    >
        <div class="form-group">
            <label for="title">Заголовок:</label>
            <input type="text" class="form-control" id="title" name="title"
                   v-model="serviceCategory.title"
            >
        </div>
        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug" name="slug"
                   v-model="serviceCategory.slug"
            >
        </div>
        <div class="form-group">
            <label for="sub-title">Подзаголовок:</label>
            <input type="text" class="form-control" id="sub-title" name="sub_title"
                   v-model="serviceCategory.sub_title"
            >
            </div>
            <div class="form-group">
                <label for="sort_order">Порядок Вывода:</label>
                <input type="number" class="form-control" id="sort_order" name="sort_order"
                       v-model="serviceCategory.sort_order"
                >
            </div>

            <jodit
                ref="text"
                v-model="serviceCategory.text"
            ></jodit>
            <button type="submit" class="btn btn-primary">Update</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "ServiceSubCategoriesEdit",
        props: ['id'],
        data(){
            return {
                serviceCategory : {
                  title : '',
                  subTitle : '',
                  sortOrder : 0,
                  slug : '',
                  text : ''
                },
            }
        },
        components : {
            jodit : JoditVue
        },
        methods : {
            update(e){
                e.preventDefault();
                if(!this.serviceCategory.slug){
                    e.target.slug.value = this.serviceCategory.title.replace(/<\/?[^>]+(>|$)/g, "").replace(' ', '-').toLowerCase();
                }else{
                    e.target.slug.value = this.serviceCategory.slug.replace(' ', '-').toLowerCase();
                }
                let formData = new FormData(e.target);
                formData.append( '_method', "PUT");
                formData.append('text', this.$refs['text'].value);
                axios.post('/admin/service-subcategories/' + this.id, formData)
                    .then((response) => {

                    }, (error) => {

                    });
            }
        },
        mounted() {
            axios.get('/admin/service-subcategories/' + this.id + '/edit')
                .then((response) => {
                  this.serviceCategory.title = response.data.title ? response.data.title : '';
                  this.serviceCategory.subTitle = response.data.sub_title ? response.data.sub_title : '';
                  this.serviceCategory.sortOrder = response.data.sort_order ? response.data.sort_order : '';
                  this.serviceCategory.slug = response.data.slug ? response.data.slug : '';
                  this.serviceCategory.text = response.data.text ? response.data.text : '';
                }, (error) => {

                });
        }
    }
</script>

<style scoped>

</style>
