<template>
    <form id='subcategory-create'
        @submit="create">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug" name="slug">
        </div>
        <div class="form-group">
            <label for="category">Категория:</label>
            <select name="category" class="form-control" id="category">
                <option
                    v-for="category in categories"
                    :value="category.id"
                >
                    {{ category.title }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="sort_order">Порядок при выводе:</label>
            <input type="number" class="form-control" id="sort_order" name="sort_order">
        </div>
        <jodit
            ref="text"
            v-model="content"
        ></jodit>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "ServiceSubCategoriesCreate",
        data(){
            return {
                categories: null,
                content : ''
            }
        },
        components : {
            jodit: JoditVue
        },
        methods : {
            create(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('subcategory-create'));
                formData.append('text', this.$refs['text'].value);
                axios.post('/admin/service-subcategories', formData)
                     .then((response) => {

                     }, (error) => {

                     });

            },
        },
        mounted(){
            axios.get('/admin/service-subcategories/create')
                .then((response) => {
                    this.categories = response.data;
                }, (error) => {

                });
        }
    }
</script>

<style scoped>

</style>
