<template>
    <div id="main-modal" class="main-modal"  @click="hendlearClick">
        <div class="main-modal__container" :class="carrentModalClass">
            <button class="main-modal__close" @click="statusModal({status:false})"><span>&times;</span></button>
            <div class="main-modal__inner">
                <modal-form-order v-if="getModalForm"/>
                <modal-form-job v-if="getModalJobForm"/>
                <video-gallery-modal v-if="modalVideoGallery"/>
            </div>
        </div>
    </div>
</template>

<script>
    import ModalFormOrder from "../form/organism/ModalFormOrder";
    import {mapGetters, mapMutations} from "vuex";
    import ModalFormJob from "../form/organism/ModalFormJob";
    import VideoGalleryModal from "../pages/videoGalleryPage/organism/VideoGalleryModal";

    export default {
        name: "Modal",
        components:{
            ModalFormOrder,
            ModalFormJob,
            VideoGalleryModal,
        },
        computed:mapGetters(['getModalForm', 'getModalJobForm', 'modalVideoGallery', 'carrentModalClass']),
        methods: {
            ...mapMutations(['statusModal']),
            hendlearClick(e){
                if(e.target.classList.contains('main-modal')){
                    this.statusModal({status: false});
                }
            }
        },
    }
</script>

<style scoped lang="sass">
    .main-modal
        position: fixed
        z-index: 999999
        width: 100%
        height: 100%
        left: 0
        top: 0
        background: rgba(0, 0, 0, 0.8)
        display: flex
        justify-content: center
        align-items: center
        overflow: auto
        &::-webkit-scrollbar
            width: 1rem
            &-button
                display: none
            &-thumb
                background: #131618
        &__container
            width: 46.875rem
            background: #fff
            padding: 3.75rem 8.125rem
            position: absolute
            top: 10rem
            left: 0
            right: 0
            margin: auto
        &__close
            position: absolute
            right: 1.875rem
            top: 1.875rem
            border: 1px solid #131618
            border-radius: 50%
            width: 2.75rem
            height: 2.75rem
            padding: 0
            font-weight: 300
            z-index: 2
            & span
                position: relative
                font-size: 2rem
                top: -3px
    .modal-video-gallery
        width: 50rem
        padding: 3.75rem 2rem 1.5rem
    @media all and (max-width: 62rem)
        .main-modal
            &__container
                width: 40rem
                padding: 2.75rem 5.125rem
    @media all and (max-width: 48rem)
        .main-modal
            &::-webkit-scrollbar
                display: none
            &__close
                width: 2.2rem
                height: 2.2rem
                right: 1rem
                top: 1rem
            &__container
                top: 5rem
                width: 90%
                padding: 1.5rem 1.5rem 2rem
</style>
