<template>
    <div class="services-price-item">
        <div class="services-price-item__header">
            <h5 class="services-price-item__title">{{item.title}}</h5>
            <div class="services-price-item__line"></div>
            <div class="services-price-item__price">от {{item.price}} грн</div>
        </div>
        <div class="services-price-item__body">
            <p>{{item.body}}</p>
        </div>
        <div class="services-price-item__footer">
            <div class="services-price-item__action">
                <button class="button button--outline button--smal" @click="handlerClick">Записаться</button>
                <router-link class="button button--outline button--smal" v-if="subCategorySlug" :to="'/services/inside/'+subCategorySlug">подробнее</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapMutations} from "vuex";

    export default {
        name: "ServicesPriceItem",
        props:{
            item:{
                type: Object,
                required: true
            },
            subCategorySlug:{
                type: String
            },
            serviceId:{
                type: Number,
                required: true
            },
        },
        methods: {
            ...mapMutations(['statusModal', 'editCurrentServicesId']),
            handlerClick(){
                this.statusModal({name:'modalForm',status:true});
                this.editCurrentServicesId(this.serviceId)
            }
        },
    }
</script>

<style scoped lang="sass">
    .services-price-item
        padding: 1.75rem 0 1.25rem
        &__header
            display: flex
            justify-content: space-between
            align-items: baseline
            padding-bottom: 0.625rem
            flex-wrap: wrap
        &__line
            flex-basis: 0
            flex-grow: 1
            max-width: 100%
            height: 1px
            border: 1px dashed #808080
            margin: 0 1.25rem
        &__title
            font-size: 1.5rem
        &__price
            font-size: 1.25rem
            font-weight: 500
        &__body
            color: #808080
        &__footer
            padding-bottom: 1.25rem
            border-bottom: 1px solid #E6E6E6
        &__action
            & .button
                border-color: #E6E6E6
            & .button:not(:last-child)
                margin-right: 0.91rem
    @media all and (max-width: 48rem)
        .services-price-item
            &__title
                font-size: 1.125rem
                width: 100%
            &__price
                width: 100%
                font-size: 1rem
            &__line
                display: none

    @media all and (max-width: 36.25rem)
        .services-price-item
            padding-top: 0
</style>
