<template>
    <div id="contact-form" class="contact-form form">
        <div class="loader-box"  v-if="getFormLoad">
            <div class="loader"></div>
        </div>
        <div class="form-result" v-if="response" :class="{'form-result--error': response.status}" v-html="response.message">
        </div>
        <form v-show="!response || !response.status" @submit.prevent="submitHandler" ref="form" class="form-order">
            <form-name :value="form.name" :error="error.name" @name="form.name = $event"/>
            <form-email class="required" :error="error.email" :value="form.email" @mail="form.email = $event" plaseholder="Электронная почта"/>
            <form-message placeholder="Сообщение..." @message="form.message = $event" :value="form.message"/>
            <button-form/>
        </form>
    </div>
</template>

<script>
    import FormMessage from "../atom/FormMessage";
    import FormName from "../atom/FormName";
    import FormEmail from "../atom/FormEmail";
    import ButtonForm from "../../button/ButtonForm";
    import {mapActions, mapGetters, mapMutations} from "vuex";
    export default {
        name: "ContactForm",
        components:{
            ButtonForm,
            FormEmail,
            FormName,
            FormMessage
        },
        data(){
            return{
                form:{
                    name:null,
                    email:null,
                    message: null,
                },
                error: {
                    name:null,
                    email:null,
                    message: null,
                },
                response: null
            }
        },
        computed :mapGetters(['getFormLoad','getResponse', 'required', 'validMail']),
        methods: {
            ...mapMutations(['formResponse']),
            ...mapActions(['sendForms']),
            submitHandler(e) {
                const validMail = this.validMail(e, this.form.email);
                for (let key in this.error) {
                    this.error[key] = this.required(e).error[key];
                }
                if(!this.error.email){
                    this.error.email = validMail.error;
                }

                if (validMail.result & this.required(e).result) {
                    this.sendForms({data: this.form, url: '/order/send_mail',formName:'contact'});
                }
            },
            resetValidate(){
                this.$refs.form.addEventListener('input', (e)=>{
                    e.target.parentNode.classList.remove('valid', 'invalid');
                    this.error[e.target.name] = null;
                })
            },
        },
        watch:{
            getResponse(val){
                const res = val.filter(el=>el.name === 'contact');
                if(!_.isEmpty(res)){
                    this.response = res[0];
                }
            }
        },
        mounted(){
            this.resetValidate();
        },
        beforeDestroy() {
            this.$refs.form.removeEventListener('input', this.resetValidate);
            this.formResponse('contact');
        }
    }
</script>

<style scoped lang="sass">

</style>
