<template>
    <div id="form-order" class="modal-form-order form">
       <div class="loader-box"  v-if="getFormLoad">
           <div class="loader"></div>
       </div>
        <div class="form-result" v-if="response" :class="{'form-result--error': response.status}" v-html="response.message">
        </div>
        <div v-show="!response || !response.status">
            <h3 class="form__title">
                <strong>Записаться</strong><br/>на приём
                {{error.email}}
            </h3>
            <form @submit.prevent="submitHandler" ref="form" class="form-order">
                <form-name :value="form.name" :error="error.name" @name="form.name = $event"/>
                <form-phone :error="error.phone" :value="form.phone" @phone="form.phone = $event"/>
                <form-email :error="error.email" :value="form.email" @mail="form.email = $event"/>
                <modal-form-select :required="error.service" @selected="form.service = $event"/>
                <form-message placeholder="Дополнительная информация..." @message="form.message = $event" :value="form.message"/>
                <button-form/>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import ModalFormSelect from "../atom/ModalFormSelect";
    import FormMessage from "../atom/FormMessage";
    import FormName from "../atom/FormName";
    import FormEmail from "../atom/FormEmail";
    import ButtonForm from "../../button/ButtonForm";
    import FormPhone from "../atom/FormPhone";
    export default {
        name: "ModalFormOrder",
        components: {
            ModalFormSelect,
            FormMessage,
            FormName,
            FormEmail,
            ButtonForm,
            FormPhone
        },
        data(){
            return {
                selected:null,
                form:{
                    name:null,
                    phone:'',
                    email:null,
                    message: null,
                },
                error: {
                    name:null,
                    phone:null,
                    email:null,
                    message: null,
                },
                response: null,
            }
        },
        computed :mapGetters(['errorMessage', 'getFormLoad','getResponse', 'required', 'validMail', 'validPhone']),
        methods:{
            ...mapMutations(['statusModal', 'formResponse']),
            ...mapActions(['sendForms']),
            submitHandler(e){
                const validMail = this.validMail(e, this.form.email),
                    validPhone = this.validPhone(e, this.form.phone),
                    required = this.required(e);
                for(let key in this.error){
                    this.error[key] = required.error[key];
                }
                for(let keyRequired in required.error){
                    if(keyRequired === 'phone'){
                        this.error.phone = required.error.phone;
                        break;
                    }else {
                        this.error.phone = validPhone.error;
                    }
                }
                this.error.email = validMail.error;
                if(validMail.result  & validPhone.result & this.selectedServices() & required.result){
                    this.sendForms({data:this.form,url:'/order/send_mail', formName:'order'});
                }
            },
            selectedServices(){
                if(!this.form.service){
                    this.error.service = true;
                    return false
                }
                this.error.service = false;
                return true
            },
            resetValidate(){
                this.$refs.form.addEventListener('input', (e)=>{
                    e.target.parentNode.classList.remove('valid', 'invalid');
                   this.error[e.target.name] = null;
                })
            },
        },
        watch:{
            getResponse(val){
                const res = val.filter(el=>el.name === 'order');
                if(!_.isEmpty(res)){
                    this.response = res[0];
                    if(this.response.status){
                        setTimeout(()=>this.statusModal({name:'modalForm',status:false}), 2000)
                    }
                }
            },
        },
        mounted(){
            this.resetValidate();
        },
        beforeDestroy() {
            this.$refs.form.removeEventListener('input', this.resetValidate);
           this.formResponse('order');
        }
    }
</script>

<style lang="sass">

</style>
