<template>
    <div class="search-form-services">
        <form @submit.prevent="handlerSubmit" class="search-form">
            <div class="search-form__box">
                <div class="search-form__item">
                    <input type="text"
                           :class="{'border-bottom-0': autocomplete.length && focusElem}"
                           @blur="focusElem = false"
                           @focus="focusElem = true"
                           @input="search"
                           :placeholder="windowW > 992? 'Начните вводить название желаемой услуги здесь...': 'Введите название услуги...'"
                           @keydown="handlerKeydown($event)"
                           v-model.trim="searchText"/>
                    <div class="search-form__autocomplete" :class="{focus: focusElem }" ref="autocomplete" v-if="autocomplete.length && focusElem">
                        <div class="search-form__autocomplete-item" v-for="item in autocomplete" @mousedown="handlerClick(item)" >{{item}}</div>
                    </div>
                </div>
                <button type="submit" class="search-form__button button button--black">Найти</button>
            </div>
        </form>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from "vuex";

    export default {
        name: "SearchFormServices",
        data(){
            return{
                searchText: null,
                responseSearch: null,
                autocomplete: [],
                activeSearch: null,
                focusElem:false,
            }
        },
        computed: {
            ...mapGetters(['getContent', 'windowW']),
            services(){
                return  !_.isEmpty(this.getContent.filter(el => el.services))? this.getContent.filter(el => el.services)[0].services : null;
            },
        },
        methods:{
            ...mapMutations(['responseSearchForm']),
            handlerKeydown(e){
                if(!_.isEmpty(this.autocomplete)){
                    const refAutocomplete = this.$refs.autocomplete,
                            elem = refAutocomplete.querySelectorAll('.search-form__autocomplete-item');
                    let numActiveItem;
                    if(e.code === 'ArrowDown'){
                        if(!refAutocomplete.querySelector('.activ-item')){
                            elem[elem.length-1].classList.add('activ-item');
                            this.searchText = elem[elem.length-1].innerText
                        }else{
                            elem.forEach((el, i)=>{
                                if(el.classList.contains('activ-item')){
                                    numActiveItem = i;
                                    el.classList.remove('activ-item');
                                    numActiveItem++;
                                    if(numActiveItem>=elem.length){
                                        numActiveItem=0;
                                    }
                                    return null;
                                }
                            });
                            elem[numActiveItem].classList.add('activ-item');
                            this.searchText = elem[numActiveItem].innerText
                        }
                    }else if(e.code === 'ArrowUp'){
                        if(!refAutocomplete.querySelector('.activ-item')){
                            elem[0].classList.add('activ-item');
                            this.searchText = elem[0].innerText;
                        }else{
                            elem.forEach((el, i)=>{
                                if(el.classList.contains('activ-item')){
                                    numActiveItem = i;
                                    this.searchText = el.innerText;
                                    el.classList.remove('activ-item');
                                    numActiveItem--;
                                    if(numActiveItem<0){
                                        numActiveItem=elem.length-1;
                                    }
                                    return null;
                                }
                            });
                            elem[numActiveItem].classList.add('activ-item');
                            this.searchText = elem[numActiveItem].innerText;
                        }
                    }
                }
            },
            search() {
                this.responseSearch = [];
                if(this.searchText.length){
                    this.searchAutocomplete(this.services);
                }

                this.autocomplete = this.responseSearch.splice(0, 10);
            },
            searchAutocomplete(args){
                return args.map(allObj =>{
                    const {title,id,body,price,subcategories,services, ...rest} = allObj;
                    const obj = {title,id,body,price,subcategories,services,};
                    for(let key in obj){
                        if((_.isString(obj[key]) || _.isNumber(obj[key])) && obj[key].toString().toLowerCase().search(this.searchText.toLowerCase()) != -1){
                            const reg = new RegExp("([а-яa-z0-9_іїє]{0,}"+this.searchText.toLowerCase()+"[а-яa-z0-9_іїє]{0,}\\W{0,}[а-яa-z0-9_іїє]{0,}\\W{0,})","g"),
                                textAutocomplete = reg.exec(obj[key].toString().toLowerCase())[1],
                                trimAutocomplete = textAutocomplete.length>50?textAutocomplete.slice(0,50)+'...': textAutocomplete;
                            this.responseSearch.push(trimAutocomplete);
                        }else if(_.isArray(obj[key])){
                            this.searchAutocomplete(obj[key])
                        }
                    }
                });
            },
            handlerClick(text){
                this.searchText = text;
                this.autocomplete = [];
            },
            handlerSubmit(){
                this.responseSearchForm({res:this.filterArgs(this.services), clone:true});
                this.autocomplete = [];
            },
            filterArgs(args){
                return _.cloneDeep(args).filter(obj => {
                    if(!this.filterObject(obj)){
                        for(let key in obj){
                            if(_.isArray(obj[key])){
                                obj[key] = this.filterArgs(obj[key]);
                                return !_.isEmpty(obj[key]);
                            }
                        }
                    }else{
                        return true
                    }
                })
            },
            filterObject(obj){
                return Object.values(obj).toString().toLowerCase().search(this.searchText.toLowerCase()) !== -1;
            }
        },
        watch: {
            searchText(){
                this.responseSearchForm({res:this.services, clone:false});
            }
        }
    }
</script>

<style scoped lang="sass">
    .search-form
        &__box
            display: flex
            flex-wrap: wrap
        &__item
            position: relative
            flex-basis: 0
            flex-grow: 1
            max-width: 100%
            margin: 0
            padding: 0
        & input,
        & button
            height: 3.125rem
        & button
            width: 9.625rem
        &__autocomplete
            position: absolute
            top: 3.06rem
            width: 100%
            background: #fff
            z-index: 3
            border: 0.0625rem solid
            border-top: 0
            left: 0
            &.focus
                border-color: #F7C17B
            &-item
                padding: 0.3rem 1rem 0.3rem
    .activ-item
        background: #eda
    @media all and (max-width: 48rem)
        .search-form
            & button
                width: 3.125rem
                font-size: 0
                background: url("/resources/img/svg/search.svg") 50% no-repeat
</style>
