<template>
    <div class="magazine-content">
        <div class="container">
            <div class="row magazine-title">
                <div class="col-xl-5 offset-xl-7 col-lg-7 offset-lg-5 magazine-title__item">
                    <div class="magazine-title__item-inner">
                        <h3 class="font-weight-thin">Наш <br/><strong>Журнал</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomePageMagazineContent",
    }
</script>

<style scoped lang="sass">
    .magazine
        &-content
            position: relative
        &-title
            padding-bottom: 30px
            &__item-inner
                padding: 5.625rem 1.875rem 1.875rem
                border: 0.25rem solid #131618
            & h3
                font-size: 4.5rem

    @media (max-width: 75rem)
        .magazine
            &-title
                &__item-inner
                    padding-top: 3.75rem
    @media (max-width: 36.25rem)
        .magazine
            &-title
                padding-bottom: 1rem
                &__item-inner
                    padding: 1.5rem
                & h3
                    font-size: 2.5rem
</style>
