<template>
    <div class="col-xl-6 services__content">
        <div class="services__content-inner">
            <div class="sub-title sub-title--pre-line services__sub-title"
                 v-html="text.sub_title">
            </div>
            <h2 class="main-title font-weight-thin services__title" v-html="text.title"></h2>
            <div class="services__description" v-html="text.text">
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'homePageServicesContent',
  props: {
    text: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped lang="sass">
    .services__content
        &-inner
            padding: 1.875rem 0 5rem
            position: relative
            &:before
                content: ''
                background: url(/resources/img/homePage/bg_services_home.png) no-repeat
                width: 30.625rem
                height: 28.4375rem
                position: absolute
                z-index: -1
                top: -2.25rem
                left: 0
    @media all and (max-width: 75rem)
        .services__content
            &-inner
                padding: 0.625rem 0
                margin-bottom: 1.625rem
                &:before
                    display: none
                    background: url('/resources/img/homePage/bg_services_home.png') 0 0 / contain no-repeat
                & p
                    margin: 0
    @media all and (max-width: 36.25rem)
        .services
            &__title
                text-align: center
</style>
