<template>
    <div class="team-content">
        <div class="team-content__inner">
            <div class="team-content__sub-title sub-title sub-title--pre-line"
                 v-html="teamContent.sub_title"
            >
            </div>
            <div class="row align-items-center">
                <div class="col-xl-4 team-content__title">
                    <h2 class=" main-title" v-html="teamContent.title"></h2>
                </div>
                <div class="col-xl-8 team-content__description">
                    <div v-html="teamContent.text"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomePageTeamContent",
        props: {
            teamContent: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped lang="sass">
    .team-content
        padding-bottom: 60px
        &__description
            font-weight: 400
            font-size: 1.1rem
            line-height: 1.7rem
    @media (min-width: 48rem) and (max-width: 111.25rem)
        .team-content
            &__title,
            &__description
                -webkit-box-flex: 0
                flex: 0 0 50%
                max-width: 50%
    @media  (min-width: 35.625rem) and (max-width: 75rem)
        .team-content
            &__title h2
                font-size: 4.5rem
    @media  all and (max-width: 75rem)
        .team-content
            text-align: center
    @media (max-width: 36.25rem)
        .team-content
            padding-bottom: 1.875rem
</style>
<style lang="sass">
    @media all and (max-width: 62rem)
        .team-content
            &__description
                & br
                    display: none
</style>
