<template>
    <div class="col-xl-6 about__content">
        <div class="about__content-inner">
            <h2 class="about__title main-title" v-html="content.title"></h2>
            <div class="about__sub-title sub-title" v-html="content.subtitle"></div>
            <div class="about__description">
                <div @click="read = false"
                     class="about__description-text"
                     :class="{'slice-mobile': windowW < 768 && !read && content.text.length > 250}"
                     v-html="content.text">
               </div>
                <a class="about__read-more"
                   href="#"
                   @click.prevent="read = true"
                   v-if="windowW<768 && !read && content.text.length > 250">
                  Читать полностью
                </a>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'HomePageAboutContent',
  props: {
    content: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      read: false,
    };
  },
  computed: mapGetters(['windowW']),
};
</script>

<style scoped lang="sass">
    .about
        &__sub-title
            font-size: 1.4rem
            text-transform: uppercase
            padding-bottom: 20px
            font-weight: 700
        &__description
            padding-left: 24px
            position: relative
            line-height: 1.7
            &:before
                content: ""
                position: absolute
                left: 0
                top: 0
                bottom: 0
                margin: auto
                height: calc(100% - 8px)
                width: 4px
                background: #fff
        &__read-more
            color: #F7C17B
            font-weight: 400
    .slice-mobile
        overflow: hidden
        height: calc(8 * 1.65em)
    @media (max-width: 36.25rem)
        .about
            &__sub-title
                font-size: 0.75rem
</style>
