<template>
    <div class="col-xl-6 about__video">
        <div class="about__video-inner">
            <div class="about__video-image bg-overlay"
                 v-if="!videoPlay"
                 @click="playVideo"
                :style="`background: #000 url(${video.image}) 50% / cover no-repeat`"
            >
                <button-play-video />
            </div>
            <youtube
                width="100%"
                height="350px"
                :video-id="idVideo"
                ref="youtube"
                @paused="paused"
            ></youtube>
        </div>
    </div>
</template>

<script>
    import ButtonPlayVideo from "../../../button/ButtonPlayVideo";

    export default {
        name: "HomePageAboutVideo",
        components: {
            ButtonPlayVideo
        },
        data(){
            return{
                videoPlay: false,
            }
        },
        props:{
            video:{
                type: Object,
                required: true
            }
        },
        computed:{
            idVideo(){
                return this.$youtube.getIdFromUrl(this.video.video);
            },
        },
        methods: {
             playVideo() {
                 this.$refs.youtube.player.playVideo();
                 this.videoPlay = true;
            },
            paused() {
                this.videoPlay = false;
            }
        }
    }
</script>

<style scoped lang="sass">
    .about__video
        position: relative
        padding-top: 20px
        &:before
            content: ""
            position: absolute
            width: 22.5rem
            height: 22.5rem
            right: 0
            top: 3.125rem
            border: 0.25rem solid #fff
        &-inner
            position: relative
            max-width: 38.75rem
            max-height: 21.875rem
        &-image
            position: absolute
            width: 100%
            height: 100%
            z-index: 2
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
    @media all and (max-width: 75rem)
        .about__video
            padding: 2.5rem 0 0
            &:before
                display: none
            &-inner
                max-width: 100%
                max-height: 100%

</style>
