<template>
    <div class="magazine-slider">
        <div class="magazine-slider__line">
            <slide-panel-right-line/>
        </div>
        <div class="container">
            <div class="row flex-xl-row flex-row-reverse" >
                <home-page-magazine-slide v-if="windowW>1200"/>
                <carousel v-else :loop="true" :per-page="1" :navigationEnabled="true" :paginationPadding="0" :paginationSize="20" paginationColor="#fff" :adjustableHeight="true"  paginationActiveColor="#F7C17B" @page-change="currentMagazine($event+1)">
                    <slide v-for="item in allMagazines" :key="item.id">
                        <div class="magazine-slider__img image-box--cover">
                            <img :src="item.img" :alt="item.title">
                        </div>
                    </slide>
                </carousel>
                <home-page-magazine-slide-content/>
            </div>
        </div>
    </div>
</template>

<script>
    import HomePageMagazineSlide from "../atom/HomePageMagazineSlide";
    import HomePageMagazineSlideContent from "./HomePageMagazineSlideContent";
    import SlidePanelRightLine from "../../../slidePanel/atoms/SlidePanelRightLine";
    import {mapGetters, mapMutations} from "vuex";

    export default {
        name: "HomePageMagazineSlider",
        components:{
            HomePageMagazineSlide,
            HomePageMagazineSlideContent,
            SlidePanelRightLine,
        },
        computed:mapGetters(['allMagazines','windowW']),
        methods: mapMutations(['currentMagazine']),
    }
</script>

<style scoped lang="sass">
    .magazine-slider
        position: relative
        &__line
            & + .container
                z-index: 5
            background-color: #131618
            position: absolute
            width: 100%
            height: 39.05rem
            top: 1.25rem
            &:after,
            &:before
                content: ''
                display: block
                position: absolute
            &:after
                right: 0
                width: 58.3333333333%
                height: 100%
                background: url("/resources/img/homePage/bg_magazine_home.jpg")50%/ cover no-repeat
    @media all and (max-width: 75rem)
        .magazine-slider
            &__line
                top: auto
                bottom: 0
                &:before,
                &:after
                    width: 100%
                    left: 0
                &:before
                    height: 11rem
                    top: 1rem
                    background: #131618
                    z-index: 1
                    filter: blur(0.25rem)
                &:after
                    height: calc(100% - 11.25rem)
                    bottom: 0
                    background-position: center top
    @media all and (max-width: 48rem)
        .magazine-slider
                &:before
                    height: 10rem
                &:after
                    height: calc(100% - 10rem)
    @media all and (max-width: 36.25rem)
        .magazine-slider
            &__line
                height: 34.625rem
                &:before
                    height: 7.5rem
                &:after
                    height: calc(100% - 7.95rem)

</style>

<style lang="sass">
    @media all and (max-width: 75rem)
        #section-magazine
            & .VueCarousel
                max-width: 32.1875rem
                margin: 0 auto
                &-navigation
                    &-button
                        bottom: 11.95rem
                        top: auto
                    &-next
                        right: -1rem
                    &-prev
                        left: -1rem
                &-inner
                    height: 43.75rem!important
                    min-height: 25rem
                &-slide-adjustableHeight
                    flex-basis: inherit
                    display: block
                    width: 32.1875rem
                &-slide-adjustableHeight,
                & .magazine-slider__img
                    height: 43.75rem
                    min-height: 25rem
                    & img
                        height: 100%
                        width: 100%
                        object-fit: contain
                &-pagination
                    position: relative
                    z-index: 2
                    margin-top: -0.875rem
                &-dot
                    margin: 0 0.375rem
                    &:focus
                        outline: none

    @media all and (max-width: 62rem)
        #section-magazine
            & .VueCarousel
                max-width: 26rem
                &-inner
                    height: 33.75rem!important
                & .magazine-slider__img
                    height: 33.75rem
                &-slide-adjustableHeight
                    width: 26rem
    @media all and (max-width: 48rem)
        #section-magazine .VueCarousel-navigation-button
            bottom: 12.55rem
    @media all and (max-width: 36.25rem)
        #section-magazine
            & .VueCarousel
                max-width: 18rem
                &-navigation
                    &-button
                        bottom: 11.55rem
                &-inner
                    height: 25rem !important
                &-slide-adjustableHeight
                    width: 18rem
                &-slide-adjustableHeight,
                & .magazine-slider__img
                    height: 25rem
                &-pagination
                    margin-top:  -0.625rem
    @media all and (max-width: 23.125rem)
        #section-magazine
            & .VueCarousel
                &-navigation
                    &-button
                        bottom: 7.25rem
</style>
