<template>
    <div class="col-xl-7 pl-xl-5 magazine-slider__content">
        <div class="sub-title--pre-line magazine-slider__sub-title sub-title" v-html="currenMagazine.subTitle"></div>
        <div class="magazine-slider__title">
            <h3 class="accent-title" v-html="currenMagazine.title"></h3>
        </div>
        <div class="sub-title--pre-line magazine-slider__sub-title magazine-slider__data sub-title" v-html="currenMagazine.data"></div>
        <div class="magazine-slider__description" v-html="currenMagazine.description"></div>
        <div class="magazine-slider__action-button">
            <a href="#" class="button">Посмотреть онлайн</a>
        </div>
        <home-page-magazine-pagination v-if="windowW>1200"/>
    </div>
</template>

<script>
    import HomePageMagazinePagination from "../atom/HomePageMagazinePagination";
    import {mapGetters} from "vuex";
    export default {
        name: "HomePageMagazineSlideContent",
        components:{
            HomePageMagazinePagination
        },
        computed: mapGetters(['currenMagazine', 'windowW']),
    }
</script>

<style scoped lang="sass">
    .magazine-slider
        &__content
            padding-top: 4.375rem
        &__title
            & h3
                color: #fff
                font-size: 4.5rem
        &__sub-title
            font-weight: 200
            color: #fff
            &:before,
            &:after
                background: #fff
        &__description
            padding: 1.25rem 0
            color: #fff
            line-height: 1.7
            font-weight: 300
            max-width: 46.875rem
        &__action-button
            padding-bottom: 4.375rem
    @media all and (max-width: 97.5rem)
        .magazine-slider
            &__content
                padding-top: 1.25rem
    @media all and (max-width: 36.25rem)
        .magazine-slider
            &__title h3
                text-align: center
                font-size: 2.5rem
            &__action-button
                text-align: center
                padding-bottom: 3.75rem
</style>
