<template>
    <div class="news__filter" v-if="carrentCatNews">
        <div class="news__filter-category">
            <div class="news__filter-category-inner">
                <div class="news__filter-item" :class="{active : activCatId === post.id}" v-for="post in posts" :kay="post.id" @click="getCatNews(post.id)" >{{post.name}}</div>
            </div>
        </div>
        <div class="news__items row justify-content-center">
            <Home-page-news-filter-item v-for="post in carrentCatNews.main_page_posts" :cat-name-news="carrentCatNews.name" :catPost="post" :key="post.id"/>
        </div>
    </div>
</template>

<script>
    import HomePageNewsFilterItem from "../atom/HomePageNewsFilterItem";
    import {mapGetters,mapMutations} from "vuex";

    export default {
        name: "HomePageNewsFilter",
        components:{
            HomePageNewsFilterItem,
        },
        data(){
            return{
                carrentCatNews: null,
                activCatId: null,
            }
        },
        props:{
          posts:{
              type: Array,
              required: true
          }
        },
        methods:{
            getCatNews(id){
                this.carrentCatNews = id ? this.posts.filter(el => el.id === id)[0] : this.posts[0] ;
                this.activCatId = id ? id :  this.posts[0].id;
            },
        },
        mounted() {
            this.getCatNews();
        }
    }
</script>

<style scoped lang="sass">
    .news
        &__filter-category
            max-width: 100%
            padding: 0 1rem
            &-inner
                display: flex
                flex-wrap: wrap
                justify-content: center
                margin: 0 -1rem
        &__filter-item
            min-width: 8.125rem
            text-align: center
            font-size: 0.75rem
            font-weight: 700
            padding: 0 1rem 3.125rem
            cursor: pointer
            transition: 0.5s linear
            &:after
                content: ""
                display: block
                width: 100%
                height: 0.125rem
                margin-top: 1rem
                background: #131618
                transition: 0.5s linear
            &:hover,
            &.active
                color: #F7C17B
                &.active:after,
                &:after
                    background: #F7C17B
    @media (max-width: 36.25rem)
        .news
            &__filter-category
                padding: 0 0.625rem
                &-inner
                    justify-content: center
                    margin: 0 -1.25rem
            &__filter-item
                min-width: auto
                -webkit-box-flex: 0
                flex: 0 0 33.333333%
                max-width: 33.333333%
                padding: 0 0.625rem 1.875rem
</style>
