<template>
    <div id="dashboard" class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <icon icon="Logo" class="w-full fill-current stroke-current"></icon>
            </div>
        </div>
        <div class="row">
            <left-menu :auth-user="authUser"></left-menu>
            <div class="col-md-10">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import Icon from 'laravel-mix-vue-svgicon/IconComponent.vue';
    import VueRouter from 'vue-router';
    import LeftMenu from './components/DashboardLeftMenu';
    // Services //
    import Services from './components/Services';
    import ServiceCreate from "./components/services/ServiceCreate";
    import ServiceEdit from "./components/services/ServiceEdit";
    // Services SubCategories //
    import ServicesSubCategories from './components/services/subcategories/ServiceSubCategories';
    import ServicesSubCategoriesCreate from "./components/services/subcategories/ServiceSubCategoriesCreate";
    import ServicesSubCategoriesEdit from "./components/services/subcategories/ServiceSubCategoriesEdit";
    // Services Categories//
    import ServicesCategories from './components/services/categories/ServiceCategories'
    import ServicesCategoriesCreate from "./components/services/categories/ServiceCategoriesCreate";
    import ServicesCategoriesEdit from "./components/services/categories/ServiceCategoriesEdit";
    // Portfolio //
    import PhotoGallery from './components/PhotoGallery';
    import MediaCreate from './components/portfolio/MediaCreate';
    import MediaEdit from './components/portfolio/MediaEdit';
    // Blog //
    import Blog from './components/Blog';
    import PostCreate from "./components/blog/PostCreate";
    import PostEdit from "./components/blog/PostEdit";
    // Users //
    import Users from './components/Users';
    import UserCreate from './components/users/UserCreate';
    import UserEdit from './components/users/UserEdit';
    // Appointment //
    import Orders from "./components/Orders";
    // Main Settings //
    import MainSettings from "./components/MainSettings";
    // Main Page Settings //
    import MainPageSettings from "./components/MainPageSettings";
    import BannerEdit from "./components/main_page_settings/BannerEdit";
    import ServicesEdit from "./components/main_page_settings/ServicesEdit";
    import ImportantEdit from "./components/main_page_settings/ImportantEdit";
    import AboutEdit from "./components/main_page_settings/AboutEdit";
    import TeamEdit from "./components/main_page_settings/TeamEdit";
    import NewsEdit from "./components/main_page_settings/NewsEdit";
    import PartnersEdit from "./components/main_page_settings/PartnersEdit";
    import BlockquoteEdit from "./components/main_page_settings/BlockquoteEdit";
    import StyleEdit from "./components/main_page_settings/StyleEdit";
    // Clients Section //
    import Subscribers from "./components/Subscribers";
    import Submitters from "./components/Submitters";
    // About Page Settings //
    import AboutPageSettings from "./components/AboutPageSettings";
    import AbBannerEdit from "./components/about_page_settings/AbBannerEdit";
    import AbMainEdit from "./components/about_page_settings/AbMainEdit";
    import AbProfessionalsEdit from "./components/about_page_settings/AbProffessionalsEdit";
    import AbVacanciesEdit from "./components/about_page_settings/AbVacanciesEdit";

    const routes = [
        // Blog //
        {path: '/blog', component:Blog, name: 'blog'},
        {path: '/post/create', component:PostCreate, name: 'post-create'},
        {path: '/post/:id/edit', component:PostEdit, name: 'post-edit', props: true},
        // Services //
        {path: '/services', component:Services, name: 'services'},
        {path: '/services/create', component:ServiceCreate, name: 'service-create'},
        {path: '/services/:id/edit', component:ServiceEdit, name: 'service-edit', props: true},
        // Services Categories //
        {path: '/services-categories', component:ServicesCategories, name: 'services-categories'},
        {path: '/services-categories/create', component:ServicesCategoriesCreate, name: 'services-category-create'},
        {path: '/services-categories/:id/edit', component:ServicesCategoriesEdit, name: 'services-category-edit', props: true},
        // Services SubCategories //
        {path: '/services-subcategories', component:ServicesSubCategories, name: 'services-subcategories'},
        {path: '/services-subcategories/create', component:ServicesSubCategoriesCreate, name: 'services-subcategory-create'},
        {path: '/services-subcategories/:id/edit', component:ServicesSubCategoriesEdit, name: 'services-subcategory-edit', props: true},
        // Portfolio //
        {path: '/photogallery', component:PhotoGallery, name: 'photogallery'},
        {path: 'media/create', component:MediaCreate, name: 'create-media'},
        {path: 'media/:id/edit', component:MediaEdit, name: 'edit-media', props: true},
        // user routes //
        {path: '/users', component:Users, name: 'users'},
        {path: '/users/create', component: UserCreate, name: 'user-create'},
        {path: '/users/:id/edit', component: UserEdit, name: 'user-edit', props: true},
        // Appointments //
        {path: '/orders', component: Orders, name: 'orders'},
        // Main Settings //
        {path: '/main-settings', component: MainSettings, name: 'main-settings'},
        // Main Page Settings //
        {path: '/main-page-settings', component: MainPageSettings, name: 'main-page-settings'},
        {path: '/main-page-banner/:id/edit', component: BannerEdit, name: 'main-page-banner-edit', props: true},
        {path: '/main-page-about/:id/edit', component: AboutEdit, name: 'main-page-about-edit', props: true},
        {path: '/main-page-services/:id/edit', component: ServicesEdit, name: 'main-page-services-edit', props: true},
        {path: '/main-page-important/:id/edit', component: ImportantEdit, name: 'main-page-important-edit', props: true},
        {path: '/main-page-team/:id/edit', component: TeamEdit, name: 'main-page-team-edit', props: true},
        {path: '/main-page-news/:id/edit', component: NewsEdit, name: 'main-page-news-edit', props: true},
        {path: '/main-page-partners/:id/edit', component: PartnersEdit, name: 'main-page-partners-edit', props: true},
        {path: '/main-page-blockquote/:id/edit', component: BlockquoteEdit, name: 'main-page-blockquote-edit', props: true},
        {path: '/main-page-style/:id/edit', component: StyleEdit, name: 'main-page-style-edit', props: true},
        // Clients Section //
        {path: '/subscribers', component: Subscribers, name: 'subscribers'},
        {path: '/submitters', component: Submitters, name: 'submitters'},
        // About Page Settings //
        {path: 'about-page-settings', component: AboutPageSettings, name: 'about-page-settings'},
        {path: '/about-page-banner/:id/edit', component: AbBannerEdit, name: 'about-page-abbanner-edit', props: true},
        {path: '/about-page-about/:id/edit', component: AbMainEdit, name: 'about-page-abmain-edit', props: true},
        {path: '/about-page-professionals/:id/edit', component: AbProfessionalsEdit, name: 'about-page-abprofessionals-edit', props: true},
        {path: '/about-page-vacancies/:id/edit', component: AbVacanciesEdit, name: 'about-page-abvacancies-edit', props: true}
    ];

    const router = new VueRouter({routes}); //mode: 'history',  ??

    export default {
        name: "Dashboard",
        router: router,
        props: ['user'],
        components: {
            'left-menu': LeftMenu,
            'icon': Icon,
        },
        data: function () {
            return {
                authUser:this.user
            }
        }
    }
</script>

<style scoped>

</style>
