<template>
    <div class="main-logo">
        <router-link to="/">
<!--            <icon :icon="iconLogo"></icon>-->
            <img :src="`/resources/img/logo/${iconLogo}.png`" alt="Logo">
        </router-link>
    </div>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    export default {
        name:"SiteLogo",
        components: {
            Icon,
        },
        props:{
            iconLogo :{
                type: String,
                required:true
            }
        },
    }
</script>

