<template>
    <section id="about-bilboard-sction" class="about-bilboard section">
        <slide-panel-right-line/>
        <div class="container">
            <div class="about-bilboard__pre-title">
                Beauty Club
            </div>
            <h2 class="about-bilboard__title font-weight-thin main-title">Prima<strong>Vera</strong></h2>
            <div class="about-bilboard__blockquote">
                мы творим историю внутренней
                гармонии и неотразимого
                внешнего вида
            </div>
        </div>
    </section>
</template>

<script>
    import SlidePanelRightLine from "../../../slidePanel/atoms/SlidePanelRightLine";

    export default {
        name: "AbotPageBillboard",
        components: {
            SlidePanelRightLine
        }
    }
</script>

<style scoped lang="sass">
    .about-bilboard
        position: relative
        text-align: center
        padding: 10.625rem 0 11.875rem
        color: #fff
        background: #000 url('/resources/img/aboutPage/bg_bilboard_abot.jpg')50% / cover no-repeat
        &__pre-title
            font-size: 1.5rem
            text-transform: uppercase
            font-weight: 700
        &__title
            color: #fff
            display: flex
            justify-content: center
            align-items: center
            &:before,
            &:after
                content: ''
                width: 18.75rem
                height: 0.125rem
                background: #fff
                margin: 0 1.875rem
        &__blockquote
            font-family: Playfair Display
            font-style: normal
            font-weight: 700
            font-size: 3rem
            max-width: 60rem
            margin: auto
            text-transform: uppercase
    @media all and (max-width: 75rem)
        .about-bilboard
            padding: 7rem 0 9rem
            &__blockquote
                font-size: 2rem
    @media all and (max-width: 62rem)
        .about-bilboard
            padding: 5rem 0 7rem
    @media all and (max-width: 36.25rem)
        .about-bilboard
            padding: 3rem 0 5rem
            &__blockquote
                font-size: 1.5rem
    @media all and (max-width: 29.375rem)
        .about-bilboard
            padding: 2rem 0 4rem
            &__blockquote
                font-size: 1.1rem
</style>
