<template>
    <section id="professianals-section" class="professianals section">
        <slide-panel-right-action class="dark"/>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 professianals__content vertical-center">
                    <div class="professianals__content-inner">
                        <h3 class="professianals__title"><strong>Профессионалы</strong> своего дела</h3>
                        <div class="professianals__desctiption">
                            <p> Мы заботимся о каждом госте, начиная с самого первого визита. Специалисты всегда предложат лишь только то, что подчеркнет вашу природную красоту и подарит хорошее настроение!</p>
                            <p> Мы ценим ваше время, поэтому предлагаем воспользоваться экспресс услугами по системе «3 в 1» без дополнительной платы. А во время обслуживания можете насладиться чашечкой теплого напитка.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <img src="https://aleksandr_lab.gitlab.io/imageprimavera/about_professianals.jpg" alt="about_professianals">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import SlidePanelRightAction from "../../../slidePanel/molecules/SlidePanelRightAction";

    export default {
        name: "AboutPageProfessianals",
        components:{SlidePanelRightAction},
    }
</script>

<style scoped lang="sass">
    .professianals
        padding: 6.25rem 0
        &__title
            font-size: 4rem
            line-height: 1.1
            padding-bottom: 1.25rem
            font-weight: 700
            & strong
                color: #F7C17B
                font-weight: 700
    @media all and (max-width: 97.5rem)
        .professianals
            padding: 5rem
            &__title
                font-size: 3rem
                & strong
                    display: block
    @media all and (max-width: 62rem)
        .professianals
            padding: 3rem 0 5rem
    @media all and (max-width: 36.875rem)
        .professianals
            padding: 1.5rem 0 2rem
            &__title
                font-size: 2rem

</style>
