<template>
    <section id="section-about-job" class="section about-job">
        <slide-panel-right-action class="dark"/>
        <div class="container">
            <div class="row">
                <div class="col-xl-7 about-job__img">
                    <img src="https://aleksandr_lab.gitlab.io/imageprimavera/about_job.jpg" alt="about_job">
                </div>
                <div class="col-xl-5 about-job__content vertical-center">
                    <div class="about-job__content-inner">
                        <div class="about-job__content-sub-title sub-title sub-title--pre-line">
                            Профессионалы своего дела
                        </div>
                        <h2 class="about-job__content-title main-title">ВАКАНСИИ</h2>
                        <div class="about-job__content-description">
                            <p>Если вы профессионал своего дела, стремитесь к творческому росту, коммуникабельны, энергичны, в меру амбициозны и хотите работать в команде таких же как вы, отправьте нам свое резюме.</p>
                        </div>
                        <div class="about-job__content-action">
                            <button @click="statusModal({name:'modalJobForm',status:true})" class="button button--outline" title="Отправить резюме">Отправить резюме</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import SlidePanelRightAction from "../../../slidePanel/molecules/SlidePanelRightAction";
    import {mapMutations} from "vuex";

    export default {
        name: "AboutPageJob",
        components:{SlidePanelRightAction},
        methods: mapMutations(['statusModal'])
    }
</script>

<style scoped lang="sass">
    .about-job
        padding: 1.875rem 0 6.25rem
        &__content
            padding-left: 2.75rem
            &-description
                font-size: 1.45rem
    @media (min-width: 75rem) and (max-width: 97.5rem)
        .about-job
            &__content
                -webkit-box-flex: 0
                flex: 0 0 58.3333333333%
                max-width: 58.3333333333%
                &-title
                    font-size: 4rem
            &__img
                -webkit-box-flex: 0
                flex: 0 0 41.6666666667%
                max-width: 41.6666666667%
    @media all and (max-width: 75rem)
        .about-job
            padding-top: 0
            &__img
                padding-bottom: 1.5rem
    @media all and (max-width: 62rem)
        .about-job
            padding: 1rem 0 4rem
            &__content
                padding-left: 1rem
    @media all and (max-width: 36.875rem)
        .about-job
            padding-bottom: 2.5rem
            &__content
                text-align: center
</style>
