<template>
    <section id="about-section" class="about section">
        <slide-panel-right-action class="dark"/>
        <div class="container" v-if="aboutData">
            <div class="row align-items-center">
                <div class="col-lg-4" v-if="windowW > 992">
                    <img :src="aboutData.mainImagase.link" :alt="aboutData.mainImagase.name">
                </div>
                <div class="col-lg-8 about__content">
                    <div class="about__content-inner">
                        <h3 class="about__title" v-html="aboutData.content.title"></h3>
                        <p class="about__description" v-html="aboutData.content.description"></p>
                        <blockquote class="about__blockquote" v-html="aboutData.content.blockquot"></blockquote>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row about__gallery"  v-if="windowW > 992">
                        <div class="about__gallery-item" :kay="img.id"  v-for="img in aboutData.gallery" >
                            <img :src="img.link" :alt="img.name"/>
                        </div>
                    </div>
                    <carousel v-else  :loop="true" :per-page="1" :paginationPadding="0" paginationColor="#fff" :navigationEnabled="true" paginationActiveColor="#F7C17B">
                        <slide class="about__gallery-item">
                            <img :src="aboutData.mainImagase.link" :alt="aboutData.mainImagase.name">
                        </slide>
                        <slide class="about__gallery-item"  :key="img.id"  v-for="img in aboutData.gallery" >
                            <img :src="img.link" :alt="img.name"/>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import SlidePanelRightAction from "../../../slidePanel/molecules/SlidePanelRightAction";
    import { Carousel, Slide } from 'vue-carousel';

    export default {
        name: "AboutSection",
        components:{
            SlidePanelRightAction,
            Carousel,
            Slide
        },
        data() {
            return{
                aboutData:null
            }
        },
        computed :mapGetters(['getContent', 'windowW']),
        methods:mapActions(["fetchLazyLoad"]),
        mounted() {
            this.fetchLazyLoad('/our-services');
        },
        watch:{
            getContent(val){
               this.aboutData = {
                   mainImagase: {
                       link: 'https://aleksandr_lab.gitlab.io/imageprimavera/about_section-1.jpg',
                       name: 'about_section-1'
                   },
                   content: {
                       title: 'О нас',
                       description:'PRIMAVERA beauty club - флагманский центр красоты и эстетической медицины-современное оборудование, высочайший профессионализм специалистов и врачей, передовые методики и технологии, максимальная безопасность, высокая эффективность в сочетании с желаемым результатом-это приоритеты нашей работы. Мы постоянно следим за новинками в индустрии красоты и эстетической медицины и применяем их в нашей работе. Новые технологии — это щадящие методы с максимальным результатом. Мы гарантируем вам, потому что выбираем для работы лишь безопасные отвечающие жестким критериям качества, высококлассные косметические средства и аппаратные процедуры от ведущих мировых производителей прошедшие сертификацию в Европе и Америке.',
                       blockquot: '<strong>Наша миссия</strong> — заботиться о красоте и здоровье наших клиентов'
                   },
                   gallery: [
                       {
                           id:1,
                           link: 'https://aleksandr_lab.gitlab.io/imageprimavera/about_section-2.jpg',
                           name: 'about-gallery'
                       }, {
                           id:2,
                           link: 'https://aleksandr_lab.gitlab.io/imageprimavera/about_section-3.jpg',
                           name: 'about-gallery'
                       },{
                           id:3,
                           link: 'https://aleksandr_lab.gitlab.io/imageprimavera/about_section-4.jpg',
                           name: 'about-gallery'
                       }

                   ]
               }
            },
        }
    }
</script>

<style scoped lang="sass">
    .about
        position: relative
        padding-bottom: 4.375rem
        &__title
            font-size: 9rem
            padding-bottom: 1.875rem
        &__content
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            padding-left: 2.125rem
        &__blockquote
            width: 100%
            padding: 1rem 1.875rem
            border: 1px solid #F7C17B
            font-size: 1.5rem
            text-transform: uppercase
            line-height: 1.1
            & strong
                color: #F7C17B
        &__gallery
            justify-content: center
            &>:nth-child(odd)
                max-width: 37.5%
                flex: 0 0 37.5%
            &>:nth-child(even)
                max-width: 25%
                flex: 0 0 25%
            &-item
                padding: 1.875rem 1rem
                & img
                    width: 100%
                    height: 100%
                    object-fit: cover
    @media all and (max-width: 75rem)
        .about
            &__title
                font-size: 6rem
                padding-bottom: 0
    @media all and (max-width: 62rem)
        .about
            &__gallery
                 .about &-item
                    max-width: 100%
                    flex: 0 0 100%
                    & img
                        height: 80vw
    @media all and (max-width: 36.25rem)
        .about
            padding-bottom: 2rem
            &__title
                font-size: 4rem
            &__blockquote
                padding: 0.8rem 1.2rem
                margin-bottom: 0
                font-size: 1.1rem
</style>
<style lang="sass">
    #about__section
        .about
            &__blockquote
                & strong
                    color: #F7C17B
</style>
