<template>
    <div class="video-gallery-modal" id="video-gallery-modal" v-if="idVideo">
        <h3 class="video-gallery-modal__title" v-html="'PRIMAVERA beauty club - презентация салона красоты'"></h3>
        <div class="video-gallery-modal__video-box">
            <youtube
                width="100%"
                height="500"
                :video-id="idVideo"
                ref="youtube"
                @ready="ready"
                @paused="paused($refs.youtube.player)"
                :player-vars="playerVars"
            ></youtube>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "VideoGalleryModal",
        data(){
            return{
                idVideo: null,
                playerVars:{
                    rel: 0,
                }
            }
        },
        methods:{
            async ready() {
                if(this.$refs.youtube){
                    const timeVideo = localStorage.videoGallery ? JSON.parse(localStorage.videoGallery) : null;
                    if(timeVideo && timeVideo[this.idVideo]){
                        return await this.$refs.youtube.player.seekTo(timeVideo[this.idVideo])
                    }
                    return await this.$refs.youtube.player.playVideo();
                }
            },
           async paused(player){
               let jsonVideo = localStorage.videoGallery ? JSON.parse(localStorage.videoGallery) : {};
               const allTimeVideo = await  player.getDuration();
               jsonVideo[this.idVideo] = await player.getCurrentTime();
               if(jsonVideo[this.idVideo]>=(allTimeVideo-3)){
                   jsonVideo[this.idVideo] = 0;
               }
              return  localStorage.videoGallery = JSON.stringify(jsonVideo);
            }
        },
        computed:mapGetters(['getVideoModalContent']),
        mounted() {
            this.idVideo = this.$youtube.getIdFromUrl(this.getVideoModalContent.video_link);
            this.ready();
        },
        beforeDestroy(){
            this.paused(this.$refs.youtube.player);
        }
    }
</script>

<style  lang="sass">
    .video-gallery-modal
        &__video-box iframe
            max-width: 100%
            max-height: 100%
        &__title
            padding: 1.5rem 0
            max-width: 90%
</style>
