<template>
    <section id="video-gallery-preview-section" class="video-gallery-preview section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 video-gallery-preview__box-col">
                    <div class="video-gallery-preview__box" @click="$emit('videoClick')">
                        <img src="https://aleksandr_lab.gitlab.io/imageprimavera/main_imag_video_gallery.jpg" alt="main_imag_video_gallery">
                        <h3 class="video-gallery-preview__title">PrimaVera beauty club - презентация салона красоты</h3>
                        <div class="video-gallery-preview__action">
                            <button-you-tube/>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="video-gallery-preview__content vertical-center h-100" v-if="windowW>768">
                        <div class="video-gallery-preview__content-inner">
                            <icon icon="video_gallery"/>
                            <h1 class="font-weight-thin main-title">
                                <strong>Видео</strong> галерея
                            </h1>
                        </div>
                    </div>
                    <h1 class="font-weight-thin main-title" v-else>
                        <strong>Видео</strong> галерея
                    </h1>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    import ButtonYouTube from "../../../button/ButtonYouTube";
    import {mapGetters} from "vuex";
    export default {
        name: "VideoGalleryPreview",
        components:{
            Icon,
            ButtonYouTube
        },
        props:{
            mainVideo:{
                type: Object,
                required: true
            }
        },
        computed:mapGetters(['windowW'])
    }
</script>

<style scoped lang="sass">
    .video-gallery-preview
        padding-top: 3.125rem
        &__box
            position: relative
        &__title
            position: absolute
            bottom: 3.125rem
            text-align: center
            width: 100%
            color: #fff
            background: rgba(19, 22, 24, 0.65)
            padding: 1.25rem 1rem
        &__content
            border: 0.25rem solid #131618
            &-inner
                padding: 0 6.875rem
                & h2
                    padding-top: 0.625rem
    @media all and (max-width: 85rem)
        .main-title
            font-size: 4.5rem
        .video-gallery-preview
            &__title
                bottom: 1.5rem
                font-size: 1.125rem
    @media all and (max-width: 75rem)
        .video-gallery-preview
            &__title
                padding: 0.7rem 0.5rem
                font-size: 1rem
                bottom: 1rem
        .main-title
            font-size: 3.5rem
    @media all and (max-width: 48rem)
        .video-gallery-preview
            & .container>.row
                flex-direction: column-reverse
            &__box-col
                padding: 0
        .main-title
            text-align: center
            padding-bottom: 2.5rem
    @media all and (max-width: 36.25rem)
        .video-gallery-preview
            padding-top: 1.5rem
        .main-title
            font-size: 3rem
            padding-bottom: 1.5rem
</style>

<style lang="sass">
    .video-gallery-preview
        & strong
            color: inherit
</style>
