<template>
    <section id="section-services" class="services section" v-if="services">
        <slide-panel-right-action class="dark"/>
        <div class="container">
            <div class="services__list row  justify-content-center">
                <home-page-services-content :text="text"/>
                <home-page-services-item
                  v-if="windowW>767"
                  v-for="item in services"
                  :service="item"
                  :key="item.id"/>
                <div class="mobile-slider" v-if="windowW<767">
                    <carousel
                      :loop="true"
                      :per-page="1"
                      :paginationEnabled="false"
                      :navigateTo="Number(activeItem)"
                      @page-change="activeItem = $event" >
                        <slide v-for="item in services" :key="item.id">
                            <home-page-services-item :link-title="true" :service="item"/>
                        </slide>
                    </carousel>
                    <div class="pagination__slider">
                        <input
                          type="range"
                          step="1" min="0"
                          :max="services.length-1"
                          v-model="activeItem">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Carousel, Slide } from 'vue-carousel';
import homePageServicesContent from '../molecules/HomePageServicesContent';
import homePageServicesItem from '../atom/HomePageServicesItem';
import SlidePanelRightAction from '../../../slidePanel/molecules/SlidePanelRightAction';

export default {
  name: 'homePageServices',
  data() {
    return {
      services: null,
      text: null,
      activeItem: 0,
    };
  },
  components: {
    homePageServicesContent,
    homePageServicesItem,
    SlidePanelRightAction,
    Carousel,
    Slide,
  },
  computed: mapGetters(['getContent', 'windowW']),
  methods: mapActions(['fetchLazyLoad']),
  watch: {
    getContent: {
      handler(val) {
        const data = _.find(val, el => el.services);
        if (!_.isEmpty(data)) {
          this.services = data.services;
          this.text = data.text;
        }
      },
      immediate: true,
    },
  },
  mounted() {
    this.fetchLazyLoad('/our-services');
  },
};
</script>

<style scoped  lang="sass">
    .services
        padding: 6.25rem 0 6.875rem
    .mobile-slider
        max-width: 100%
    .pagination__slider
        padding: 0 1rem
        & input[type=range]
            -webkit-appearance: none
            width: 100%
            &:focus
                outline: none
            &::-webkit-slider-runnable-track
                background: #ffffff
            &::-ms-fill-lower
                background: #f5f5f5
                border-radius: 0.3125rem
            &::-ms-fill-upper
                background: #ffffff
            &::-webkit-slider-runnable-track
                width: 100%
                height: 0.625rem
                cursor: pointer
                background: #f5f5f5
                border-radius: 0.3125rem
                border: none
            &::-webkit-slider-thumb
                border: none
                height: 0.625rem
                width: 4.375rem
                border-radius: 0.3125rem
                background: #f7c17b
                cursor: pointer
                -webkit-appearance: none
            &::-moz-range-track
                width: 100%
                height: 0.625rem
                cursor: pointer
                background: #f5f5f5
                border-radius: 0.3125rem
                border: none
            &::-moz-range-thumb
                border: none
                height: 0.625rem
                width: 4.375rem
                border-radius: 0.3125rem
                background-color: #f7c17b
                cursor: pointer
            &::-moz-focus-outer
                border: 0
            &::-ms-track
                width: 100%
                height: 0.625rem
                cursor: pointer
                background: transparent
                border-color: transparent
                color: transparent
            &::-ms-fill-lower
                background: #f5f5f5
                border: none
                border-radius: 0.3125rem
            &::-ms-fill-upper
                background: #f5f5f5
                border: none
                border-radius: 0.3125rem
            &::-ms-thumb
                border: none
                height: 0.625rem
                width: 4.375rem
                border-radius: 0.3125rem
                background: #f7c17b
                cursor: pointer

    @media all and (max-width: 75rem)
        .services
            padding: 1.25rem 0 3.125rem
    @media all and (max-width: 36.25rem)
        .services
            padding-bottom: 2.5rem
</style>

<style lang="sass">
    @media (min-width: 75rem) and (max-width: 111.25rem)
        .services
            &__list
                &>:nth-child(2)
                    flex: 0 0 50%
                    max-width: 50%
                    & .services__item
                        &-inner
                            height: 100%
                        &-images
                            padding: 0
                            height: 100%
    @media (min-width: 75rem) and (max-width: 85.625rem)
        .services
            &__list
                & .services__item:not(:nth-child(2))
                    flex: 0 0 33.3333333333%
                    max-width: 33.3333333333%

</style>
