<template>
    <section id="section-team" class="team section">
        <slide-panel-right-action class="dark"/>
        <div class="container"  v-if="teamContent">
            <home-page-team-content :teamContent="teamContent"/>
            <div class="row justify-content-center" v-if="windowW>767">
                <home-page-team-item v-for="item in team" :content="item" :key="item.id"/>
            </div>
            <carousel
              v-else
              :loop="true"
              :per-page="1"
              :paginationPadding="0"
              paginationColor="#fff"
              :navigationEnabled="true"
              paginationActiveColor="#F7C17B">
                <slide v-for="item in team" :key="item.id">
                    <home-page-team-item  :content="item"/>
                </slide>
            </carousel>
        </div>
    </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Carousel, Slide } from 'vue-carousel';
import HomePageTeamContent from '../molecules/HomePageTeamContent';
import HomePageTeamItem from '../atom/HomePageTeamItem';
import SlidePanelRightAction from '../../../slidePanel/molecules/SlidePanelRightAction';

export default {
  name: 'HomePageTeam',
  components: {
    HomePageTeamContent,
    HomePageTeamItem,
    SlidePanelRightAction,
    Carousel,
    Slide,
  },
  data() {
    return {
      team: null,
      teamContent: null,
    };
  },
  computed: mapGetters(['getContent', 'windowW']),
  methods: mapActions(['fetchLazyLoad']),
  watch: {
    getContent: {
      handler(val) {
        let data = _.find(val, (el) => el.team);
        if (!_.isEmpty(data)) {
          data = data.team;
          this.teamContent = data;
        }
        this.team = [
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 1,
          },
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 2,
          },
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 3,
          },
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 4,
          },
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 5,
          },
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 6,
          },
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 7,
          },
          {
            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/Rectangle%202.2.jpg',
            name: '<strong>Марина</strong> Егорова',
            profession: 'Врач-косметолог, дерматолог',
            id: 8,
          },
        ];
      },
      immediate: true,
    },
  },
  mounted() {
    this.fetchLazyLoad('/team');
  },
};
</script>

<style scoped  lang="sass">
    .team
        position: relative
        padding: 6.25rem 0 1.25rem
        &:before
            content: ""
            position: absolute
            top: -6.25rem
            width: 45%
            height: 31.25rem
            background: #fff url(/resources/img/homePage/bg_team_home.png)50% no-repeat
    @media all and (max-width: 75rem)
        .team
            padding:  2.5rem 0 2.5rem
            &:before
                width: 100%
                left: -5.5rem
                top: -6.25rem
                z-index: -1

</style>

<style lang="sass">
    #section-team,
    #about-section
        & .VueCarousel
            &-navigation
                &-button
                    bottom: 0
                    margin: auto
                    top: -20%
            &-dot
                margin: 0 0.3125rem!important
                padding: 0!important
                border: 0.0625rem solid #131618
                &:focus
                    outline: none
                &--active
                    border-color: #F7C17B
                &-container
                    margin: 0!important
</style>
