<template>
    <section id="important-billboard" class="section billboard">
        <slide-panel-right-line/>
        <div class="container" v-if="content">
            <h3 class="billboard__title main-title" v-html="content.title"></h3>
            <div class="billboard__description" v-html="content.description "></div>
            <button-order/>
        </div>
    </section>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import buttonOrder from "../../../button/buttonOrder";
    import SlidePanelRightLine from "../../../slidePanel/atoms/SlidePanelRightLine";

    export default {
        name: "HomePageBillboard",
        data(){
            return{
                content:null
            }
        },
        components:{
            buttonOrder,
            SlidePanelRightLine
        },
        computed :mapGetters(['getContent']),
        methods:mapActions(['fetchLazyLoad']),
        watch:{
            getContent(val){
                this.content={
                    title: 'Ваш стиль в надежных руках',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing.',
                }
            }
        },
        mounted() {
            this.fetchLazyLoad('/important');
        },
    }
</script>

<style scoped lang="sass">
    .billboard
        padding: 3.125rem 0
        background: #000 url('/resources/img/homePage/bg_billboard_home.jpg')50% / cover no-repeat
        &__title
            text-align: center
            color: #fff
            font-size: 3rem
            margin-bottom: 1rem
        &__description
            max-width: 45rem
            margin: 0 auto 1.25rem
            text-align: center
            font-size: 1.1rem
            color: #fff
    @media (max-width: 36.25rem)
        .billboard
            padding: 3.75rem 0
            &__title
                font-size: 2.5rem
</style>
