<template>
    <section
      id="home-banner"
      class="banner banner--full section"
      :class="{'banner--load': windowLoad}">
        <slide-panel-right-action/>
        <div class="banner__content container" @click="togglePanelRight(false)">
            <div class="banner__content--inner">
                <h1 class="banner__title font-weight-thin col-12">
                    <icon icon="prima_vera"></icon>
                </h1>
                <div class="banner__subtitle col-12">
                    <span class="banner__subtitle-text">
                         Салон красоты Premium-класса в центре города
                    </span>
                </div>
                <div class="banner__action col-12">
                    <button
                      class="button banner__button"
                      @click="statusModal({name:'modalForm',status:true}); currentClick()">
                        Записаться на приём
                    </button>
                </div>
            </div>
           <button-next-section class="banner__button-next"/>
        </div>
        <home-page-background-video/>
    </section>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex';
import Icon from 'laravel-mix-vue-svgicon/IconComponent.vue';
import HomePageBackgroundVideo from '../atom/HomePageBackgroundVideo';
import ButtonNextSection from '../../../button/ButtonNextSection';
import SlidePanelRightAction from '../../../slidePanel/molecules/SlidePanelRightAction';

export default {
  name: 'HomePageBanner',
  components: {
    HomePageBackgroundVideo,
    ButtonNextSection,
    SlidePanelRightAction,
    Icon,
  },
  data() {
    return {
      timer: null,
      timerCount: 0,
    };
  },
  computed: mapGetters(['windowLoad']),
  methods: {
    ...mapMutations(['statusModal', 'togglePanelRight']),
    currentClick() {
      clearTimeout(this.timer);
    },
  },
  watch: {
    timerCount(val) {
      if (val > 41) {
        this.statusModal({ name: 'modalForm', status: true });
        clearTimeout(this.timer);
      }
    },
  },
  mounted() {
    // eslint-disable-next-line no-restricted-globals
    if ('scrollRestoration' in history) history.scrollRestoration = 'manual';
    this.timer = setInterval(() => this.timerCount += 1, 1000);
  },
};
</script>

<style scoped lang="sass">
    .banner
        position: relative
        &__content
            position: relative
            z-index: 5
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            width: 100%
            height: 100%
            color: #fff
            overflow: hidden
        &__title
            color: #fff
            & strong
                color: #f7c17b
        &__subtitle
            font-size: 1.1rem
            padding-bottom: 1.875rem
            text-transform: uppercase
            overflow: hidden
            &-text
                display: block
                transform: translateY(-100%)
                transition: 0.8s ease
                font-weight: 400
        &__action
            overflow: hidden
        &__button
            transition: 0.8s ease 0.3s
            transform: translateY(-100%)
            background: transparent
            color: #fff
            border-color: #fff
            height: 50px
            width: 230px
            &-next
                transform: translateY(10rem)
                transition: 1s ease 0.5s
        &:before
            content: ''
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            background: rgba(0,0,0,0.25)
            z-index: 2
        &--full
            width: 100%
            height: 100vh
        &--load
            .banner
                &__subtitle
                    &-text
                        transform: translateY(0)
                &__button
                    transform: translateY(0)
                    &-next
                        transform: translateY(0)
    @media all and (max-width: 62rem)
        .banner
            &--full
                height: calc(100vh - 4.375rem)
    @media all and (max-width: 35.625rem)
        .banner
            &__subtitle
                font-size: 0.875rem
</style>

<style lang="sass">
    @media all and (max-width: 62rem)
        .banner
            &__title
                & svg
                    width: 100%
</style>
