<template>
    <section id="news-section" class="news section">
        <slide-panel-right-action class="dark"/>
        <div class="container" v-if="content">
            <h2 class="news__title font-weight-thin">BEAUTY <strong>NEWS</strong></h2>
            <!--v-html="content.title"-->
            <div class="news__description">
                В этом разделе вы можете ознакомиться с нашими новостями,
                поезными статьями, событиями и просто интересными материалами
            </div>
            <!-- v-html="content.text"-->
            <home-page-news-filter :posts="posts"/>
            <div class="news__action">
                <a href="#" class="button button--outline">Ко всем материалам</a>
            </div>
        </div>
    </section>
</template>

<script>
    import HomePageNewsFilter from "../molecules/HomePageNewsFilter";
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import SlidePanelRightAction from "../../../slidePanel/molecules/SlidePanelRightAction";

    export default {
        name: "HomePageNews",
        components:{
            HomePageNewsFilter,
            SlidePanelRightAction,
        },
        data(){
            return{
                content: null,
                posts: null
            }
        },
        computed :mapGetters(['getContent']),
        methods:{
            ...mapActions(['fetchLazyLoad']),
            ...mapMutations(['categoryNews']),
        },
        watch:{
            getContent(val){
                val.filter(el => el.news).map(item => {
                    this.content = item.news;
                    this.posts = item.categoriesWithPosts;
                });
            }
        },
        mounted() {
            this.fetchLazyLoad('/news');
        },
    }
</script>

<style scoped lang="sass">
    .news
        padding: 6.25rem 0
        background: url("/resources/img/homePage/bg_beauty_news_home.png") 50% 75px /auto no-repeat
        &__title
            text-align: center
        &__description
            font-size: 1.1rem
            max-width: 37.5rem
            text-align: center
            margin: 0 auto 1.25rem
            font-weight: 400
        &__action
            text-align: center
            padding-top: 2.5rem
    @media all and (max-width: 75rem)
        .news
            padding: 3.25rem 0
    @media (max-width: 36.25rem)
        .news
            padding: 2.5rem 0 3.75rem
            &__description
                font-size: 1rem
</style>
