<template>
    <section id="about-section" class="about section">
        <slide-panel-right-action/>
        <div class="container">
            <div class="row about__row">
                <home-page-about-video v-if="video" :video="video"/>
                <home-page-about-content v-if="content" :content="content" class="light-content"/>
            </div>
        </div>
    </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import HomePageAboutVideo from '../molecules/HomePageAboutVideo';
import HomePageAboutContent from '../molecules/HomePageAboutContent';
import SlidePanelRightAction from '../../../slidePanel/molecules/SlidePanelRightAction';

export default {
  name: 'HomePageAbout',
  components: {
    HomePageAboutVideo,
    HomePageAboutContent,
    SlidePanelRightAction,
  },
  data() {
    return {
      video: null,
      content: {},
    };
  },
  computed: mapGetters(['getContent']),
  methods: mapActions(['fetchLazyLoad']),
  watch: {
    getContent: {
      handler(val) {
        let data = _.find(val, el => el.about);
        if (!_.isEmpty(data)) {
          data = data.about;
          this.video = {
            image: 'https://i.ytimg.com/vi/3Z_7uCm6X-0/maxresdefault.jpg',
            video: data.video.value,
          };
          this.content = data;
        }
      },
      immediate: true,
    },
  },
  mounted() {
    this.fetchLazyLoad('/about');
  },
};
</script>

<style scoped lang="sass">
    .about
        padding: 15rem 0
        background: #000 url('/resources/img/homePage/bg_about_home.jpg')50% / cover no-repeat
    @media all and (max-width: 75rem)
        .about
            padding: 3.75rem 0 0
            &__row
                flex-direction: column-reverse
</style>
