<template>
    <section id="section-magazine" class="magazine section">
        <slide-panel-right-line class="dark"/>
        <home-page-magazine-content/>
        <home-page-magazine-slider />
    </section>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import HomePageMagazineContent from "../molecules/HomePageMagazineContent";
    import HomePageMagazineSlider from "../molecules/HomePageMagazineSlider";
    import SlidePanelRightLine from "../../../slidePanel/atoms/SlidePanelRightLine";
    export default {
        name: "HomePageMagazine",
        components:{
            HomePageMagazineContent,
            HomePageMagazineSlider,
            SlidePanelRightLine
        },
        computed:mapGetters(['getContent']),
        methods: {
            ...mapActions(["fetchLazyLoad"]),
            ...mapMutations(['currentMagazine']),
        },
        mounted() {
           // this.fetchLazyLoad('/magazines');
        },
        watch:{
            getContent(val){
                this.currentMagazine();
            }
        }
    }
</script>

<style scoped lang="sass">
    .magazine
        padding-bottom: 6.25rem
    @media (max-width: 36.25rem)
        .magazine
            padding-bottom: 0.625rem
</style>
