<template>
    <section id="testimonials-section" class="testimonials section">
        <slide-panel-right-action/>
        <div class="testimonials__inner" v-if="content"  :style="`background:url(${content.bg}) 50% / cover no-repeat`">
            <div class="testimonials__container container">
                <div class="testimonials__separator">
                    <icon icon="testimonials-icon"></icon>
                </div>
                <div class="testimonials__title" v-html="content.title"></div>
                <div class="testimonials__author" v-html="content.author"></div>
            </div>
        </div>
    </section>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    import {mapGetters, mapActions} from "vuex";
    import SlidePanelRightAction from "../../../slidePanel/molecules/SlidePanelRightAction";
    export default {
        name: "HomePageTestimonials",
        components: {
            Icon,
            SlidePanelRightAction,
        },
        data(){
            return{
                content:null
            }
        },
        computed :mapGetters(['getContent']),
        methods:mapActions(["fetchLazyLoad"]),
        watch:{
            getContent(val){
                this.content= {
                        id:1,
                        title: 'Мы не можем остановить время, но мы можем управлять им!',
                        author: 'Екатерина Константинопольская',
                        bg: 'https://aleksandr_lab.gitlab.io/imageprimavera/testimonials2.jpg'
                    };
            }
        },
        mounted() {
            this.fetchLazyLoad('/important');
        },
    }
</script>

<style scoped lang="sass">
    .testimonials
        &__container
            max-width: 81.25rem
            margin: auto
            padding: 13.75rem 1rem
            text-align: center
            color: #fff
        &__separator
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 45px
            &:before,
            &:after
                content: ""
                display: block
                width: 18.75rem
                height: 0.25rem
                margin: 0 1.875rem
                background: #fff
        &__title
            font-family: Playfair Display
            font-size: 4rem
            padding-bottom: 1.25rem
            font-weight: 700
            text-transform: uppercase
        &__author
            font-size: 1.25rem
            font-weight: 500
            font-style: italic
    @media all and (max-width: 97.5rem)
        .testimonials
            &__title
                font-size: 3rem
    @media all and (max-width: 85rem)
        .testimonials
            &__container
                max-width: 65rem
    @media all and (max-width: 85rem)
        .testimonials
            &__container
                max-width: 55rem
                padding: 6.75rem 1rem
    @media all and (max-width: 36.25rem)
        .testimonials
            &__container
                padding: 3.75rem 1rem
            &__title
                font-size: 1.5rem
            &__author
                font-size: 0.875rem
</style>
