<template>
    <section id="section-subscription" class="section subscription">
        <slide-panel-right-line class="dark"/>
        <div class="container">
            <div class="subscription__content">
                <div class="subscription__pre-title main_preview">только полезный контент</div>
                <h2 class="subscription__title">будьте в курсе</h2>
                <div class="subscription__sub-title">подпишитесь на наши новости и обновления</div>
            </div>
            <form @submit.prevent="handlerSubmit" class="subscription__form">
                <div class="subscription__form-group">
                    <input v-model="formSubscription.email" type="email" required class="subscription__form-control" placeholder="Введите адрес электронной почты">
                    <button class="subscription__submit button">Подписаться</button>
                    <div class="col-12 form-error" v-if="error">
                        {{error}}
                    </div>
                    <div class="col-12 form-success" v-if="success">
                        {{success}}
                    </div>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import SlidePanelRightLine from "../../../slidePanel/atoms/SlidePanelRightLine";

    export default {
        name: "HomePageS",
        components:{
            SlidePanelRightLine,
        },
        data(){
            return{
                formSubscription:{
                    email: null
                },
                error: null,
                success: null
            }
        },
        computed:mapGetters(['getResponse', 'errorMessage']),
        methods:{
            ...mapActions(['sendForms']),
            handlerSubmit(){
                this.sendForms({data:this.formSubscription, url:'/add-subscriber'})
            }
        },
        watch:{
            getResponse(val){
                if(val.error){
                    this.error = this.errorMessage.server;
                }else {
                    this.success = 'Спасибо за подписку';
                }
            }
        }
    }
</script>

<style scoped lang="sass">
    .subscription
        background: url("/resources/img/homePage/bg_subscription_home.png") 50% no-repeat
        padding: 6.875rem 0
        &__content
            text-transform: uppercase
            text-align: center
        &__title
            line-height: 1
            padding-bottom: 1rem
        &__sub-title
            font-size: 1.5rem
            font-weight: 500
            padding-bottom: 2.5rem
        &__form
            &-group
                display: flex
                flex-wrap: wrap
                justify-content: center
            &-control
                max-width: 25rem
                padding: 1rem 2.5rem
                height: 3.75rem
                border-radius: 0
            &-error
                text-align: center
                padding: 1rem
                color: red
        &__submit
            color: #fff
            background: #131618
            border: none
            width: 14.375rem
            height: 3.75rem
            &:hover
                background: darken(#131618, 10%)
    @media all and (max-width: 62rem)
        .subscription
            padding: 4.5rem 0
    @media all and (max-width: 36.25rem)
        .subscription
            padding: 2.5rem 0
            &__title
                padding: 0.625rem 0
            &__sub-title
                font-size: 1.125rem
                padding-bottom: 1.875rem
            &__form
                &-control
                    padding: 1rem 1.875rem
                    height: 3.125rem
                    font-size: 0.875rem
            &__submit
                height: 3.125rem
                width: 100%
                max-width: 18.125rem
</style>
