<template>
    <section id="important-section" class="section important">
        <slide-panel-right-line/>
        <div class="container">
            <h2 class="important__title main-title">О важном</h2>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6 important__item" v-if="content" :key="item.id"  v-for="item in content">
                    <div class="important__description" v-html="item.text"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters, mapActions} from "vuex";
    import SlidePanelRightLine from "../../../slidePanel/atoms/SlidePanelRightLine";

    export default {
        name: "HomePageAboutImportant",
        components:{SlidePanelRightLine},
        data(){
            return{
                content:null
            }
        },
        computed :mapGetters(['getContent']),
        methods:mapActions(["fetchLazyLoad"]),
        watch:{
            getContent(val){
                this.content=[
                    {
                        id:1,
                        text:'Безопасность наших клиентов – превыше всего. Поэтому стерилизация инструментов – это наша первостепенная задача. Каждый инструмент проходит 4-ступенчатую процедуру очистки и стерилизации, а все расходные материалы одноразовые. ',
                    },
                    {
                        id:2,
                        text:'Мы гарантируем, покидая наш центр вы получите стабильно качественный результат - красивое и здоровое тело, ухоженное помолодевшее лицо и здоровые волосы! ',
                    },
                    {
                        id:3,
                        text:'Мы искренне верим – красота не требует жертв! Каждый из нас красив от природы! Поэтому главная наша задача – умело подчеркнуть и оживить все прекрасное, что скрыто в нас!',
                    }
                ]
            }
        },
        mounted() {
            this.fetchLazyLoad('/important');
        },
    }
</script>

<style scoped lang="sass">
    .important
        padding: 6.25rem 0
        background: #000 url('/resources/img/homePage/bg_important_home.jpg')50% / cover no-repeat
        &__title
            text-align: center
            color: #fff
            margin-bottom: 3.125rem
        &__item
            padding-bottom: 1.25rem
        &__description
            font-size: 0.875rem
            line-height: 1.5rem
            color: #fff
            &:before
                content: ""
                display: block
                width: 100%
                height: 0.25rem
                margin-bottom: 1rem
                background: #F7C17B
    @media (max-width: 36.25rem)
        .important
            padding:  2.5rem 0
            &__title
                margin-bottom: 1.25rem
            &__description
                position: relative
                padding-left: 1.25rem
                &:before
                    width: 0.25rem
                    height: calc(100% - 0.5rem)
                    background: #F7C17B
                    position: absolute
                    left: 0
                    top: 0.3rem
</style>
