<template>
    <section id="our-partners-section" class="our-partners section">
        <slide-panel-right-action class="dark"/>
        <div class="container" v-if="content">
            <div class="row">
                <div class="col-md-4 our-partners__content">
                    <h2 class="our-partners__title font-weight-thin" v-html="content.title"></h2>
                </div>
                <div class="col-md-8 our-partners__list pl-md-4">
                    <div class="row">
                        <home-page-our-partners-item class="col-lg-3" v-for="partner in content.partners" :key="partner.id" :partner="partner"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import HomePageOurPartnersItem from "../atom/HomePageOurPartnersItem";
    import {mapActions, mapGetters} from "vuex";
    import SlidePanelRightAction from "../../../slidePanel/molecules/SlidePanelRightAction";

    export default {
        name: "HomePageOurPartners",
        components:{
            HomePageOurPartnersItem,
            SlidePanelRightAction,
        },
        data(){
            return{
                content:null
            }
        },
        computed :mapGetters(['getContent']),
        methods:mapActions(["fetchLazyLoad"]),
        watch:{
            getContent(val){
                this.content={
                    title: 'Наши <strong>Партнеры</strong>',
                    partners: [
                        {
                            id: 1,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_1.png',
                            link: '#'
                        },{
                            id: 2,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_2.png',
                            link: '#'
                        },{
                            id: 3,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_3.png',
                            link: '#'
                        },{
                            id: 4,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_4.png',
                            link: '#'
                        },{
                            id: 5,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_5.png',
                            link: '#'
                        },{
                            id: 6,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_6.png',
                            link: '#'
                        },{
                            id: 7,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_7.png',
                            link: '#'
                        },{
                            id: 8,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_8.png',
                            link: '#'
                        },{
                            id: 9,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_9.png',
                            link: '#'
                        },{
                            id: 10,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_10.png',
                            link: '#'
                        },{
                            id: 11,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_11.png',
                            link: '#'
                        },{
                            id: 12,
                            img: 'https://aleksandr_lab.gitlab.io/imageprimavera/logo_partners_12.png',
                            link: '#'
                        }
                    ]
                }
            }
        },
        mounted() {
            this.fetchLazyLoad('/important');
        },
    }
</script>

<style scoped lang="sass">
    .our-partners
        padding: 6.25rem 0
        &__title
            padding: 7.5rem 2.5rem 2.5rem
            border: 0.25rem solid #131618
            font-size: 4.5rem
    @media all and  (max-width: 111.25rem)
        .our-partners
            &__title
                font-size: 3.75rem
    @media all and  (max-width: 97.5rem)
        .our-partners
            &__content
                -webkit-box-flex: 0
                flex: 0 0 41.6666666667%
                max-width: 41.6666666667%
            &__list
                -webkit-box-flex: 0
                flex: 0 0 58.3333333333%
                max-width: 58.3333333333%
    @media all and  (max-width: 75rem)
        .our-partners
            padding: 4.25rem 0 3rem
            &__title
                padding-top: 4.5rem
                margin-bottom: 1rem
            &__content,
            &__list
                -webkit-box-flex: 0
                flex: 0 0 100%
                max-width: 100%
    @media all and (max-width: 36.25rem)
        .our-partners
            padding: 2.5rem 0 1.25rem
            &__title
                font-size: 2.5rem
                padding: 1.5rem
</style>
