<template>
    <div :id="'single-service-sub-cutegory-page-'+data.id" class="single-service-sub-cutegory-page" v-if="data">
        <main-header/>
        <banner-section
            :banner-images="data.image"
            :title="data.title"
            :sub-title="price"
            :bg-overlay="true"
        />
        <div class="position-relative">
            <slide-panel-right-action class="dark"/>
            <single-service-sub-category-content :content="data"/>
            <services-page-certificate/>
        </div>
    </div>
</template>

<script>
    import ServicesPageCertificate from "../servicesPage/organism/ServicesPageCertificate";
    import BannerSection from "../../banner/BannerSection";
    import MainHeader from "../../header/MainHeader";
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";
    import {mapActions, mapGetters} from "vuex";
    import SingleServiceSubCategoryContent from "./organism/SingleServiceSubCategoryContent";

    export default {
        name: "SingleServiceSubCategory",
        components:{
            MainHeader,
            BannerSection,
            ServicesPageCertificate,
            SlidePanelRightAction,
            SingleServiceSubCategoryContent,
        },
        data(){
            return{
                data:null,
                price:null
            }
        },
        computed: mapGetters(['getContent']),
        methods:mapActions(['fetchLazyLoad']),
        mounted() {
            this.fetchLazyLoad('/services/inside/'+this.$route.params.slug)
        },
        watch:{
            getContent(val){
                const resp = val.filter(el=>el.service);
                if(!_.isEmpty(resp)){
                    this.data = resp[0].service;
                    const price = this.data.services.map(el=>el.price);
                    this.price = `${Math.min(...price)} &ndash; ${Math.max(...price)} грн`;
                }
            }
        }
    }
</script>

<!--style in ../singleService/SingleService-->
