<template>
    <div id="page-services" class="page-services">
        <slide-panel-right-action class="dark"/>
        <main-header :lightHeader="true"/>
        <services-page-services/>
        <services-page-certificate/>
    </div>
</template>

<script>
    import MainHeader from "../../header/MainHeader";
    import ServicesPageServices from "./organism/ServicesPageServices";
    import ServicesPageCertificate from "./organism/ServicesPageCertificate";
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";

    export default {
        components:{
            MainHeader,
            ServicesPageServices,
            ServicesPageCertificate,
            SlidePanelRightAction,
        },

    }
</script>
<style lang="sass" scoped>
    .page-services
        position: relative
</style>
