<template>
    <div class="col-md-10">
        <h1>Категории Услуг</h1>
        <div class="btn btn-success">
            <router-link :to="{name : 'services-category-create'}">
                Добавить Категорию Услуг
            </router-link>
        </div>
        <table>
            <thead class="table table-bordered">
            <tr>
                <th>Название</th>
                <th>Порядок Вывода</th>
                <th>Описание</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="category in servicesCategories">
                    <td v-html="category.title"></td>
                    <td>{{ category.sort_order }}</td>
                    <td>...
<!--                        <span v-html="category.text"></span>-->
                    </td>
                    <td class="btn badge-info">
                        <router-link :to="{name : 'services-category-edit',
                                                params: {id: category.id}
                                               }"
                        >Редактировать</router-link>
                    </td>
                    <td class="bth btn-danger"
                        @click="remove"
                        :id="category.id"
                    >Удалить</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ServiceCategories",
        data(){
            return {
                servicesCategories : null
            }
        },
        mounted() {
            axios.get('/admin/service-categories')
                 .then(
                    (response) => {
                        this.servicesCategories = response.data;
                    },
                    (error) => {

                    }
                 );
        },
        methods : {
            remove(event){
                axios.delete('/admin/service-categories/'+event.target.id);
            }
        }
    }
</script>

<style scoped>

</style>
