<template>
    <section id="section-certificate" class="certificate section" v-if="certificats">
        <slide-panel-right-line class="dark"/>
        <div class="container">
            <div class="subtitle main_preview">Профессионалы своего дела</div>
            <h2 class="certificate__title">сертификат и награды </h2>
            <div class="row justify-content-center align-items-center certificate__list" >
                <div v-for="item in certificats" :key="item.id" class="certificate__item">
                    <img @click="currentIndexCertificate = item.id" :src="item.link" :alt="item.name" >
                </div>
            </div>
            <vue-gallery-slideshow
                :images="argsCertificatsImages"
                :index="currentIndexCertificate"
                @close="currentIndexCertificate = null">
            </vue-gallery-slideshow>
        </div>
    </section>
</template>

<script>
    import VueGallerySlideshow from 'vue-gallery-slideshow';
    import SlidePanelRightLine from "../../../slidePanel/atoms/SlidePanelRightLine";
    export default {
        name: "ServicesPageCertificate",
        components:{
            VueGallerySlideshow,
            SlidePanelRightLine
        },
        data(){
            return{
                certificats: null,
                currentIndexCertificate: null,
                argsCertificatsImages: null
            }
        },
        mounted() {
            this.certificats = [
                {
                    link: 'https://aleksandr_lab.gitlab.io/imageprimavera/certificates3.jpg',
                    name: 'certificats1',
                    id:1,
                },
                {
                    link: 'https://aleksandr_lab.gitlab.io/imageprimavera/certificates1.jpg',
                    name: 'certificats2',
                    id:2,
                },
                {
                    link: 'https://aleksandr_lab.gitlab.io/imageprimavera/certificates3.jpg',
                    name: 'certificats3',
                    id:3,
                },
                {
                    link: 'https://aleksandr_lab.gitlab.io/imageprimavera/certificates4.jpg',
                    name: 'certificats4',
                    id:4,
                },
                {
                    link: 'https://aleksandr_lab.gitlab.io/imageprimavera/certificates2.jpg',
                    name: 'certificats5',
                    id:5,
                }

            ];
            this.argsCertificatsImages = this.certificats.map(el => el.link);
        }
    }
</script>

<style scoped lang="sass">
    .certificate
        text-align: center
        padding-bottom: 5.25rem
        &__title
            padding-bottom: 1.875rem
        &__item
            padding: 0 1rem 1rem
            max-width: 20%
            flex: 0 0 20%
    @media all and (max-width: 75rem)
        .certificate
            padding-bottom: 4rem
            &__item
                max-width: 33.333333333%
                flex: 0 0 33.33333333%
    @media all and (max-width: 48rem)
        .certificate
            padding-bottom: 3rem
            &__item
                max-width: 50%
                flex: 0 0 50%
    @media all and (max-width: 36.25rem)
        .certificate
            padding-bottom: 1.875rem
            &__title
                font-size: 2.25rem
                padding-bottom: 0
</style>
