<template>
    <section id="section-services" class="services section" >
        <div class="container">
            <div class="subtitle main_preview">Профессионалы своего дела</div>
            <h1 class="title font-weight-thin">Наши <strong>услуги</strong></h1>
            <div class="services__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="services__action">
                <button @click="statusModal({name:'modalForm',status:true})" class="button--outline button">Записаться на приём</button>
            </div>
            <div class="row justify-content-center masonry-container"  transition-duration="0.8s"  v-masonry item-selector=".service__item">
                <services-item class="service__item" v-masonry-tile  v-for="item in services" :service="item" :key="item.id"/>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapActions, mapGetters,mapMutations} from "vuex";
    import  ServicesItem from '../../homePage/atom/HomePageServicesItem'
    export default {
        name: "ServicesPageServices",
        components:{
            ServicesItem
        },
        data(){
          return {
              services: null,
              text: null
          }
        },
        computed: mapGetters(['getContent']),
        methods: {
            ...mapMutations(['statusModal']),
            ...mapActions(['fetchLazyLoad']),
        },
        mounted() {
            this.fetchLazyLoad('/our-services')
        },
        watch: {
            getContent(val){
                val.filter(el => el.services).map(item => {
                    this.services = item.services;
                    this.text = item.text;
                });
            }
        }
    }
</script>

<style scoped lang="sass">
    .services
        background: url("/resources/img/servicesPage/bg_services.png") 50% 0 / contain no-repeat
        text-align: center
        padding: 1.875rem 0 6.25rem
        &__description
            max-width: 40.625rem
            margin: 0 auto 2.25rem
        &__action
            padding-bottom: 5rem
    @media all and (max-width: 62rem)
        .services
            padding-bottom: 4rem
            background-size: 120%
            background-position: -4rem 4rem
    @media all and (max-width: 36.25rem)
        .services
            padding-bottom: 2.5rem
            &__title
                font-size: 2.25rem
            &__description
                margin-bottom: 1.25rem
            &__action
                padding-bottom: 2.5rem
</style>
