<template>
    <div class="social-icon">
        <a :href="iconUrl">
            <icon :icon="iconName"></icon>
        </a>
    </div>
</template>

<script>
import Icon from 'laravel-mix-vue-svgicon/IconComponent.vue';

export default {
  name: 'SocialIcon',
  components: {
    Icon,
  },
  props: {
    iconName: {
      type: String,
      required: true,
    },
    iconUrl: {
      type: String,
      default: '#',
      // required: true
    },
  },
};
</script>

<style lang="sass" scoped>
    .social-icon
        display: inline-block
        padding: 0 0.625rem
</style>
