<template>
    <div id="about-page">
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Name of секции</th>
                <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="setting in response"

            >
                <td>{{ setting.title }}</td>
                <td>
                    <button class="btn btn-info">
                        <router-link :to="{name : 'about-page-'+setting.slug.toLowerCase()+'-edit',
                            params: {id: setting.id}}"
                        >Редактировать</router-link>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "AboutPageSettings",
        data() {
          return {
              response: ''
          }
        },
        mounted() {
            axios.get('/admin/about-page-settings')
                .then(({data}) => (this.response = data));
        }
    }
</script>

<style scoped>

</style>
