<template>
    <div class="col-md-10">
        <h1>Блог</h1>
        <div class="btn btn-success">
            <router-link :to="{name : 'post-create'}">
                Добавить пост
            </router-link>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Slug</th>
                    <th>Категория</th>
                    <th>Картинка</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="post in posts"
                >
                    <td>{{ post.title }}</td>
                    <td>{{ post.slug }}</td>
                    <td>{{ post.category.name }}</td>
                    <td class="image-container">
                        <img class="img-fluid" :src="post.image_link" alt="">
                    </td>
                    <td class="btn badge-info">
                        <router-link :to="{name : 'post-edit',
                                            params: {id: post.id}
                                           }"
                        >Редактировать</router-link>
                    </td>
                    <td class="bth btn-danger"
                        @click="remove"
                        :id="post.id"
                    >Удалить</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Blog.vue",
        data: function (){
            return {
                posts: []
            }
        },
        mounted(){
            axios.get('/admin/posts').then(({data}) => (this.posts = data));
        },
        methods : {
            remove: function(event ){
                axios.delete('/admin/posts/'+event.target.id);
            }
        }
    }
</script>

<style scoped>
    .image-container {
        width: 100px;
    }
</style>
