<template>
    <div class="col-md-2">
        <div class="list-group">
            <router-link :to="{name: 'main-settings'}" class="list-group-item list-group-item-action">Общие Настройки</router-link>
            <router-link :to="{name: 'main-page-settings'}" class="list-group-item list-group-item-action">Настройки Главной Страницы</router-link>
            <router-link :to="{name: 'about-page-settings'}" class="list-group-item list-group-item-action">Настройки Страницы О Нас</router-link>
            <router-link :to="{name: 'blog'}" class="list-group-item list-group-item-action">Блог</router-link>
            <router-link :to="{name: 'services'}" class="list-group-item list-group-item-action">Услуги</router-link>
            <router-link :to="{name: 'services-categories'}" class="list-group-item list-group-item-action">Категории Услуг</router-link>
            <router-link :to="{name: 'services-subcategories'}" class="list-group-item list-group-item-action">Подкатегории Услуг</router-link>
            <router-link :to="{name: 'photogallery'}" class="list-group-item list-group-item-action">Фото Галлерея</router-link>
            <router-link :to="{name: 'users'}" class="list-group-item list-group-item-action"
                         v-if="authUser.role === 'admin'"
            >Пользователи</router-link>
            <router-link :to="{name: 'orders'}" class="list-group-item list-group-item-action">Заявки</router-link>
            <router-link :to="{name: 'subscribers'}" class="list-group-item list-group-item-action">Подписчики</router-link>
            <router-link :to="{name: 'submitters'}" class="list-group-item list-group-item-action">Нужно Перезвонить</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "dashboard-left-menu",
        props: ['authUser'],
        data : function () {
            return {

            }
        }
    }
</script>

<style scoped>

</style>
