<template>
    <div id="main-page-settings">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Имя секции</th>
                    <th>Редактировать</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="setting in response"
                >
                    <td>{{ setting.title }}</td>
                    <td>
                        <button class="btn btn-info">
                            <router-link :to="{name : 'main-page-'+setting.slug+'-edit',
                            params: {id: setting.id}}"
                            >Редактировать</router-link>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "MainPageSettings",
        data : function(){
            return {
                response : null
            }
        },
        methods : {
            updateSetting(id){

            }
        },
        mounted() {
            axios.get('admin/main-page-settings')
                .then(({data}) => (this.response = data));
        }
    }
</script>

<style scoped>

</style>
