<template>
    <div id="main-settings">
        <div class="alert alert-success alert-dismissible"
             v-if="statusOk"
        >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Настройка была успешно обновлена</div>
        <div class="alert alert-danger alert-dismissible"
             v-if="error"
        >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Не удалось обновить настройки. Свяжитесь с разработчиками для решения проблемы</div>
       <div
                v-if="logo.value !== ''"
        >
            <div class="h3">Логотип</div>
            <form id="logoForm"
                @submit="updateLogo($event, logo.id)"
            >
                <img :src="'/resources/img/svg/'+logo.value" alt="">
                <input type="file" class="form-control-file" name="logo"
                    @change="onChangeLogo"
                >
                <input type="text" name="value"
                    v-model="logo.value"
                >

                <input type="submit" value="Обновить" class="btn btn-success">
            </form>
        </div>
        <h3
            v-if="socials.length > 0"
        >
            Настройки социальных сетей</h3>
        <div
            v-for="social in socials"
        >
            <form class="form-inline"
                @submit="updateSetting($event, social.id, social.value)"
            >
                <div class="input-group mb-3" v-if="social.name === 'fb'">
                    <div class="input-group-prepend">
                        <span class="input-group-text icons">
                            <img src="/images/social-fb.svg" alt="">
                        </span>
                    </div>
                    <input type="text"
                        v-model="social.value"
                    >
                </div>
                <div class="input-group mb-3" v-if="social.name === 'inst'">
                    <div class="input-group-prepend">
                        <span class="input-group-text icons">
                            <img src="/images/social-inst.svg" alt="">
                        </span>
                    </div>
                    <input type="text"
                        v-model="social.value"
                    >
                </div>
                <input type="submit" value="Обновить" class="btn btn-success">
            </form>
            <button class="bnt btn-danger"
                :id="social.id"
                @click="deleteSetting"
            >Удалить</button>
        </div>
        <h3
            v-if="contacts.length > 0"
        >Контакты</h3>
        <div
            v-for="contact in contacts"
        >
            <form class="form-inline"
                @submit="updateSetting($event, contact.id, contact.value)"
            >
                <div class="input-group mb-3"
                    v-if="contact.name === 'tel'"
                >
                    <div class="input-group-prepend">
                        <span class="input-group-text icons">
                            📞
                        </span>
                    </div>
                    <input type="text"
                        v-model="contact.value"
                    >
                </div>
                <div class="input-group mb-3"
                    v-if="contact.name === 'email'"
                >
                    <div class="input-group-prepend">
                        <span class="input-group-text icons">
                            @
                        </span>
                    </div>
                    <input type="email"
                        v-model="contact.value"
                    >
                </div>
                <input type="submit" value="Обновить" class="btn btn-success">
            </form>
            <button class="bnt btn-danger"
                    :id="contact.id"
                    @click="deleteSetting"
            >Удалить</button>
        </div>
        <h3
            v-if="addresses.length > 0"
        >
            Контактный адрес
        </h3>
        <div
            v-for="item in addresses"
        >
            <form class="form-inline"
                  @submit="updateSetting($event, contact.id, contact.value)"
            >
                <div class="input-group mb-3"
                     v-if="item.name === 'link'"
                >
                    <div class="input-group-prepend">
                        <span class="input-group-text icons">
                            &#9872;
                        </span>
                    </div>
                    <input type="text"
                           v-model="item.value"
                    >
                </div>
                <div class="input-group mb-3"
                     v-if="item.name === 'name'"
                >
                    <div class="input-group-prepend">
                        <span class="input-group-text icons">
                           &#9873;
                        </span>
                    </div>
                    <input type="text"
                           v-model="item.value"
                    >
                </div>
                <input type="submit" value="Обновить" class="btn btn-success">
            </form>
          <button class="bnt btn-danger"
                  :id="item.id"
                  @click="deleteSetting"
          >Удалить</button>
        </div>
        <form id="addEmail"
              @submit="addContact($event, 'email')"
        >
          <div class="form-group">
            <label for="newEmail">Добавить электронную почту</label>
            <input type="email" id="newEmail" name="newContact">
            <input type="submit" value="Добавить" class="btn btn-primary">
          </div>
        </form>
        <form id="addTel"
          @submit="addContact($event, 'tel')"
        >
          <div class="form-group">
            <label for="newTel">Добавить телефон</label>
            <input type="tel" id="newTel" name="newContact">
            <input type="submit" value="Добавить" class="btn btn-primary">
          </div>
        </form>
        <h3
            v-if="meta.length > 0"
        >
           Мета Теги
        </h3>
        <div
            v-for="item in meta"
        >
            <form class="form"
                  @submit="updateSetting($event, item.id, item.value)"
            >
                <div class="form-group">
                    <label for="comment">{{item.name}}:</label>
                    <textarea class="form-control" rows="5" id="comment"
                        v-model="item.value"
                    >{{item.value}}</textarea>
                </div>
                <input type="submit" value="Обновить" class="btn btn-success">
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MainSettings",
        data: function () {
            return {
                socials: [],
                contacts: [],
                addresses: [],
                logo: null,
                unknownSettings: [],
                statusOk: false,
                error: false,
                logoNew: null,
                meta: []
            }
        },
        methods: {
            updateSetting(e, id, val){
                e.preventDefault();
                axios.put('/admin/main-settings/'+ id, {
                    'value': val
                }).then((response) => {
                        if(response.data.status === false){
                            this.error = true
                        } else {
                            this.statusOk = true;
                        }
                    },(error) => {
                        this.error = true;
                    }
                );
            },
            onChangeLogo(e){
                let files = e.target.files || e.dataTransfer.files;
                this.logo.value = files[0].name;
                this.logoNew = files[0];
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.logoNew = e.target.result;
                };

                reader.readAsDataURL(file);
            },
            updateLogo(e, id){
                e.preventDefault();
                let formData = new FormData(document.getElementById('logoForm'));
                formData.append('_method', 'PUT');
                axios.post('/admin/main-settings/'+ id, formData).then();
            },
            addContact(e, type){
                e.preventDefault();
                let formData;
                switch (type){
                    case 'email' :
                        formData = new FormData(document.getElementById('addEmail'));
                        formData.append('type', 'email');
                        break;
                    default :
                        formData= new FormData(document.getElementById('addTel'));
                        formData.append('type', 'tel');
                        break;
                }
                axios.post('/admin/main-settings/create-contact', formData);
            },
            deleteSetting(e){
                e.preventDefault();
                axios.delete('/admin/main-settings/'+e.target.id).then();
            }
        },
        mounted() {
            axios.get('admin/main-settings')
                .then((response)=> {
                    for (let i = 0; i < response.data.length; i++) {
                        switch (response.data[i].type) {
                            case 'social' :
                                this.socials.push(response.data[i]);
                                break;
                            case 'logo' :
                                this.logo = response.data[i];
                                break;
                            case 'contact' :
                                this.contacts.push(response.data[i]);
                                break;
                            case 'contactAddress' :
                                this.addresses.push(response.data[i]);
                                break;
                            case 'meta' :
                                this.meta.push(response.data[i]);
                                break;
                            default :
                                this.unknownSettings.push(response.data[i]);
                                break;
                        }
                    }
                });
        }
    }
</script>

<style scoped>
    .icons{
        width: 18px;
        width: 40px;
    }
</style>
