<template>
    <div class="col-md-10">
        <h1>Заявки от клиентов</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Номер телефона</th>
                    <th>Электронная Почта</th>
                    <th>Услуга</th>
                    <th>Доп. Инфо</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orders">
                    <td>{{ order.client_name }}</td>
                    <td>{{ order.client_phone }}</td>
                    <td>{{ order.client_email }}</td>
                    <td>{{ order.chosen_service }}</td>
                    <td>{{ order.additional_info}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Orders",
        data: function () {
            return {
                orders: [],
            }
        },
        mounted() {
            axios.get('/admin/orders').then(({data})=>(this.orders = data));
        }
    }
</script>

<style scoped>

</style>
