<template>
    <div class="col-md-10">
        <h1>Фото галлерея</h1>
        <div class="btn btn-success">
            <router-link :to="{name : 'create-media'}">
                Добавить новую работу
            </router-link>
        </div>
        <table>
            <thead class="table table-bordered">
            <tr>
                <th>Изображение</th>
                <th>Alt</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="photo in photos">
                <td class="image-container"><img :src="photo.image_link" alt="" class="img-fluid"></td>
                <td>{{ photo.alt }}</td>
                <td class="btn badge-info">
                    <router-link :to="{name : 'edit-media',
                                            params: {id: photo.id}
                                           }"
                    >Редактировать</router-link>
                </td>
                <td class="bth btn-danger"
                    @click="remove"
                    :id="photo.id"
                >Удалить</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    export default {
        name: "Portfolio.vue",
        data: function(){
          return {
              photos : null,
          }
        },
        mounted(){
            axios.get('admin/photo-gallery')
                .then(({data}) => (this.photos = data));
        },
        methods: {
            remove: function(e){
                axios.delete('/admin/photo-gallery/'+e.target.id);
            }
        }
    }

</script>

<style scoped>
    .image-container {
        width: 100px;
    }
</style>
