<template>
    <div class="col-md-10">
        <h1>Услуги</h1>
        <div class="btn btn-success">
            <router-link :to="{name : 'service-create'}">
                Добавить услугу
            </router-link>
        </div>
        <table>
            <thead class="table table-bordered">
            <tr>
                <th>Порядок вывода</th>
                <th>Название</th>
                <th>Slug</th>
                <th>Подкатегория</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="service in services">
                <td>{{ service.sort_order }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.slug }}</td>
                <td>{{ service.subcategory.title }}</td>
                <td><span v-html="service.body"></span></td>
                <td>{{ service.price/100 }}</td>
                <td class="btn badge-info">
                    <router-link :to="{name : 'service-edit',
                                            params: {id: service.id}
                                           }"
                    >Редактировать</router-link>
                </td>
                <td class="bth btn-danger"
                    @click="remove"
                    :id="service.id"
                >Удалить</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Services.vue",
        data: function () {
            return {
                services: []
            }
        },
        mounted() {
           axios.get('/admin/services')
                .then(({data}) => (this.services = data));
        },
        methods : {
            remove: function(event ){
                axios.delete('/admin/services/'+event.service.id);
            }
        }
    }
</script>

<style scoped>

</style>
