<template>
    <div id="submitters">
        <table class="table table-bordered">
            <tr>
                <th>Имя</th>
                <th>Эл. Почта</th>
                <th>Комментарий</th>
            </tr>
            <tr
                v-for="client in response"
            >
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.comments }}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Submitters",
        data(){
          return {
              response : ''
          }
        },
        mounted() {
            axios.get('/admin/submitters')
                .then((response) => {
                    this.response = response.data;
                }, (errors) => {

                });
        }
    }
</script>

<style scoped>

</style>
