<template>
    <ul class="list-group">
        <li class="list-group-item"
            v-for="client in response"
        >{{ client.email }}</li>
    </ul>
</template>

<script>
    export default {
        name: "Clients",
        data(){
            return {
                response: null
            }
        },
        mounted() {
            axios.get('/admin/subscribers')
                .then((response) => {
                    this.response = response.data;
                }, (error) => {

                })
        }
    }
</script>

<style scoped>

</style>
