<template>
    <div class="col-md-10">
        <h1>Пользователи</h1>
        <div class="btn btn-success">
           <router-link :to="{name : 'user-create'}">
            Добавить пользователя
           </router-link>
        </div>
        <table>
            <thead class="table table-bordered">
                <tr>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Роль</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td class="btn badge-info">
                        <router-link :to="{name : 'user-edit',
                                            params: {id: user.id}
                                           }"
                        >Редактировать</router-link>
                    </td>
                    <td class="bth btn-danger"
                        v-if="user.id != 1"
                        @click="remove"
                        :id="user.id"
                    >Удалить</td>
                </tr>
            </tbody>
        </table>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "Users",
        data: function() {
            return {
                users: null
            }
        },
        mounted() {
            axios.get('/admin/users')
                .then(({data}) => (this.users = data));
        },
        methods : {
            remove: function(e ){
                axios.delete('/admin/users/'+e.target.id);
            }
        }
    }
</script>

<style scoped>

</style>
