<template>
    <div class="footer__widget-one footer__widget col-xl-2 col-lg-4 col-md-6">
        <div class="footer__widget-item footer-info">
            <site-logo class="footer-logo" icon-logo="logo-footer"/>
            <div class="footer-description">
                PrimaVera beauty club - салон премиум класса в самом центре города.
            </div>
            <div class="footer-copy">Все права защищены. &copy; {{new Date().getFullYear()}} PrimaVera</div>
        </div>
    </div>
</template>

<script>
    import SiteLogo from "../../logo/SiteLogo";
    import {mapGetters} from "vuex";
    export default {
        name: "FooterWidget1",
        components:{
            SiteLogo
        },
    }
</script>

<style scoped lang="sass">

</style>
