<template>
    <div class="footer__widget-two footer__widget col-xl-2 col-lg-4 col-md-6">
        <div class="footer__widget-item">
            <h5 class="footer__widget-title">Меню</h5>
            <main-nav class="footer-nav" hideElemName="about"/>
        </div>
    </div>
</template>

<script>
    import MainNav from "../../navigation/MainNav";
    export default {
        name: "FooterWidget2",
        components:{
            MainNav
        }
    }
</script>

<style scoped lang="sass">

</style>
