<template>
    <div class="footer__widget-five footer__widget col-xl-2 col-lg-4 col-md-6">
        <div class="footer__widget-item footer__widget-mail" v-if="mail">
            <h5 class="footer__widget-title">Электронная почта</h5>
            <div class="footer__widget-content">
                <a :href="`mailto:${mail}`">{{mail}}</a>
            </div>
        </div>
        <div class="footer__widget-item footer__widget-adress" v-if="address">
            <h5 class="footer__widget-title">Наш адрес</h5>
            <div class="footer__widget-content">
                <a target="_blank" :href="address.link">{{address.name}}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FooterWidget5",
       props:{
            mail:{
                type: String,
                required: true,
            },
           address:{
               type: Object,
               required: true,
           }
       }
    }
</script>

<style scoped lang="sass">

</style>
