<template>
    <div class="footer__widget-six footer__widget col-xl-2 col-lg-4 col-md-6">
        <div class="footer__widget-item footer__widget-social">
            <h5 class="footer__widget-title justify-content-xl-end">Социальные сети</h5>
            <social-icons/>
        </div>
    </div>
</template>

<script>
    import SocialIcons from "../../social/SocialIcons";
    export default {
        name: "FooterWidget2",
        components:{
            SocialIcons,
        }
    }
</script>

<style scoped lang="sass">

</style>
