<template>
    <div class="footer__widget-three footer__widget col-xl-2 col-lg-4 col-md-6">
        <div class="footer__widget-item" v-if="services">
            <h5 class="footer__widget-title">Услуги</h5>
            <nav  class="footer-nav">
                <ul>
                    <li v-for="(item,i) in services" v-if="i<=5" :key="item.id">
                        <a href="#">{{item.title.replace(/<\/?[^>]+(>|$)/g, "")}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    export default {
        name: "FooterWidget3",
        props:{
          services: {
              required: true
          }
        },
    }
</script>

<style scoped lang="sass">

</style>
