<template>
    <div class="footer__widget footer__widget-four col-xl-2 col-lg-4 col-md-6">
        <div class="footer__widget-item">
            <h5 class="footer__widget-title">Номера телефонов</h5>
            <div class="footer__widget-content">
               <phone class="footer__widget-phone"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Phone from "../../phoneNumber/Phone";
    export default {
        name: "FooterWidget4",
        components: {
            Phone
        }
    }
</script>

<style scoped lang="sass">

</style>
