<template>
    <div class="serivces-price__sub-category">
        <div class="serivces-price__sub-category-item" v-for="item in subCategories" :key="item.id">
            <div class="serivces-price__sub-category-item-action" @click="getActiveSubCutegory(item.id)">
                <div class="serivces-price__sub-category-item-button" v-html="currentSubCutegory(item.id)?'&minus;':'&plus;'"></div>
                <h4 class="serivces-price__sub-category-item-name">{{item.title}}</h4>
            </div>
            <div class="overflow-hidden">
                <transition  enter-active-class="inDown animated"
                                  leave-active-class="outUp animated" mode="in-out">
                    <div class="sub-category__price" v-if="currentSubCutegory(item.id)" >
                            <services-price-item :service-id="serviceId" :sub-category-slug="item.slug" :item="service" :key="service.id" v-for="service in activeSubCutegory.services"/>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import ServicesPriceItem from "../atom/ServicesPriceItem";

    export default {
        name: "ServicesPriceSubCategory",
        components:{
            ServicesPriceItem
        },
        data(){
          return {
              activeSubCutegory: null,
          }
        },
        props:{
            subCategories:{
                type: Array,
                required: true
            },
            serviceId:{
                type: Number,
                required: true
            }
        },
        methods:{
            getActiveSubCutegory(id){
                if(this.activeSubCutegory && this.activeSubCutegory.id === id){
                    return  this.activeSubCutegory = null
                }
                this.activeSubCutegory = this.subCategories.filter(el=> el.id === id)[0];
            },
            currentSubCutegory(id){
                return this.activeSubCutegory ? this.activeSubCutegory.id === id : false
            },
            collapseAll(){
                this.activeSubCutegory = null;
            }
        },
        watch:{
            subCategories(val){
                this.subCategories = val;
            }
        }
    }
</script>

<style scoped lang="sass">
    .serivces-price__sub-category
        &-item
            &-action
                display: flex
                align-items: center
                padding-top: 2.25rem
            &-button
                font-size: 2rem
                line-height: 1
                width: 2.25rem
                height: 2.25rem
                font-weight: 200
                display: flex
                justify-content: center
                align-items: center
                border: 1px solid #131618
                margin-right: 1rem
            &-name
                flex-basis: 0
                -webkit-box-flex: 1
                flex-grow: 1
                max-width: 100%
                font-size: 2.25rem
    .sub-category__price
        padding-left: 3.25rem
    @media all and (max-width: 48rem)
        .serivces-price__sub-category
            &-item
                &-action
                    padding: 0.625rem 0
                &-name
                    font-size: 1.125rem
        .sub-category__price
            padding-left: 0
</style>
