<template>
    <div ref="siteBare" class="site-bar">
        <div ref="siteBareContent"  class="site-bar__content">
            <div class="site-bar__inner">
                <h3 class="site-bar__title font-weight-thin" v-html="title"></h3>
            </div>
            <div class="site-bar__action">
                <button class="button button--outline button--medium" @click="handlearClik">Найти</button>
                <button class="button button--outline button--medium" v-if="clone" @click="$emit('collaps')">свернуть всё</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ServicesSiteBare",
        props:{
            title:{
                type:[String, HTMLAllCollection],
                required: true
            },
            clone:{},
            collapse:{
                type:Function
            }
        },
        methods:{
            handlearClik(){
                const siteBare = this.$refs.siteBare,
                    searchForm = document.querySelector('.search-form');
                if(siteBare.classList.contains('site-bar__scroll') && searchForm){
                        searchForm.scrollIntoView({behavior:'smooth', block: 'center'})
                }
            },
            siteBarePos(){
                const siteBare = this.$refs.siteBare,
                  siteBareContent = this.$refs.siteBareContent;
                let siteBarePos = siteBare.getBoundingClientRect();
                if(siteBarePos.top < 0){
                siteBare.classList.add('site-bar__scroll');
                  siteBareContent.classList.add('site-bar__content--sticky');
                  if((siteBarePos.height - siteBareContent.offsetHeight) < (-siteBarePos.top)){
                      siteBareContent.classList.add('site-bar__content--stop')
                  }else{
                      siteBareContent.classList.remove('site-bar__content--stop');
                  }
                }else{
                    siteBareContent.classList.remove('site-bar__content--sticky');
                    siteBare.classList.remove('site-bar__scroll');
                }
            }
        },
        created() {
            window.addEventListener('scroll', this.siteBarePos)
        },
        destroyed() {
            window.removeEventListener('scroll', this.siteBarePos)
        }
    }
</script>

<style scoped lang="sass">
    .site-bar
        position: relative
        padding: 0 1rem
        &__inner
            min-height: 20.82rem
            display: flex
            align-items: flex-end
            border: 0.25rem solid #131618
            padding: 2.5rem
        &__title
            font-size: 3rem
        &__action
            text-align: center
            padding-top: 1.875rem
            & .button
                margin: 0 1rem
        &__content
            &--sticky
                position: sticky
                top: 0
            &--stop
                position: absolute
                top: auto
                bottom: 0
                width: calc(100% - 2rem)
                left: 0
                right: 0
                margin: auto
    @media all and (max-width: 97.5rem)
        .site-bar
            &__inner
                padding: 2rem 1.5rem
                min-height: 16rem
            &__title
                font-size: 2.2rem
            &__action
                padding: 1rem 0
                & .button
                    max-width: 8rem
                    padding: 0 1rem
                    margin-bottom: 1rem
    @media all and (max-width: 85rem)
        .site-bar
            &__action
                & .button
                    padding: 0 0.5rem
                    max-width: 7rem
</style>
