<template>
    <div class="services-price" ref="servicePrice">
        <div class="services-price__item" v-for="service in services" :key="service.id">
            <div class="services-price__categories">
                <div class="services-price__categories-inner">
                    <h3 class="services-price__item-name">{{service.title}}</h3>
                    <div class="services-price__item-action">
                        <button
                            v-if="service.subcategories.length>0 && !clone"
                            class="button button--outline button--medium"
                            :class="{'button--black':!currentService(service.id) }"
                            @click="getActiveService(service.id)">
                            {{currentService(service.id)?'Свернуть':'Показать услуги'}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden">
                <transition  v-if="currentService(service.id) && !clone" enter-active-class="inDown animated"
                            leave-active-class="outUp animated" mode="in-out">
                    <services-price-sub-category :service-id="activeService.id" :sub-categories="activeService.subcategories"/>
                </transition>
                <transition-group v-if="clone" enter-active-class="inDown animated"
                            leave-active-class="outUp animated" mode="in-out">
                    <services-price-sub-category  v-if="service.id === item.id" v-for="item in services" :key="item.id" :service-id="service.id" :sub-categories="item.subcategories"/>
                </transition-group>
            </div>
        </div>
    </div>
</template>

<script>

    import ServicesPriceSubCategory from "./ServicesPriceSubCategory";

    export default {
        name: "ServicesPrice",
        components:{
            ServicesPriceSubCategory
        },
        props:{
            services:{
                type: Array,
                required: true
            },
            clone:{
                type: Boolean,
            }
        },
        data(){
            return{
                activeService: null,
            }
        },
        methods:{
            getActiveService(id){
                if(this.activeService && this.activeService.id === id){
                    return  this.activeService = null
                }
                this.activeService = this.services.filter(el=> el.id === id)[0];
            },
            currentService(id){
                if(!this.clone){
                    return this.activeService ? this.activeService.id === id : false
                }
                return  true;
            },
            collapseAll(){
                this.activeService = null;
            }
        },
        watch:{
            services(val){
                this.services = val;
            },
        }
    }
</script>

<style scoped lang="sass">
    .services-price__item
        &-name
            text-align: center
            font-size: 3rem
            padding: 2.5rem 0 1.25rem
        &-action
            display: flex
            justify-content: center
            align-items: center
            &:before,
            &:after
                content: ''
                flex-basis: 0
                flex-grow: 1
                max-width: 100%
                height: 1px
                background: #131618
            & button
                margin: 0 1.875rem
    @media all and (max-width: 48rem)
        .services-price__item
            &-name
                padding: 1.25rem 0 0.625rem
                font-size: 2.25rem
            &-action
                & button
                    margin: 0 1.25rem
</style>
