<template>
    <section id="blogs-section" class="blogs sections">
        <div class="container" >
            <div class="blogs__header">
                <h1 class="blogs__title">БЛОГ</h1>
                <div class="blogs__description">
                    В этом разделе вы можете ознакомиться с нашими новостями,
                    поезными статьями, событиями и просто интересными материалами
                </div>
                <div class="blogs__filter" >
                    <div class="blogs__filter-item" @click="allBlog" :class="{active : !activCatId}">Все</div>
                    <div class="blogs__filter-item" :class="{active :activCatId === cat.id}" v-for="cat in category" :kay="cat.id" @click="currentCatNews(cat.id)" >{{cat.name}}</div>
                </div>
            </div>
            <div class="blog__items row masonry-container"  transition-duration="0.8s"  v-masonry item-selector=".post-item">
                <Home-page-news-filter-item class="post-item" v-masonry-tile v-for="post in carrentCat" :cat-post="post" :key="post.id"/>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import HomePageNewsFilterItem from "../../homePage/atom/HomePageNewsFilterItem";

    export default {
        name: "BlogPagePosts",
        components:{
            HomePageNewsFilterItem
        },
        data(){
            return{
                category: null,
                blog: null,
                carrentCat: null,
                activCatId: null
            }
        },
        computed: mapGetters(['getContent']),
        methods:{
            ...mapActions(["fetchLazyLoad"]),
            currentCatNews(id){
                this.carrentCat = id ? this.blog.filter(el => el.category_id === id) : this.blog;
                this.activCatId = id ? id :  null;
            },
            allBlog(){
                this.carrentCat = this.blog;
                this.activCatId = null;
            }
        },
        mounted() {
            this.fetchLazyLoad('/blog');
        },
        watch:{
            getContent(val){
                const blog = val.filter(el => el.posts);
                if(!_.isEmpty(blog)){
                    this.blog = blog[0].posts;
                    this.category = blog[0].posts_categories;
                    const currentCat = this.$route.params.slug;
                    if(currentCat){
                        const args = this.blog.filter(el=>el.category.slug === currentCat);
                        if(!_.isEmpty(args)){
                            this.currentCatNews(args[0].category_id);
                        }else{
                            this.currentCatNews();
                        }
                    }else{
                        this.currentCatNews();
                    }
                }
            }
        }
    }
</script>

<style scoped lang="sass">
    .blogs
        padding: 0.625rem 0
        background: url("/resources/img/homePage/bg_beauty_news_home.png") 50% 0 /auto no-repeat
        &__title
            text-align: center
        &__description
            font-size: 1.1rem
            max-width: 37.5rem
            text-align: center
            margin: 0 auto 1.25rem
        &__filter
            display: flex
            flex-wrap: wrap
            justify-content: center
            &-item
                min-width: 8.125rem
                text-align: center
                font-size: 0.75rem
                font-weight: 700
                margin: 0 1rem 3.125rem
                cursor: pointer
                transition: 0.5s linear
                text-transform: uppercase
                &:after
                    content: ""
                    display: block
                    width: 100%
                    height: 0.125rem
                    margin-top: 1rem
                    background: #131618
                    transition: 0.5s linear
                &:hover,
                &.active
                    color: #F7C17B
                    &.active:after,
                    &:after
                        background: #F7C17B
</style>
