<template>
    <section id="price-content-section" class="price-content section">
        <div class="container" v-if="services">
            <div class="row">
                <div class="col-xl-8">
                    <div class="search">
                        <search-form-services :search-elem="services"/>
                    </div>
                    <services-price-category :clone="clone" :services="services" ref="accordion"/>
                </div>
                <services-site-bare v-if="windowW>1200"  class="col-xl-4" title="Прайс Услуг<strong><br/> PrimaVera</strong>" @collaps="collapse" :clone="!clone"/>
            </div>
        </div>
    </section>
</template>

<script>
    import SearchFormServices from "../../../form/organism/SearchFormServices";
    import ServicesPriceCategory from "../molecules/ServicesPriceCategory";
    import {mapActions, mapGetters} from "vuex";
    import ServicesSiteBare from "../molecules/ServicesSiteBare";

    export default {
        name: "PricePageContent",
        components:{
            SearchFormServices,
            ServicesPriceCategory,
            ServicesSiteBare
        },
        data(){
            return{
                services: null,
                clone:false,
            }
        },
        computed:mapGetters(['getContent', 'getResultSearchForm', 'windowW']),
        methods:{
            ...mapActions(['fetchLazyLoad']),
            collapse(){
               return  this.$refs.accordion.collapseAll();
            }
        },
        mounted() {
            this.fetchLazyLoad('/services');
        },
        watch:{
            getContent(val){
                const services = val.filter(el => el.services);
                if(!_.isEmpty(services)) {
                    this.services = services[0].services;
                }
            },
            getResultSearchForm:{
                handler(val){
                    if(!_.isEmpty(val)){
                        this.services = val.res;
                        this.clone = val.clone;
                    }
                },
                deep: true
            },
        }
    }
</script>

<style scoped lang="sass">
    .price-content
        padding: 5rem 0 6.25rem
    @media all and (max-width: 75rem)
        .price-content
            padding: 2.5rem 0 4rem
    @media all and (max-width: 48rem)
        .price-content
            padding: 1rem 0 2.5rem
</style>
