<template>
    <div class="single-service-content container">
        <div class="row" v-if="subCategories">
            <div :class="allWidth">
                <services-price-sub-category :service-id="service.id" ref="subCategoriesItems" v-if="subCategories.length > 1"  :sub-categories="subCategories"/>
                <services-price-item  :sub-category-slug="subCategories[0].slug" v-if="subCategories.length <= 1" :item="service" :key="service.id" v-for="service in subCategories[0].services" :service-id="service.id"/>
            </div>
            <services-site-bare class="col-md-4" v-if="service.sub_title" :title="service.sub_title" @collaps="collapse" :clone="subCategories.length > 1"/>
        </div>
<!--        <div class="contet-page" v-html="service.text"></div>-->
        <div class="contet-page">
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-xl-4">
                            <h2 class="font-weight-thin">
                                Современные <strong>методики оздоровления волос</strong> могут творить чудеса
                            </h2>
                            <p class="sub-title">
                                Косметология<br> для современного мужчины
                            </p>
                        </div>
                        <div class="col-xl-8">
                            <img src="https://aleksandr_lab.gitlab.io/imageprimavera/mens-room1.jpg" alt="mens-room1">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8  offset-xl-4">
                    <p>
                        Время не стоит на месте, и как бы нам не хотелось, признаки старения неизменно отражаются, прежде всего, на лице. Мужское лицо ничем не хуже женского и стареет оно не менее медленно. Помочь мужчине выглядеть моложе своих лет призвана современная косметология. Салон ‘’PRIMAVERA be auty club’’располагает самыми современными средствами по уходу за кожей лица и тела, в том числе и аппаратными, позволяющими значительно улу чшить состояние кожи и омолодить ее. Сегодня, модно выглядеть моложе своих лет, поэтому ухоженность мужчины часто говорит о его статусности и возможностях. Современные технологии омоложения предлагают широкий спектр процедур, например:
                    </p>
                    <ul>
                        <li>лечебные программы по уходу за кожей лица; </li>
                        <li>мезотерапия безинъекционная – электропорация;</li>
                        <li>RF-радиоволновой термолифтинг; </li>
                        <li>массажи вакуумные, ручные, роликовые-эндермотерапия;</li>
                        <li>прессотерапия;</li>
                        <li>обертывания;</li>
                        <li>гидропилинг - Hydrofacial;</li>
                        <li>восковая депиляция и шугаринг.</li>
                    </ul>
                    <p>
                        В салоне ‘’PRIMAVERA beauty club’’работают настоящие мастера, профессионализм которых вызывает уважение и восхищение! Врач-косметолог подбер ет для вас эксклюзивную программу омоложения по уходу за кожей лица и тела, которые помогут:
                    </p>
                    <ul>
                        <li>подтянуть кожу, придать ей естественный свежий цвет; </li>
                        <li>разгладить морщины; </li>
                        <li>избавится от темных кругов под глазами; </li>
                        <li>устранить рубцы, акне, постакне и другие недостатки кожи; </li>
                        <li>убрать второй подбородок; </li>
                        <li>избавиться от небольшого брюшка.</li>
                    </ul>
                    <p>
                        Сегодня, нет ничего удивительного в том, что мужчина ухаживает за собой и старается выглядеть достойно. Кроме того, специалисты нашего салон а смогут помочь решить некоторые проблемы медицинского характера. Например:
                    </p>
                    <ul>
                        <li>снизить отеки;</li>
                        <li>улучшив работу лимфатической системы и кровеносной системы, с использованием прессотерапии и массажей разных
                            частей тела.</li>
                    </ul>
                    <blockquote>
                        Важным аспектом мужского становления, является его внешний вид в период полового созревания. <sup><b>*</b></sup>
                    </blockquote>
                    <p>
                        <b>*</b> Юношеские угри или акне , порой, часто вызывают серьезные психологические проблемы в будущем, заставляя молодых людей замыкаться в себе. Врач-косметолог предложит о птимальный курс лечения, который облегчит состояние воспаленной кожи и даст рекомендации не только по уходу за проблемной кожей, но и по пит анию, водному режиму и т.д. Также он сможет подобрать специальный косметический курс лечения на основе натуральных продуктов косметологии.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-xl-8">
                            <img src="https://aleksandr_lab.gitlab.io/imageprimavera/mens-room1.jpg" alt="mens-room1">
                        </div>
                        <div class="col-xl-4">
                            <h2>
                                Уход за руками
                                и ногами
                            </h2>
                            <p class="sub-title">
                                Безопасный мужской маникюр
                                и педикюр
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <p>
                        Ухоженные руки и ноги у мужчины говорят о том, что он уважает и себя, и людей с которыми общается. Гигиенический маникюр не делает мужс кие руки менее мужественными и сильными, и абсолютно не мешает им совершать мужские поступки. Чистые отполированные ногти, без заусенце в пальцы и кожа рук без «цыпок» не мешают им зарабатывать деньги, самосовершенствоваться и любить своих близких! Что уж говорить о нога х! Ухоженные ногти и ступни, без мозолей и натоптышей позволяют улучшить общее самочувствие мужского организма. На ступнях ног располож ена масса биологически активных точек, так, что уход за ногами стимулирует работу всего организма, заставляя его работать более активно . Кроме того, избавление от вросших ногтей, натоптышей и мозолей, позволяют мужчине чувствовать себя лучше уже в процессе самой процеду ры педикюра, снимая раздражение и нервозность присущие людям, которые постоянно испытывают дискомфорт.
                    </p>
                    <p>
                        В нашем салоне консультирует специалист-подолог, который поможет вам решить массу проблем в данной области: чрезмерная потливость ног, «врос ший» ноготь, «дикое мясо», грибковые инфекции, трещины на пятках, мозоли, натоптыши и др.
                    </p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-xl-4">
                            <h2 class="font-weight-thin">
                                <strong>Ухоженность во всем</strong> – от обуви до прически!
                            </h2>
                            <p class="sub-title">
                                Косметология
                                для современного мужчины
                            </p>
                        </div>
                        <div class="col-xl-8 ">
                            <img src="https://aleksandr_lab.gitlab.io/imageprimavera/mens-room1.jpg" alt="mens-room1">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 offset-xl-4">
                   <p>
                       Сегодня главным трендом современного мужчины является ухоженность! Ухоженность во всем – от обуви до прически! Настоящий мужчина, сегод ня, не стесняется ходить в салон красоты, а наоборот, старается следить за собой так часто, что это не бросается в глаза окружающим, а создается впечатление, что он всегда «на высоте». Современная мужская стрижка является не только средством ухода за волосами, но и возм ожностью проявить индивидуальность, чувство вкуса. Салон "PRIMAVERA beauty club"’приглашает мужчин оценить высокое мастерство своих пар икмахеров. В нашем салоне вы сможете:
                   </p>
                    <ul>
                        <li>подстричься; </li>
                        <li>камуфлировать седину; </li>
                        <li>побриться. </li>
                    </ul>
                    <p>
                        Современные тенденции мужской моды на растительность на лице, открывают перед мужчинами широкие возможности для самовыражения. Многие м ужчины не могут самостоятельно подобрать себе правильную форму бороды, усов, прическу. Наши мастера-стилисты сделают это для вас, учиты вая форму лица, цвет волос, особенности и тип волос, ваше внутренне состояние и настроение. Борода и усы могут в корне изменить образ м ужчины. В зависимости от их формы, мужской образ может стать более брутальным, или интеллигентным. Растительность на лице позволяет скр ыть некоторые недостатки лица, например, не волевой подбородок, пухлые губы, асимметричность и т.д. Наши мастера-стилисты побреют вас т ак, что вы останетесь довольны! Ухоженные волосы делают мужчину более привлекательным и уверенным в себе, добавляя его образу утонченно сти и элегантности.Прическа для мужчины, у которого появилась первая седина, первые залысины или проплешины, особенно важна, так как ча сто неумелые попытки мужчин «прикрыть», их выглядят скорее жалко и комично, нежели незаметно. Наши мастера подберут вам достойный выход из этого положения. Специалисты могут предложить вам качественное окрашивание волос с использование лучшей профессиональной косметики. Вариантов тут много: от камуфлирование седины (закрашивания седины), до кардинальной смены цвета волос! Существует масса стрижек, кото рые позволяют подчеркнуть ваш образ «взрослого мужчины», не допуская и капли насмешек. Кроме того * консультация специалиста-трихолога может в корне изменить ситуацию в целом, и позволит вам вернуть, если не всю вашу былую шевелюру, то, хотя бы часть ее.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ServicesPriceSubCategory from "../../pricePage/molecules/ServicesPriceSubCategory";
    import ServicesPriceItem from "../../pricePage/atom/ServicesPriceItem";
    import ServicesSiteBare from "../../pricePage/molecules/ServicesSiteBare";

    export default {
        name: "SingleServiceContent",
        components:{
            ServicesPriceSubCategory,
            ServicesPriceItem,
            ServicesSiteBare
        },
        props: {
            service:{
                type: Object,
                required: true
            },
        },
        data(){
            return{
                subCategories:null
            }
        },
        computed:{
            allWidth(){
                return this.service.sub_title ? 'col-md-8' : 'col-md-12'
            }
        },
        methods:{
            collapse(){
                return  this.$refs.subCategories.collapseAll();
            },
        },
        mounted() {
            this.subCategories = _.isEmpty(this.service.subcategories)? null: this.service.subcategories;
            this.$nextTick(()=>{
                if(this.subCategories && this.subCategories.length>1){
                    this.$refs.subCategoriesItems.getActiveSubCutegory(this.subCategories[0].id)
                }
            });
        },
    }
</script>


