<template>
    <div id="about-page" class="about-page">
        <main-header/>
        <banner-section
            pre-title="Beauty Club"
            title="Prima<strong>Vera</strong>"
            banner-images="/resources/img/contactPage/bg_contact.jpg"
            sub-title="самый модный центр красоты премиум класса города Запорожья"
        />
        <about-section/>
        <abot-page-billboard  v-if="loadBillboard"/>
        <about-page-professianals v-if="loadProfessianals"/>
        <home-page-about-important v-if="loadImportant"/>
        <home-page-team class="about-page__team"   v-if="loadTeam"/>
        <home-page-testimonials v-if="loadTestimonials"/>
        <home-page-our-partners v-if="loaPartners"/>
        <home-page-magazine v-if="loadMagazine"/>
        <about-page-job v-if="loadJob"/>
        <home-page-billboard v-if="loadHomeBillboard"/>
    </div>
</template>

<script>
    import MainHeader from "../../header/MainHeader";
    import BannerSection from "../../banner/BannerSection";
    import AboutSection from "./organism/AboutSection";
    import AbotPageBillboard from "./organism/AboutPageBillboard";
    import AboutPageProfessianals from "./organism/AboutPageProfessianals";
    import HomePageBillboard from "../homePage/organism/HomePageBillboard";
    import HomePageMagazine from "../homePage/organism/HomePageMagazine";
    import HomePageOurPartners from "../homePage/organism/HomePageOurPartners";
    import HomePageTestimonials from "../homePage/organism/HomePageTestimonials";
    import HomePageTeam from "../homePage/organism/HomePageTeam";
    import HomePageAboutImportant from "../homePage/organism/HomePageAboutImportant";
    import AboutPageJob from "./organism/AboutPageJob";

    export default {
        name: 'About',
        components:{
            MainHeader,
            BannerSection,
            AboutSection,
            AbotPageBillboard,
            AboutPageProfessianals,
            HomePageAboutImportant,
            HomePageTeam,
            HomePageTestimonials,
            HomePageOurPartners,
            HomePageMagazine,
            AboutPageJob,
            HomePageBillboard,
        },
        data(){
            return{
                loadBillboard:false,
                loadProfessianals:false,
                loadImportant:false,
                loadTeam:false,
                loadTestimonials:false,
                loaPartners:false,
                loadMagazine:false,
                loadJob:false,
                loadHomeBillboard:false,
            }
        },
        methods:{
            handleScroll(){
                if(window.scrollY > 400){
                    this.loadBillboard = true;
                }
                if(window.scrollY > 800){
                    this.loadProfessianals = true;
                }
                if(window.scrollY > 1200){
                    this.loadImportant = true;
                }
                if(window.scrollY > 1600){
                    this.loadTeam = true;
                }
                if(window.scrollY > 2000){
                    this.loadTestimonials = true;
                }
                if(window.scrollY > 2400){
                    this.loaPartners = true;
                }
                if(window.scrollY > 2800){
                    this.loadMagazine = true;
                }
                if(window.scrollY > 3200){
                    this.loadJob = true;
                }
                if(window.scrollY > 3600){
                    this.loadHomeBillboard = true;
                }
            }
        },
        created(){
            window.addEventListener('scroll', this.handleScroll);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>

<style lang="sass">
    .about-page
        & .banner__title
            font-weight: 200
            & strong
                color: #F7C17B
        &__team
            padding-top: 0!important
            &:before
                display: none
            & .container
                background: url(/resources/img/homePage/bg_team_home.png) 1.25rem -1rem no-repeat
                padding-top: 6.25rem
</style>
