<template>
    <div class="group-phone">
        <div class="phone" v-if="phone"  v-for="item in phone">
            <a :href="`tel:${replaceTel(item)}`" v-if="!notStrong"  v-html="phoneEdit(item)"></a>
            <a :href="`tel:${replaceTel(item)}`" v-if="notStrong"  v-html="item"></a>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "Phone",
        data(){
            return {
                phone: null
            }
        },
        props:{
            notStrong:{
                type: Boolean,
                default: false
            }
        },
        computed:mapGetters(['respBasicContent']),
        methods:{
            replaceTel(str){
                return str.replace(/[- )(]/g, '')
            },
            phoneEdit(phone){
                return  phone.split('').map(el => el==='('?el=" <strong>(" : el === ")" ? el = ")</strong> " : el = el).join('');
            },
        },
        watch:{
            respBasicContent(val){
                const settings =  val.filter(el => el.settings);
                if(!_.isEmpty(settings)) {
                    this.phone = settings[0].settings.contactPhones;
                }
            }
        },
        mounted() {
            const settings =  this.respBasicContent.filter(el => el.settings);
            if(!_.isEmpty(settings)){
                this.phone = settings[0].settings.contactPhones;
            }
        }
    }
</script>

<style scoped lang="sass">
</style>
