<template>
    <nav id="nav-site" class="main-nav">
        <ul ref="menuContainer">
            <li v-if="hideElem(el)" v-for="(el, i) in getMenu" class="menu-item" :class="navAnimation(i, el)">
                <router-link :class="navAnimation(i)" :to="el.path">{{el.menuName}}</router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex'
export default {
    name: "MainNav",
    props:{
        hideElemName: String,
    },
    computed:mapGetters(["getMenu"]),
    methods:{
        hideElem(el){
            return this.hideElemName? el.name !== this.hideElemName && !el.notIndex: !el.notIndex
        },
        navAnimation(i, item){
            const active = item && this.$route.name === item.name ? 'menu-item--active' : '';
            return `linear duration-${i+3} delay-${i+2} ${active}`;
        }
    },
};
</script>

<style lang="sass">
    .main-nav a
        font-weight: 500
</style>
