<template>
    <form @submit="update">
        <div class="form-group">
            <label for="title">Alt:</label>
            <input type="text" class="form-control" id="title"
                   ref="media_title"
                   v-model="media_title"
            >
        </div>
        <div class="form-group">
            <label for="main-image">Post Main Image:</label>
            <input type="text" class="form-control" id="main-image"
                   ref="media_image"
                   v-model="media_image"
            >
        </div>
    </form>
</template>

<script>
    export default {
        name: "MediaEdit",
        data: function () {
            return {
                media: ''
            }
        },
        methods : {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            update: function(e){
                e.preventDefault();
                axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
                axios.post('/admin/posts/'+this.id, {
                    'alt' : this.$refs['media_alt'].value,
                    'image' : this.$refs['media_image'].value,
                    _method: 'PUT'
                }).then(({data}) => (this.result = data));
            }
        }

    }
</script>

<style scoped>

</style>
