<template>
    <form @submit="add_image" enctype="multipart/form-data">
        <div class="form-group">
            <label for="alt-name">Alt:</label>
            <input type="text" class="form-control" id="alt-name"
                   v-model="altName"
            >
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file border"
                    @change="onImageChange"
            >
        </div>
        <button type="submit" class="btn btn-primary">Доабвить картинку</button>
    </form>
</template>

<script>
    export default {
        name: "MediaCreate",
        data: function(){
            return {
                altName: '',
                result: '',
                image: null

            }
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            add_image: function(e){
                e.preventDefault();
                axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
                axios.post('/admin/photo-gallery', {
                    'alt' : this.altName,
                    'image' : this.image
                }).then(({data}) => (this.result = data));
            }
        }
    }
</script>

<style scoped>

</style>
