<template>
  <div id="abBanner">
    <form id="banner"
      @submit="update"
    >
      <div class="form-group">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" class="form-control"
          v-model="text.title"
        >
      </div>
      <div class="form-group">
        <label for="subTitle">Подзаголовок:</label>
        <input type="text" id="subTitle" class="form-control"
          v-model="text.subTitle"
        >
      </div>
      <div  class="form-group">
        <div class="image-box">
          <img alt=""
               :src="'/resources/img/aboutPage/bg_bilboard_abot.jpg'"
          >
        </div>
        <label for="bannerImg">Изображение Баннера:</label>
        <input type="file" id="bannerImg" class="form-control" name="bannerImg">
      </div>
      <input type="submit" value="ОБновить" class="btn btn-success">
    </form>
  </div>
</template>

<script>
    export default {
        name: "AbBanner",
        props: ['id'],
        data() {
          return {
            text : {
              title: '',
              subTitle : ''
            },
            medias : {
              img: ''
            }
          }
        },
        mounted() {
          axios.get('/admin/about-page-settings/'+this.id+'/edit')
            .then((response) => {
              this.text.title = response.data.title ? response.data.title : '';
              this.text.subTitle = response.data.subTitle ? response.data.sub_title : '';
              this.medias.img = response.data.img ? response.data.img : ''
            }, (error) => {

            });
        },
        methods : {
          update(e){
            e.preventDefault();
            let formData = new FormData(document.getElementById('banner'));
            formData.append('_method', 'PUT');
            axios.post('/admin/about-page-settings/'+this.id, formData)
              .then((response) => {

              }, (error) => {

              });
          }
        }
    }
</script>

<style scoped>
  .image-box, #banner {
    width: 600px;
  }
  .image-box img {
    width: 100%;
  }
</style>
