<template>
    <div id="ab-main">
        <form id="about"
              @submit="update"
        >
            <div class="form-group">
                <label for="title">Заголоовок:</label>
                <input type="text" class="form-control" id="title"
                       name="title"
                       v-model="text.title"
                >
            </div>
            <div class="form-group">
                <label for="sub-title">Подзаголовок:</label>
                <input type="text" class="form-control" id="sub-title"
                       name="subTitle"
                       v-model="text.subTitle"
                >
            </div>
            <jodit
                ref="text"
                v-model="text.body"
            ></jodit>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "AbMain",
        props: ['id'],
        data(){
            return {
                text: {
                    title : null,
                    subTitle : null,
                    body : null
                }
            }
        },
        components : {
            'jodit' : JoditVue
        },
        mounted() {
            axios.get('/admin/about-page-settings/'+this.id+'/edit').
                then(
                    (response) => {
                        this.text.title = response.data.title;
                        this.text.subTitle = response.data.sub_title;
                        this.text.body = response.data.text;
                    },
                    (error) => {}
            );
        },
        methods : {
            update(e){
                e.preventDefault();
                let formData = new FormData(document.getElementById('about'));
                formData.append('_method', 'PUT');
                formData.append('text', this.$refs['text'].value);
                axios.post('/admin/about-page-settings/'+ this.id, formData)
                    .then((response) => {
                        if (response.data.error === true){
                            this.error = true;
                            this.update = false;
                        } else {
                            this.update = true;
                            this.error = false;
                        }
                    }, (error) => {
                        this.error = true
                    });
            }
        }
    }
</script>

<style scoped>

</style>
