<template>
  <div id="proffessionals">
    <form id="proffs"
      @submit="update"
    >
        <div class="form-group">
          <label for="title">Заголоовок:</label>
          <input type="text" class="form-control" id="title"
                 name="title"
                 v-model="text.title"
          >
        </div>
        <div class="form-group">
          <label for="sub-title">Подзаголовок:</label>
          <input type="text" class="form-control" id="sub-title"
                 name="subTitle"
                 v-model="text.subTitle"
          >
        </div>
        <div class="form-group">
          <label for="mainImg">Главная картинка:</label>
          <input type="file" id="mainImg">
        </div>
    </form>
  </div>
</template>

<script>
    export default {
        name: "AbProffecionals",
        props: ['id'],
        data() {
          return {
            text : {
              title : '',
              subTitle : ''
            },
            medias : {
              img : ''
            }
          }
        },
        methods : {
          update(e){
            e.preventDefault();
            let formData = new FormData(document.getElementById('proffs'));
            formData.append('_method', 'PUT');
            axios.post('/admin/about-page-settings/'+this.id).then();
          }
        },
        mounted() {
          axios.get('/admin/about-page-settings/'+this.id+'/edit')
            .then((response) =>{
              this.text.title = response.data.title;
              this.text.subTitle = response.data.sub_title;
            }, (error) => {

            });
        }
    }
</script>

<style scoped>

</style>
