<template>
    <div id="blog-page" class="blog-page page">
        <div class="position-relative" >
            <slide-panel-right-action class="dark"/>
            <main-header :lightHeader="true"/>
            <blog-page-posts />
        </div>
        <home-page-billboard/>
    </div>
</template>

<script>

    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";
    import MainHeader from "../../header/MainHeader";
    import HomePageBillboard from "../homePage/organism/HomePageBillboard";
    import BlogPagePosts from "./organism/BlogPagePosts";
    import {mapGetters} from "vuex";
    export default {
        components: {
            SlidePanelRightAction,
            MainHeader,
            HomePageBillboard,
            BlogPagePosts,
        },
        computed: mapGetters(['getContent'])
    }
</script>
<style scoped>

</style>
