<template>
    <div class="slide-panel-right__action" :class="{'slide-panel-right__action--active':statusPanelRight, 'slide-panel-right__action--load': windowLoad}">
        <div class="slide-panel-right__line"></div>
        <button @click="hendlerButton" class="slide-panel-right__button" :style="buttonFixedStyle" :class="{'slide-panel-right__button--fixed': fixedName}"></button>
        <div class="slide-panel-right__name" :style="nameFixedStyle" :class="{'slide-panel-right__name--fixed': fixedName}">
            Фотогалерея
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from "vuex";

    export default {
        name: "SlidePanelRightAction",
        computed: mapGetters(['statusPanelRight', 'windowLoad']),
        data(){
            return{
                buttonFixedStyle: null,
                nameFixedStyle: null
            }
        },
        methods: {
            ...mapMutations(['togglePanelRight']),
            hendlerButton(){
                this.statusPanelRight?this.togglePanelRight(false) :setTimeout(()=>this.togglePanelRight(true),50)
            },
        },
        props:{
            fixedName: {
                type: Boolean,
                default: false
            }
        },
        mounted() {
            if(this.fixedName){
                const footer = document.getElementById('main-footer');
                let self = this;
                window.addEventListener('scroll',function () {
                    let windowHeight = this.innerHeight;
                    this.addEventListener('resize', () =>{
                        windowHeight = this.innerHeight;
                    });

                    if(this.scrollY + windowHeight > footer.offsetTop){
                        let positionButton = this.scrollY + windowHeight - footer.offsetTop;
                        self.buttonFixedStyle = `bottom:${(positionButton + 500)/16}rem; top: auto;transition: 0s;`;
                        self.nameFixedStyle = `bottom:${(positionButton + 100)/16}rem; transition: 0s;`;
                    }else{
                        self.buttonFixedStyle = null;
                        self.nameFixedStyle = 'bottom: 6rem;';
                    }
                });
            }

        }
    }
</script>

<style scoped lang="sass">
    .slide-panel-right
        &__action
            position: absolute
            right: 0
            top: 0
            transition: 1s ease
            z-index: 999
            height: 100%
            width: 6.25rem
            overflow: hidden
            &--load
                .slide-panel-right
                    &__line
                        height: 100%
                    &__button
                        transform: translateX(0)
                        &:not(&--fixed)
                            transition-delay: 1s
                        &--fixed
                            transition: 1s
                            right: 4.375rem
                    &__name
                        transform: rotate(-90deg) translateY(0)
                        transition-delay: 1s
                        &--fixed
                            right: -2.5rem
            &--active
                width: 8.25rem
                z-index: 99
                overflow: unset
                & .slide-panel-right
                    &__button
                        transition-delay: 0s
                        left: -1.875rem
                        &:before
                            transform: rotate(-130deg)
                        &--fixed
                            right: 8.125rem
                    &__name
                        opacity: 0
                        transition-delay: 0s
                        visibility: hidden
        &__line
            width: 2px
            height: 0
            transition: 1s ease
            background: #fff
        &__button
            position: absolute
            top: 12.5rem
            left: 0
            padding: 0
            width: 1.875rem
            height: 1.875rem
            border: none
            transition: 0.5s ease
            transform: translateX(-2rem)
            &:before
                border: solid #131618
                border-width: 0px 0px 2px 2px
                padding: 3px
                content: ""
                position: absolute
                top: 0.7rem
                left: 0.75rem
                transform: rotate(45deg)
                transition: 0.3s linear
            &--fixed
                position: fixed
                left: auto!important
                right: -20rem
                transition-delay: 0s
        &__name
            position: absolute
            left: 0
            right: 0
            bottom: 5rem
            visibility: visible
            margin: auto
            transform: rotate(-90deg) translateY(-5rem)
            font-size: 1.25rem
            letter-spacing: 0.15rem
            text-transform: uppercase
            color: #fff
            transition: 1s ease
            opacity: 1
            &--fixed
                position: fixed
                left: auto
                right: -20rem
                bottom: 6rem
                margin: 0
    .dark
        .slide-panel-right
            &__line
                background: #131618
            &__button
                background: #131618
                &:before
                    border-color: #fff
            &__name
                color: #131618

    .priority
        z-index: 9991
    @media all and (max-width: 85rem)
        .slide-panel-right
            &__action:not(&__action--active)
                width: 5rem
    @media all and (max-width: 62rem)
        .slide-panel-right
            &__action
                display: none
</style>
