<template>
    <div class="single-service-sub-cutegory-content container">
        <div class="row" v-if="content.services">
            <div :class="allWidth">
                <services-price-item :item="service" :key="service.id" v-for="service in content.services"/>
            </div>
            <services-site-bare class="col-md-4" v-if="content.sub_title" :title="content.sub_title" :clone="null"/>
        </div>
<!--        <div class="contet-page" v-html="content.text"></div>-->
        <div class="contet-page">
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-xl-4">
                            <h2 class="font-weight-thin">
                                После процедуры безинъекционной мезотерапии <strong>Ваша кожа будет сиять здоровьем!</strong>
                            </h2>
                            <p class="sub-title">
                                Прекрасный  внешний вид<br/>
                                без болевых ощущений
                            </p>
                        </div>
                        <div class="col-xl-8">
                            <img src="https://aleksandr_lab.gitlab.io/imageprimavera/mens-room1.jpg" alt="mens-room1">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 offset-xl-4">
                    <p>
                        Кожа считается самым большим и одним из важнейших органов в организме человека. Ее основная функция – это защита всего человеческого организма от пагубного воздействия внешней среды. Чтобы выполнять свою работу качественно, кожный покров должен быть хорошо увлажненным, дос таточно упругим, его кровоснабжение не должно страдать. Если все вышеперечисленные пункты с облюдены, вы можете быть спокойны не только за работоспособность кожи, но и за ее внешний в ид. Именно для сохранения ее упругости и свежести учеными были разработаны десятки методов ухода, одним из которых является электропорация. Этот метод был изобретен в 1970 году докто ром Э. Нойманном, а в 2003 году электропорация стала одним из ключевых моментов работы, кот орая получила Нобелевскую премию.
                    </p>
                    <h3>
                        Так что же это за чудо-процедура?
                    </h3>
                    <ul>
                        <li>отсутствие повреждений кожного покрова; </li>
                        <li>безболезненность процедуры; </li>
                        <li>мгновенный эффект; </li>
                        <li>короткий реабилитационный период. Ваша кожа восстановится за 2 часа;</li>
                        <li>отсутствие покрасней на коже; </li>
                        <li>универсальность процедуры: она может применяться даже женщинами с хрупкими сосудами или чувствительной кожей,
                            а также с имплантацией нитей; </li>
                        <li>устранение не только последствий, но и самого источника проблемы.</li>
                    </ul>
                    <p>
                        Возможности безыгольной мезотерапии способны поражать воображение. Этот метод уже после одн ой процедуры оказывает заметный эффект — кожа выглядит свежей, подтянутой и помолодевшей!
                    </p>
                    <h3>
                        Безинъекционная мезотерапия позволяет:
                    </h3>
                    <ul>
                        <li>существенно подтянуть кожу; </li>
                        <li>устранить морщинки; </li>
                        <li>избавиться от различных воспалительных процессов и проблем кожи; </li>
                        <li>придать коже ровный естественный цвет. </li>
                    </ul>
                    <h3>
                        Безинъекционная мезотерапия эффективна в борьбе с такими проблемами:
                    </h3>
                    <ul>
                        <li>угревая сыпь, сосудистые звездочки и пигментные пятна; </li>
                        <li>морщины, увядшая кожа; </li>
                        <li>нездоровый, тусклый цвет лица; </li>
                        <li>нарушения в работе сальных желез; </li>
                        <li>обезвоживание, сухость кожи (особенно после загара). </li>
                    </ul>
                    <img src="https://aleksandr_lab.gitlab.io/imageprimavera/mens-room1.jpg" alt="mens-room1">
                    <h3>
                        Какие препараты используются при безинъекционной мезотерапии?
                    </h3>
                    <p>
                        В зависимости от Ваших целей и пожеланий, могут быть использованы антивозрастные препараты, комплексы витаминов, антиоксиданты. Особой популярность пользуются препараты на основе гиа луроновой кислоты – это вещество,  которое отвечает за увлажненность нашей кожи, ее эластич ность и гладкость. Метод также эффективно применяется для устранения целлюлита и лишних сан тиметров, для этого в кожу вводят специальные дренажные и жиросжигающие компоненты.
                    </p>
                    <p>
                        Безинъекционная мезотерапия позволяет ввести полезные вещества в кожу на глубину 1–2 миллим етров, где они образуют запас, а после еще долго будут распределяться в другие слои кожи.
                    </p>
                    <h3>
                        Почему стоит выбрать безинъекционную мезотерапию в салоне ''PRIMAVERA beauty club''?
                    </h3>
                    <p>
                        Перед процедурой безинъекционной мезотерапии в нашем салоне мы проводим глубокие очищение к ожи с помощью специального геля HydroPeptide с 10% гликолевой кислотой, которая сама по себ е оказывает омолаживающее воздействие на кожу. Это существенно повышает эффективность препа ратов, которые наносятся вовремя мезотерапии.
                    </p>
                    <p>
                        У нас вас ждет безинъекционная мезотерапия, цена которой доступна, а профессионализм космет ологов и индивидуальный подход к каждому клиенту гарантируют  прекрасные результаты дл я красоты и молодости вашей кожи!
                    </p>
                    <p>
                        Эффективная и безопасная процедура для потрясающего внешнего вида – безинъекционная мезотер апия теперь в  Запорожье от квалифицированных специалистов салона "PRIMAVERA beauty c lub"!
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ServicesPriceItem from "../../pricePage/atom/ServicesPriceItem";
    import ServicesSiteBare from "../../pricePage/molecules/ServicesSiteBare";

    export default {
        name: "SingleServiceSubCategoryContent",
        components:{
            ServicesPriceItem,
            ServicesSiteBare
        },
        props:{
            content: {
                type: Object,
                required: true
            }
        },
        computed:{
            allWidth(){
                return this.content.sub_title ? 'col-md-8' : 'col-md-12'
            }
        },
    }
</script>

<!--style in ../singleService/SingleService-->
