<template>
    <div   class="btn-menu" :class="{'btn-menu--load':windowLoad,'btn-menu--active':statusPanelLeft }">
            <div class="btn-menu__toggle" @click="togglePanelLeft(!statusPanelLeft)" >
                <div class="btn-menu__toggle-line anim-ease duration-3"></div>
                <div class="btn-menu__toggle-line anim-ease duration-6"></div>
                <div class="btn-menu__toggle-line anim-ease duration-9"></div>
                <div class="btn-menu__toggle-line--close btn-menu__toggle-line--close-1"></div>
                <div class="btn-menu__toggle-line--close btn-menu__toggle-line--close-2"></div>
            </div>
            <div :class="{'delay-15': !statusPanelLeft}" class="btn-menu__name duration-3 anim-linear">Menu</div>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from "vuex";
    export default {
        name: "ButtonSlidePanelLeft",
        computed:mapGetters(['statusPanelLeft', 'windowLoad']),
        methods: mapMutations(['togglePanelLeft'])
    }
</script>

<style lang="sass" scoped>
    $white: #fff
    .btn-menu
        margin-bottom: 1rem
        &__toggle
            position: relative
            width: 3rem
            height: 3rem
            background: none
            border: 0
            box-sizing: border-box
            display: inline-block
            padding: 1rem
            padding-bottom: 0.5rem
            margin: auto
            margin-bottom: 0.2rem
            box-shadow: inset 0 0 0 2px transparent
            &-line
                background: #fff
                height: 0.125rem
                width: 0
                margin-bottom: 0.25rem
                &--close
                    width: 1px
                    height: 0
                    background: #fff
                    position: absolute
                    left: 1.4rem
                    top: 0.5rem
                    visibility: hidden
                    &-1
                        transform: rotate(45deg)
                    &-2
                        transform: rotate(-45deg)
            &:before,
            &:after
                content: ''
                position: absolute
                box-sizing: inherit
                border: 2px solid transparent
                width: 0
                height: 0
            &:before
                top: 0
                left: 0
            &:after
                bottom: 0
                right: 0
        &__name
            color: $white
            text-transform: uppercase
            opacity: 0
        &--load
            .btn-menu
                &__toggle
                    transition: 0.5s linear
                    &:before,
                    &:after
                        width: 100%
                        height: 100%
                    &:before
                        border-top-color: $white
                        border-right-color: $white
                        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s
                    &:after
                        border-bottom-color: $white
                        border-left-color: $white
                        transition:  border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s
                    &-line
                        width: 100%
                    &>:nth-child(2)
                        width: 75%
                    &:hover
                        background: #f7c17b
                        .btn-menu
                            &__toggle
                                &:before,
                                &:after
                                    transition: 0s
                                    border-color: transparent
                                    width: 0
                                    height: 0
                                &-line
                                    background: #131618
                &__name
                    opacity: 1

        &--active
            .btn-menu
                &__toggle
                    border: 2px solid $white
                    &:before,
                    &:after
                        display: none
                    &-line
                        width: 0!important
                        &--close
                            height: 1.8rem
                            visibility: visible
                            transition: 0.7s ease
                            transition-delay: 0.8s
                &__name
                    opacity: 0
    @media all and (max-width: 62rem)
        .btn-menu
            height: 3rem
            &,
            &__toggle
                margin: 0
            &__name
                display: none

</style>
