<template>
    <div class="slide-panel-right-line" :class="{'slide-panel-right-line--active':statusPanelRight, 'slide-panel-right-line--load': windowLoad}">
        <span class="line"></span>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    export default {
        name: "SlidePanelRightLine",
        computed: mapGetters(['statusPanelRight', 'windowLoad'])
    }
</script>

<style scoped lang="sass">
    .slide-panel-right-line
        position: absolute
        right: 0
        top: 0
        z-index: 99
        height: 100%
        width: 6.25rem
        transition: 1s ease
        &--active
            width: 8.25rem
            z-index: 991
        & .line
            width: 2px
            transition: 1s ease 0.5s
            height: 0
            display: block
            background: #fff
        &--load
            & .line
                height: 100%
    .dark
        z-index: 99
        & .line
            background: #131618
    @media all and (max-width: 85rem)
        .slide-panel-right-line
                &:not(&--active)
                    width: 5rem
    @media all and (max-width: 62rem)
        .slide-panel-right-line
            display: none
</style>
