<template>
    <div class="banner__background-video" v-if="bgImage">
        <img
          class="banner__background-video-img"
          v-show="!videoLoad"
          :src="`/resources/img/homePage/${bgImage}`"
          alt="video">
        <youtube
            width="3840"
            height="2160"
            :fitParent="true"
            :video-id="idVideo"
            :player-vars="videoVars"
            ref="youtube"
            @playing="playing"
            @ended="ended"
            @ready="ready"
        ></youtube>
    </div>
</template>
<!---->
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'HomePageBackgroundVideo',
  data() {
    return {
      bgImage: null,
      idVideo: null,
      videoVars: {
        controls: 0,
        disablekb: 1,
        enablejsapi: 1,
        modestbranding: 1,
        showinfo: 0,
        rel: 0,
        mute: 1,
      },
      videoLoad: false,
      videoQuality: null,
      badVideoResolution: ['large', 'medium', 'small'],
      player: null,
    };
  },
  computed: {
    ...mapGetters(['getContent']),
  },
  methods: {
    ...mapActions(['fetchLazyLoad']),
    async playing() {
      this.player.mute();
      this.player.addEventListener('onPlaybackQualityChange', (e) => this.videoQuality = e.data);
      this.videoQuality = await this.player.getPlaybackQuality();
    },
    ended() {
      this.ready();
    },
    async ready() {
      if (this.player) await this.player.playVideo();
    },
  },
  watch: {
    getContent: {
      handler(val) {
        let banner = _.find(val, (el) => el.banner);
        this.player = this.$refs.youtube ? this.$refs.youtube.player : null;
        if (!_.isEmpty(banner)) {
          banner = banner.banner;
          this.bgImage = banner.image;
          this.idVideo = this.$youtube.getIdFromUrl(banner.video);
          this.videoVars.playlist = this.idVideo;
          this.ready();
        }
      },
      immediate: true,
    },
    videoQuality(val) {
      if (this.badVideoResolution.some((el) => el === val)) {
        this.videoLoad = false;
        console.error(`Poor quality video <<${val}>>`);
      } else {
        this.videoLoad = true;
      }
    },
  },
  mounted() {
    this.fetchLazyLoad('/home-banner');
  },
};
</script>


<style lang="sass">
    .banner
        &__background-video
            width: 100%
            height: 100%
            position: absolute
            z-index: 1
            left: 0
            top: 0
            overflow: hidden
            &-img
                width: 100%
                height: 100%
                object-fit: cover
                position: absolute
                z-index: 1
                left: 0
                top: 0
            & iframe
                min-width: 1920px
                min-height: 1080px
    @media all and (max-width: 75rem)
        .banner
            &__background-video
                & iframe
                    transform: scale(1.7)
    @media all and (max-width: 48rem)
        .banner
            &__background-video
                &-img
                    display: block!important
                & iframe
                    display: none
</style>
