<template>
    <div class="col-xl-5 magazine-slider__main-images image-box image-box--cover">
        <img :src="currenMagazine.img" :alt="currenMagazine.title">
        <div class="magazine-slider__action">
            <button class="magazine-slider__arrow magazine-slide__arrow-prev" @click="handleMagazineArrow(currenMagazine.id-1)"><icon icon="arrow_prev"></icon></button>
            <button class="magazine-slider__arrow magazine-slide__arrow-next" @click="handleMagazineArrow(currenMagazine.id+1)"><icon icon="arrow_next"></icon></button>
        </div>
    </div>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    import {mapGetters, mapMutations} from "vuex";
    export default {
        name: "HomePageMagazineSlide",
        components:{
            Icon,
        },
        computed: mapGetters(['currenMagazine']),
        methods: mapMutations(['handleMagazineArrow']),
    }
</script>

<style scoped lang="sass">
    .magazine-slider
        &__main-images
            overflow: unset
            height: 53.5rem
        &__action
            position: absolute
            z-index: 2
            bottom: -2.1875rem
            left: 0
            width: 100%
            display: flex
            justify-content: center
        &__arrow
            width: 4.375rem
            position: relative
            height: 4.375rem
            box-shadow: 0 0.0625rem 0.1875rem #000
            margin: 0 0.625rem
    @media all and (max-width: 97.5rem)
        .magazine-slider
            &__main-images
                height: 46rem
    @media all and (max-width: 85rem)
        .magazine-slider
            &__main-images
                height: 38.125rem

</style>
