<template>
    <div class="magazine-slider__pagination">
        <div class="magazine-slider__pagination-item"
             v-if="currenMagazine.id !== item.id"
             v-for="item in allMagazines"
             :key="item.id"
        >
            <div class="magazine-slider__pagination-image image-box image-box--cover" @click="currentMagazine(item.id)">
                <img :src="item.img" :alt="item.title">
            </div>
            <div class="magazine-slider__pagination-data" v-html="item.data"></div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from "vuex";

    export default {
        name: "HomePageMagazinePagination",
        computed: mapGetters(['currenMagazine', 'allMagazines']),
        methods: mapMutations(['currentMagazine']),
    }
</script>

<style scoped lang="sass">
    .magazine-slider
        &__pagination
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            &-image
                width: 14.375rem
                height: 19.875rem
                cursor: pointer
            &-data
                padding-top: 20px
                line-height: 1
                text-align: center
                text-transform: uppercase
    @media all and (max-width: 97.5rem)
        .magazine-slider
            &__pagination
                &-item
                    margin: 0 0.3125rem
                    flex-basis: 0
                    -webkit-box-flex: 1
                    flex-grow: 1
                    max-width: 100%
                &-image
                    width: 100%
                    height: 15.625rem
                    & img
                        object-fit: cover

</style>
