<template>
    <div class="news__item col-xl-3">
        <router-link class="dark-content" name="single-blog" :to="'/blog/posts/'+catPost.slug">
        <div class="news__item-thumbnail image-box image-box--square">
            <img :src="catPost.image_link" :alt="catPost.title">
            <div class="news__item-category">{{catName}}</div>
            <div class="news__item-data">{{postData}}</div>
        </div>
        <div class="news__item-title">{{catPost.title}}</div>
        </router-link>
    </div>
</template>

<script>

    export default {
        name: "HomePageNewsFilterItem",
        props:{
            catPost: {
                type: Object,
                required: true
            },
            catNameNews:{
                type: String,
            }
        },
        computed:{
            catName(){
                if (this.catNameNews){
                    return  this.catNameNews;
                }else {
                    return this.catPost.category.name
                }

            },
            postData(){
                return this.catPost.created_at.replace(/\s.*/g, '').split('-').reverse().join('.');
            }
        },
    }
</script>

<style scoped lang="sass">
    .news__item
        cursor: pointer
        &-thumbnail
            font-size: 0.875rem
            &  img
                transition: 0.5s linear
                filter: grayscale(1)
        &-category
            position: absolute
            left: 0
            z-index: 2
            bottom: 0
            color: #fff
            background: #131618
            padding: 0.7rem 2rem
            transition: 0.5s linear
        &-data
            position: absolute
            right: 0
            bottom: 0
            padding: 0.7rem 2rem
            background: #fff
            transition: 0.5s linear
        &-title
            margin: 10px 0
            padding: 1.4rem 1.5rem
            border: 2px solid #E5E5E5
            font-size: 1.1rem
            text-align: center
            transition: 0.5s linear
            height: 6.25rem
            overflow: hidden
            text-overflow: ellipsis
            display: flex
            justify-content: center
            align-items: center
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
        &:hover
            .news__item
                &-thumbnail img
                    filter: grayscale(0)
                &-category
                    background: #F7C17B
                    color: #000
                &-data
                    background: #131618
                    color: #fff
                &-title
                    border-color: #F7C17B
                    text-decoration: underline
    @media (min-width: 75rem) and (max-width: 85rem)
        .news__item
            -webkit-box-flex: 0
            flex: 0 0 33.3333333333%
            max-width: 33.3333333333%
    @media (min-width: 48rem) and (max-width: 75rem)
        .news__item
            -webkit-box-flex: 0
            flex: 0 0 50%
            max-width: 50%
</style>
