<template>
    <div class="team-item col-xl-2dot4 col-lg-4 col-md-6">
        <div class="team-item__inner">
            <div class="team-item__image image-box image-box--square">
                <img :src="content.img" :alt="content.name">
            </div>
            <div class="team-item__info">
                <div class="team-item__info-name font-weight-thin" v-html="content.name"></div>
                <div class="team-item__info-profession">
                    {{content.profession}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomePageTeamItem",
        props:{
            content :{
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped lang="sass">
    .team-item
        &__image
            position: relative
            margin-bottom: 1.25rem
            & img
                filter: grayscale(95%)
                transition: 0.5s linear
            &:before
                content: ""
                position: absolute
                z-index: 2
                left: 0
                right: 0
                top: 0
                bottom: 0
                margin: auto
                width: calc(100% - 1rem)
                height: calc(100% - 1rem)
                border: 2px solid #F7C17B
                opacity: 0
                transition: 0.5s linear
        &__info
            text-align: center
            padding-bottom: 3.125rem
            color: #131618
            &-name
                text-transform: uppercase
                line-height: 2.1
        &:hover
            .team-item
                &__image
                    & img
                        filter: grayscale(0)
                    &:before
                        opacity: 1
    @media all and (max-width: 48rem)
        .team
            &-item
                &__info
                    padding-bottom: 0
                &__image
                    margin-bottom: 1rem
</style>
