<template>
    <div class="our-partners__item">
        <a :href="partner.link">
            <img :src="partner.img" alt="logo-partner">
        </a>
    </div>
</template>

<script>
    export default {
        name: "HomePageOurPartnersItem",
        props: {
            partner:{
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped lang="sass">
    .our-partners__item
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 3.125rem
        & img
            max-width: 14.375rem
            max-height: 10.625rem
    @media (max-width: 97.5rem)
        .our-partners__item
            -webkit-box-flex: 0
            flex: 0 0 33.3333333333%
            max-width: 33.3333333333%
            & img
                max-width: 100%
    @media (max-width: 36.25rem)
        .our-partners__item
            -webkit-box-flex: 0
            flex: 0 0 50%
            max-width: 50%
</style>
