<template>
    <div class="col-xl-3 col-lg-4 col-md-6 services__item">
        <div v-if="linkTitle" class="services__item-inner">
            <div class="services__item-images image-box image-box--square">
                <img :src="service.image" alt="service.title">
            </div>
            <router-link class="dark-content" name="single-blog" :to="'/services/'+service.slug">
                <div class="services__item-title">
                    <h3>{{service.title.replace(/<\/?[^>]+(>|$)/g, "")}}</h3>
                </div>
            </router-link>
        </div>
        <router-link v-else class="dark-content" name="single-blog" :to="'/services/'+service.slug">
            <div class="services__item-inner">
                <div class="services__item-images image-box image-box--square">
                    <img :src="service.image" alt="service.title">
                </div>
                <div class="services__item-title">
                    <h3>{{service.title.replace(/<\/?[^>]+(>|$)/g, "")}}</h3>
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>

    export default {
        name: "homePageServicesItem",
        props:{
            service: {
                type: Object,
                required: true,
            },
            linkTitle:{
                type: Boolean,
                default: null
            }
        }
    }
</script>

<style scoped lang="sass">
    .services
        &__item
            padding-bottom: 1.25rem
            &-inner
                position: relative
            &-images
                & img
                    filter: grayscale(95%)
                    transition: 0.5s linear
                &:before
                    content: ""
                    position: absolute
                    left: 0
                    top: 0
                    right: 0
                    bottom: 0
                    margin: auto
                    border: 0.125rem solid #F7C17B
                    z-index: 1
                    width: calc(100% - 1.25rem)
                    height: calc(100% - 1.25rem)
                    opacity: 0
                    transition: 0.5s linear
            &-title
                position: absolute
                left: 0
                bottom: 0
                width: 100%
                padding: 1rem 0.5rem
                background: #000
                text-align: center
                z-index: 2
                transition: 0.5s linear
                & h3
                    font-weight: 400
                    font-size: 1.1rem
                    color: #fff
                    margin: 0
            &:hover
                .services__item
                    &-images
                        & img
                            filter: grayscale(0)
                        &:before
                            opacity: 1
                    &-title
                        background: #F7C17B
                        & h3
                            color: #000
    @media (min-width: 75rem) and (max-width: 85rem)
        .services__item
            -webkit-box-flex: 0
            flex: 0 0 33.333333333%
            max-width: 33.3333333333%
    @media all and (max-width: 75rem)
        .services
            &__item
                &-title
                    & h3
                        font-size: 0.9rem
</style>
