<template>
    <div :id="'single-blog-page-'+data.id" class="single-blog-page" v-if="data">
        <main-header/>
        <banner-section
            :banner-images="data.image_link"
            :category="data.category"
            :title="data.title"
            :sub-title="data.sub_title"
            :date="dataFormat"
            :bg-overlay="true"
            />
        <div class="position-relative">
            <slide-panel-right-action class="dark"/>
            <single-blog-content :content="data.body"/>
            <single-blog-similar-post v-if="blog" :blog="blog" :id="data.category.id"/>
        </div>
        <home-page-billboard/>
    </div>
</template>

<script>
    import MainHeader from "../../header/MainHeader";
    import HomePageBillboard from "../homePage/organism/HomePageBillboard";
    import BannerSection from "../../banner/BannerSection";
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import SingleBlogContent from "./organism/SingleBlogContent";
    import SingleBlogSimilarPost from "./organism/SingleBlogSimilarPost";
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";

    export default {
        name: "SingleBlog",
        components:{
            MainHeader,
            BannerSection,
            HomePageBillboard,
            SingleBlogContent,
            SingleBlogSimilarPost,
            SlidePanelRightAction
        },
        data(){
          return{
              data: null,
              blog: null
          }
        },
        computed: {
            ...mapGetters(['getContent']),
            dataFormat(){
                const date = new Date (this.data.created_at);
                return `${date.getDate()<10?'0'+date.getDate():date.getDate()}.${ date.getMonth()+1}.${date.getFullYear()}`;
            }
        },
        methods: {
            ...mapMutations(['currentContent']),
            ...mapActions(['fetchLazyLoad'])
        },
        watch:{
            getContent(val){
                const data = val.filter(el => el.body);
                if(!_.isEmpty(data)){
                    this.data = data[0];
                }
                const blog = val.filter(el => el.posts);
                if(!_.isEmpty(blog)){
                    this.blog = blog[0].posts;
                }
            }
        },
        mounted() {
            this.fetchLazyLoad('/blog/'+this.$route.params.slug);
            this.fetchLazyLoad('/blog');
        },
        beforeRouteUpdate(to, from, next){
            if(to.name === 'single-blog'){
                this.currentContent('reset');
                this.fetchLazyLoad('/blog/'+to.params.slug);
                this.fetchLazyLoad('/blog');
                next();
            }
        },
    }
</script>

<style scoped lang="sass">

</style>
