<template>
    <div class="oreder-action">
        <button  @click="statusModal({name:'modalForm',status:true})"
                 class="button button-order"
                 :class="{'button-order--outline':styleOutline,'button-order--outline-black':styleOutlineBlack}">Записаться на приём
        </button>
    </div>
</template>

<script>
    import {mapMutations} from "vuex";

    export default {
        name: "buttonOrder",
        props:{
            styleOutline: {
                type: Boolean,
                default: false
            },
            styleOutlineBlack:{
                type: Boolean,
                default: false
            }
        },
        methods:mapMutations(['statusModal']),
    }
</script>

<style scoped lang="sass">
    .oreder-action
        text-align: center
        width: 100%
        padding: 0 1rem
    .button-order
        border: 1px solid #fff
        background-color: #fff
        color: #131618
        display: inline-flex
        align-items: center
        text-align: center
        justify-content: center
        width: 14.375rem
        height: 3.125rem
        font-size: 0.75rem
        font-weight: 700
        line-height: 1
        text-transform: uppercase
        &--outline
            background: transparent
            color: #fff
            &-black
                border-color: #131618
                color: #131618
    @media (max-width: 48rem)
        .button-order
            height: 2.5rem
</style>
