<template>
    <div id="btn-next-section" v-if="windowW>=992" class="btn-next-section" @click="nextSection">
        <icon icon="scroll_down"></icon>
    </div>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    import {mapGetters} from "vuex";
    export default {
        name: "ButtonNextSection",
        components:{
            Icon,
        },
        computed: mapGetters(["windowW"]),
        methods:{
            nextSection(){
                const scrollTo = document.getElementById('btn-next-section').closest('section').getBoundingClientRect().height;
                window.scrollTo({
                    top: scrollTo,
                    behavior: "smooth"
                });
            }
        },
    }
</script>

<style lang="sass">
    .btn-next-section
        cursor: pointer
        position: absolute
        z-index: 3
        bottom: 50px
        left: 0
        right: 0
        margin: auto
        transition: 0.5s linear
        width: max-content
        &:hover svg>path
            fill: #f7c17b
</style>
