<template>
    <div id="action-add-to-top" v-if="!statusPanelRight">
        <transition name="fade">
            <button id="add-to-top"  @click="backToTop" v-if="buttonActive" :style="buttonStyle" class="add-to-top"></button>
        </transition>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "ButtonBackToTop",
        data(){
            return{
                buttonStyle: null,
                buttonActive: null
            }
        },
        computed:mapGetters(['statusPanelRight',]),
        methods:{
            backToTop(){
                window.scrollTo({top: 0, behavior: 'smooth'});
            }
        },
        mounted() {
            const footer = document.getElementById('main-footer');
            let self = this;
            window.addEventListener('scroll',function () {
                self.buttonActive = this.scrollY > 200;
                let windowHeight = this.innerHeight;
                this.addEventListener('resize', () =>{
                    windowHeight = this.innerHeight;
                });

                if(this.scrollY + windowHeight > footer.offsetTop){
                    let positionButton = this.scrollY + windowHeight - footer.offsetTop;
                    self.buttonStyle = `bottom:${(positionButton - 20)/16}rem`;
                }else{
                    self.buttonStyle = 'bottom: 1rem';
                }
            });
        }
    }
</script>

<style scoped lang="sass">
    .add-to-top
        position: fixed
        padding: 0
        width: 3rem
        height: 3rem
        display: flex
        z-index: 9991
        right: 4.6875rem
        bottom: 1rem
        align-items: center
        justify-content: center
        border: 0.125rem solid #131618
        background: #fff
        &:before
            content: ''
            display: block
            padding: 0.19rem
            border: solid #131618
            border-width: 0px 0px 2px 2px
            transform: rotate(135deg)
    @media all and (max-width: 85rem)
        .add-to-top
            right: 3.5rem
    @media all and (max-width: 62rem)
        .add-to-top
            width: 2.5rem
            height: 2.5rem
            bottom: 0.8rem!important
            right: 1rem
</style>
