<template>
        <div class="button-video">
            <icon icon="playVideo" class="button-video__icon"></icon>
            посмотреть видео
        </div>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    export default {
        name: "ButtonPlayVideo",
        components: {
            Icon,
        },
    }
</script>

<style scoped lang="sass">
    .button-video
        position: relative
        z-index: 2
        font-weight: 700
        font-size: 0.75rem
        color: #fff
        text-align: center
        text-transform: uppercase
        cursor: pointer
        &__icon
            display: block
            padding-bottom: 15px
</style>
