<template>
    <div class="youtube-button">
        <icon icon="youtube_button"></icon>
    </div>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    export default {
        name: "ButtonYouTube",
        components:{
            Icon,
        }
    }
</script>

<style scoped lang="sass">
    .youtube-button
        position: absolute
        z-index: 1
        left: 0
        right: 0
        bottom: 0
        top: 0
        margin: auto
        width: max-content
        height: max-content
        cursor: pointer
        display: flex
        align-items: center
</style>
