<template>
    <div class="form__item form__item-button-sendmail">
        <button :disabled="getFormLoad" class="button button-sendmail button--outline">Отправить</button>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    export default {
        name: "ButtonForm",
        computed: mapGetters(['getFormLoad'])
    }
</script>

<style scoped lang="sass">

</style>
