<template>
    <footer id="main-footer" class="footer">
        <div class="container" v-if="footerData">
            <div class="row">
                <footer-widget1/>
                <footer-widget2/>
                <footer-widget3 :services="services"/>
                <footer-widget4/>
                <footer-widget5 :address="footerData.contactAddress" :mail="footerData.contactEmail"/>
                <footer-widget6/>
            </div>
        </div>
    </footer>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import FooterWidget1 from "./organism/FooterWidget1";
    import FooterWidget2 from "./organism/FooterWidget2";
    import FooterWidget3 from "./organism/FooterWidget3";
    import FooterWidget4 from "./organism/FooterWidget4";
    import FooterWidget5 from "./organism/FooterWidget5";
    import FooterWidget6 from "./organism/FooterWidget6";
    export default {
        name: "MainFooter",
        components:{
            FooterWidget1,
            FooterWidget2,
            FooterWidget3,
            FooterWidget4,
            FooterWidget5,
            FooterWidget6
        },
        data(){
            return{
                footerData: null,
                services: null
            }
        },
        computed:mapGetters(['respBasicContent']),
        methods:mapActions(['fetchBasicSettings']),
        mounted() {
            this.fetchBasicSettings('/our-services');
        },
        watch:{
            respBasicContent(val){
                this.footerData = !_.isEmpty(val.filter(el => el.settings))?val.filter(el => el.settings)[0].settings:null;
                this.services = !_.isEmpty(val.filter(el => el.services))?val.filter(el => el.services)[0].services:null;
            }
        }
    }
</script>

<style lang="sass">
    .footer
        background: #131618
        padding: 3.125rem 0 1.875rem
        color: #fff
        & a
            color: #fff
        &-nav
            &>ul
                margin-bottom: 0
                &>li
                    padding-bottom: 1rem
        &-logo
            padding-bottom: 1rem
        &-copy
            color: #808080
            position: absolute
            bottom: 1rem
        &-info
            font-size: 0.875rem
            line-height: 1.4
            position: relative
            height: 100%
        &-description
            padding-bottom: 3.5rem
        &__widget
            &-item
                padding-bottom: 1.25rem
            &-title
                font-weight: 500
                color: #fff
                display: flex
                align-items: center
                margin-bottom: 1rem
                &:before,
                &:after
                    content: ""
                    display: block
                    width: 1.875rem
                    height: 0.0625rem
                    background: #fff
                    margin-right: 1rem
                &:after
                    display: none
            &-phone
                & a
                    padding-bottom: 1rem
                    font-weight: 700
                    & strong
                        color: #F7C17B
            &-mail,
            &-adress
                font-size: 0.875rem
                font-weight: 700
            &-social
                text-align: right
    @media all and (max-width: 85rem)
        .footer
            &-nav > ul > li
                padding-bottom: 0.5rem
    @media (min-width: 75rem) and (max-width: 85rem)
        .footer
            font-size: 0.85rem
            &__widget
                padding: 0 0.5rem
                &-phone a
                    font-size:  0.8rem
            &-nav > ul > li
                padding-bottom: 0.5rem
    @media all and (max-width: 75rem)
        .footer
            padding-bottom: 0.875rem
            &__widget
                &-item
                    padding-bottom:  1.25rem
                &-social
                    text-align: center
                &-one
                    order: 1
                &-two
                    order: 2
                &-three
                    order: 3
    @media all and (max-width: 62rem)
        .footer
            &__widget
                &-one
                    order: 6
                &-six
                    order: 5
                    align-items: center
                    display: flex
    @media all and (max-width: 48rem)
        .footer
            padding: 1.25rem 0 1.875rem
            &__widget
                &-two
                    order: 1
                    & .footer-nav  > ul
                        columns: 3
                &-three
                    order: 2
                    & .footer-nav  > ul
                        columns: 2
                        font-size: 0.875rem
                &-four,
                &-five,
                &-six
                    text-align: center
                    order: 3
                    display: block
                &-one
                    text-align: center
                    & .footer__widget-item
                        padding-bottom: 0
                &-title
                    justify-content: center
                    &:after
                        display: block
                        margin-left: 1rem
            &-description,
            &-logo
                display: none
            &-copy
                position: relative
                bottom: auto
                max-width: 9.375rem
                margin: 1.875rem auto 0
</style>
