<template>
    <section id="photo-gallery-section" class="photo-gallery section">
        <div class="container" v-if="images">
            <div
                v-masonry
                class="masonry-container"
                item-selector=".photo"
            >
                <div
                    stagger="0.05s"
                      v-masonry-tile
                      class="masonry--item photo"
                      v-for="photo in images"
                      @click="currentIndexImage = photo.id"
                      :key="photo.id">
                    <img  :src="photo.image_link" :alt="photo.alt" >
                </div>
            </div>
            <vue-gallery-slideshow
                :images="argsImagesLink"
                :index="currentIndexImage"
                @close="currentIndexImage = null">
            </vue-gallery-slideshow>
        </div>
    </section>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import VueGallerySlideshow from 'vue-gallery-slideshow';
    export default {
        name: "PhotoGallerySection",
        components:{
            VueGallerySlideshow
        },
        data(){
            return{
                images: null,
                argsImagesLink: null,
                currentIndexImage: null,
            }
        },
        computed :mapGetters(['getContent']),
        methods:mapActions(["fetchLazyLoad"]),
        mounted() {
            this.fetchLazyLoad('/gallery/photos');
        },
        watch:{
            getContent(val){
                const images = val.filter(el => el.gallery_image);
                if(images.length != 0){
                    this.images = images[0].gallery_image;
                    this.argsImagesLink = this.images.map(el=>el.image_link);
                }
            }
        },
    }
</script>

<style scoped lang="sass">
    .photo-gallery
        padding: 1rem 0 6.25rem

    .masonry
        &-container
            margin: 0 -3px
            & .masonry--item
                height: 40rem
            &>:nth-child(3n+2),
            &>:nth-child(5n-2)
                height: 20rem
            &:nth-child(5n-1)
                height: 40rem
        &--item
            width: 100%
            flex: 0 0 33.333333%
            max-width: 33.333333%
            padding: 0.1875rem
            & img
                width: 100%
                object-fit: cover
                height: 100%

    @media all and (max-width: 62rem)
        .photo-gallery
            padding-bottom: 4rem
        .masonry
            &-container
                & .masonry--item
                    flex: 0 0 50%
                    max-width: 50%
                    height: 480px
                &>:nth-child(3n+2)
                    height: 15rem

    @media all and (max-width: 36.25rem)
        .photo-gallery
            padding: 0 0 2.5rem
        .masonry-container
            & .masonry--item
                flex: 0 0 100%
                max-width: 100%
                height: 45vh

</style>
