<template>
    <div class="slide-panel slide-panel-left" :class="{ 'slide-panel-left--is-visible' : statusPanelLeft, 'slide-panel-left--load': windowLoad}">
        <div class="slide-panel-left__inner">
            <div class="slide-panel-left__item slide-panel-left__actions" ref="LeftActions">
                <site-logo id="main-logo" class="site-heading__logo" icon-logo="logo-mobile"/>
                <button-slide-panel-left/>
            </div>
            <div class="slide-panel-left__content">
                <div class="slide-pane-left__item slide-panel-left__multilang">
                    <a href="#" >
                        <span class="slide-panel-left__lang active">RU</span>
                    </a>
                    <a href="#">
                        <span class="slide-panel-left__lang">UKR</span>
                    </a>
                    <a href="#">
                        <span class="slide-panel-left__lang">ENG</span>
                    </a>
                </div>
                <div class="slide-panel-left__item slide-panel-left__nav">
                    <main-nav/>
                </div>
                <div class="slide-panel-left__item slide-panel-left__contact">
                    <phone/>
                </div>
                <div class="slide-panel-left__item slide-panel-left__social">
                    <social-icons/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    import MainNav from "../navigation/MainNav";
    import ButtonSlidePanelLeft from './atoms/ButtonSlidePanelLeft'
    import SocialIcons from "../social/SocialIcons";
    import Phone from "../phoneNumber/Phone";
    import SiteLogo from "../logo/SiteLogo";
    export default {
        components: {
            ButtonSlidePanelLeft,
            MainNav,
            SocialIcons,
            Phone,
            SiteLogo
        },
        name: "SlidePanelLeft",
        computed: mapGetters(['statusPanelLeft', 'windowLoad']),
        watch:{
            statusPanelLeft(){
                this.$refs.LeftActions.scrollIntoView(false);
            }
        },
    }
</script>

<style lang="sass">
    .slide-panel
        &-left
            overflow: hidden
            height: 100vh
            position: fixed
            top: 0
            width: 6.125rem
            z-index: 99
            background: #000
            -webkit-transition: 1s ease
            -o-transition: 1s ease
            transition: 1s ease
            font-weight: 400
            scrollbar-width: none
            &::-webkit-scrollbar
                display: none
            &__inner
                padding: 2.5rem 0 3rem
                text-align: center
                height: 100%
            &__nav
                & .main-nav
                    &>ul
                        margin-bottom: 0
                        &>li
                            overflow: hidden
                            margin: 0 1.5625rem
                            position: relative
                            text-align: center
                            text-transform: uppercase
                            &.menu-item--active a
                                color: #F7C17B
                            & a
                                padding: 1.5625rem 0
                            &:not(:last-child) a
                                &:after
                                    content: ''
                                    display: block
                                    width: 100%
                                    height: 1px
                                    background: #4D4D4D
                                    position: absolute
                                    bottom: 0
                            &:not(:last-child):after
                                content: ''
                                display: block
                                width: 0
                                height: 1px
                                background: #4D4D4D
                                transition-timing-function: linear
            &__content
                padding-top: 0.5rem
                display: flex
                flex-wrap: wrap
                justify-content: center
                height: max-content
                & a
                    color: #fff
                    text-decoration: none
                    &:hover
                        color: #F7C17B
                        transition: 0.5s linear
            &__multilang
                display: flex
                justify-content: center
                padding-bottom: 1rem
                transform: translateX(-20rem)
                transition: 1s ease
                & a
                    margin: 0 1.875rem
                & .active
                    font-weight: 900
                    color: #F7C17B
            &__contact
                padding-bottom: 1rem
                @for $i from 1 through 5
                    &>.group-phone
                        &>:nth-child(#{$i})
                            transition-duration:($i * 300) + 200 + ms
                & .phone
                    text-align: center
                    padding-bottom: 10px
                    opacity: 0
                    transition-delay: 0.5s
                    & strong
                        font-weight: 700
                        color: #F7C17B
            &__social
                padding: 2rem 0 1.5rem
                text-align: center
                & .social-icons
                    justify-content: center
                    display: flex
                    @for $i from 1 through 5
                        &>:nth-child(#{$i})
                            transition-duration:((5-$i) * 400) + 200 + ms
            &__nav .main-nav a,
            &__contact .phone,
            &__social .social-icon
                transform: translateX(-20rem)
                display: block
            &__item
                flex: 0 0 100%
                width: 100%
                max-width: 100%
            & .site-heading__logo
                display: none
            &--load
                .slide-panel
                    &-left
                        &__nav
                            & .main-nav
                                &>ul
                                    &>li
                                        &:not(:last-child):after
                                            width: 100%
            &--is-visible
                overflow-y: auto
                width: 19.25rem
                .slide-panel
                    &-left
                        &__content
                            height: calc(100% - 5rem)
                        &__nav
                            & .main-nav
                                &>ul
                                    &>li
                                        &:after
                                            visibility: hidden
                                            transform: translateX(20rem)
                                            transition: 0s
                                        &>a
                                            transform: translateX(0)

                        &__multilang,
                        &__contact .phone,
                        &__social .social-icon
                            opacity: 1
                            transform: translateX(0)
            &:not(.slide-panel-left--is-visible) *
                transition-delay: 0s!important
    @media all and (max-width: 85rem)
        .slide-panel
            &__left:not(&--is-visible)
                width: 5rem
    @media all and (max-width: 62rem)
        .slide-panel
            &-left
                &__inner
                    text-align: right
                    padding: 1rem
                width: 100% !important
                height: 4.375rem
                &__multilang,
                &__contact .phone,
                &__social .social-icon,
                &__nav .main-nav ul>li>a
                    transform: translateX(0) translateY(100vh)
                &__multilang
                    transition: 0.3s ease 0s
                &__contact .phone
                    transition: 0.5s ease 1.4s
                &__social .social-icon
                    transition: 0.5s ease 1.8s
                &:not(&--is-visible) &__actions
                    display: flex
                    justify-content: space-between
                    align-items: center
                    height: 100%
                &:not(&--is-visible) .site-heading__logo
                    display: block
                &--is-visible
                    height: 100%
                    .slide-panel
                         &-left
                             &__inner
                                 text-align: center
                             &__actions
                                 padding-bottom: 1rem
                             &__multilang,
                             &__contact .phone,
                             &__social .social-icon,
                             &__nav .main-nav ul>li>a
                                 transform: translateY(0)

</style>
