<template>
    <div v-if="images">
        <div id="panel-right" class="slide-panel slide-panel__right" :class="{ 'slide-panel--is-visible' : statusPanelRight}">
            <div class="slide-panel__inner" >
                <div class="slide-panel__gallery">
                    <div class="slide-panel__gallery-inner img-responsive">
                        <div @click="currentIndexImage = img.id"  v-for="(img,i) in images"  :key="img.id" :class="`duration-${i+2}`" class="image-box image-box--square anim-ease">
                            <img :src="img.image_link" :alt="img.alt">
                        </div>
                        <div class="slide-panel__gallery-all">
                            <router-link to="/gallery/photos">
                                <icon icon="all-images"/>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <vue-gallery-slideshow
                :images="argsImagesLink"
                :index="currentIndexImage"
                @close="currentIndexImage = null">
            </vue-gallery-slideshow>
    </div>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    import VueGallerySlideshow from 'vue-gallery-slideshow';
    import {mapActions, mapGetters} from "vuex";
    export default {
        name: "SlidePanelRight",
        components: {
            Icon,
            VueGallerySlideshow
        },
        data(){
            return{
                images:null,
                argsImagesLink: null,
                currentIndexImage: null,
            }
        },
        computed :mapGetters(['respBasicContent', 'statusPanelRight']) ,
        methods:{
            ...mapActions(["fetchBasicSettings"]),
        },
        watch:{
            respBasicContent(val){
                const images = val.filter(el => el.gallery_image);
                if(images.length != 0){
                    this.images = images[0].gallery_image.slice(0,12);
                    this.argsImagesLink = this.images.map(el=>el.image_link);
                }
            }
        },
        mounted() {
            this.fetchBasicSettings('/gallery/photos');
            this.fetchBasicSettings('/gallery/videos');
        },
    }
</script>

<style scoped lang="sass">
    .slide-panel
        &__right
            position: fixed
            top: 0
            z-index: 99
            height: 100%
            background: transparent
            visibility: visible
            -webkit-transition: 1s ease
            -o-transition: 1s ease
            transition: 1s ease
            width: 8.125rem
            right: 0
            transform: translate3d(1.875rem, 0, 0)
            overflow-x: hidden
            scrollbar-color:  #F7C17B #fafafa
            scrollbar-width: 0.625rem
            &::-webkit-scrollbar
                width: 0.625rem
                &-button
                    display: none
                &-thumb
                    background: #F7C17B
        &__gallery
            visibility: hidden
            &-inner
                position: relative
                &:before
                    content: ""
                    position: absolute
                    left: 0
                    top: 0
                    width: 0
                    height: 100%
                    background: #fff
                    transition: 1s ease
                & .image-box
                    transform: translate3d(100%, 0, 0)
                    & img
                        cursor: pointer
            &-all
                transform: translate3d(0, 0, 0)
        &--is-visible
            background: #fff
            transform: translate3d(0, 0, 0)
            .slide-panel
                &__gallery
                    visibility: visible
                    &-inner
                        &:before
                            width: 100%
                        & .image-box
                            transition-delay: 0.5s
                            transform: translate3d(0, 0, 0)
    @media all and (max-width: 62rem)
        .slide-panel__right
            display: none
</style>
