<template>
    <div id="photo-gallery-page" class="photo-gallery-page position-relative">
        <slide-panel-right-action class="dark" :fixedName="true"/>
        <main-header :lightHeader="true"/>
        <h1 class="photo-gallery-page__title font-weight-thin text-center"><strong>Фото</strong> Галерея</h1>
        <gallery-section/>
    </div>
</template>

<script>
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";
    import MainHeader from "../../header/MainHeader";
    import GallerySection from "./organism/PhotoGallerySection";
    export default {
        name: "PhotoGallery",
        components:{
            SlidePanelRightAction,
            MainHeader,
            GallerySection
        },
    }
</script>

<style scoped lang="sass">
    @media all and (max-width: 62rem)
        .photo-gallery-page
            &__title
                padding-top: 1.5rem
</style>
