<template>
    <section id="banner" class="banner" :class="{'bg-overlay': bgOverlay}" :style="`background-image:url(${bannerImages})`">
        <slide-panel-right-action />
        <div class="container banner__container" >
            <div v-if="!date && !category">
                <div class="banner__pre-title" v-if="preTitle">{{preTitle}}</div>
                <h1 class="banner__title" v-html="title"></h1>
                <div class="banner__sub-title" v-if="subTitle" v-html="subTitle"></div>
                <button-order :styleOutline="buttonStyleOutline"/>
            </div>
            <div v-if="date || category">
                <div class="banner__post-date" v-if="date">{{date}}</div>
                <h1 class="banner__title banner__post-title" v-html="title"></h1>
                <div class="banner__post-sub-title" v-if="subTitle">{{subTitle}}</div>
                <div class="banner__post-action">
                    <router-link class="banner__post-btn"  v-if="category" :to="{name:'blog-category', params:{slug:category.slug}}">
                        {{category.name}}
                    </router-link>
                </div>
            </div>
        </div>
        <button-next-section class="banner__button-next"/>
    </section>
</template>

<script>
    import buttonOrder from "../button/buttonOrder";
    import SlidePanelRightAction from "../slidePanel/molecules/SlidePanelRightAction";
    import ButtonNextSection from "../button/ButtonNextSection";

    export default {
        name: "BannerSection",
        props: {
            bannerImages:{
              type: String,
              required: true
            },
            bgOverlay:{
              type: Boolean,
              default: false
            },
            preTitle:String,
            title:{
                type: [HTMLAllCollection,String],
                required: true
            },
            subTitle:[HTMLAllCollection,String],
            buttonStyleOutline:{
                type: Boolean,
                default: true
            },
            date:String,
            category: Object,
        },
        components:{
            SlidePanelRightAction,
            buttonOrder,
            ButtonNextSection
        },
    }
</script>

<style scoped lang="sass">
    .banner
        position: relative
        min-height: 100vh
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        padding: 6.25rem 1rem
        display: flex
        align-items: center
        justify-content: center
        vertical-align: middle
        flex-wrap: wrap
        text-align: center
        color: #fff
        text-transform: uppercase
        &__container
            position: relative
            z-index: 2
        &__title
            color: #fff
        &__pre-title
            font-weight: 700
            font-size: 1.5rem
        &__sub-title
            font-size: 1.125rem
            line-height: 1.4
            margin-bottom: 1.875rem
        &__post
            &-title
                font-size: 3rem
                padding-bottom: 0.625rem
            &-data
                font-size: 1.125rem
                line-height: 1.7
                padding-bottom: 0.625rem
            &-sub-title
                font-size: 1.125rem
                font-weight: 500
                padding-bottom: 1.25rem
                max-width: 60rem
                margin: auto
            &-btn
                font-size: 0.875rem
                font-weight: 700
                padding: 0.625rem 2.375rem
                background: #F7C17B
                color: #131618
                line-height: 1.45
                display: inline-block
                &:hover
                    color: #fff
        &.bg-overlay
            color: #fff
    @media all and (max-width: 62rem)
        .banner
            min-height: calc(100vh - 4.375rem)
            &__post
                &-title
                    font-size: 2.25rem
    @media all and (max-width: 36rem)
        .banner
            &__post
                &-title
                    font-size: 1.75rem
</style>
