<template>
    <article :id="'content-'+this.$route.params.id" class="content">
        <div class="container" >
            <div class="sub-title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="img-right pl-md-4">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/fashion.jpg" alt="blog">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.
            </p>
            <div class="clearfix"></div>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>
            <div class="video">
                <iframe width="736" height="500" src="https://www.youtube.com/embed/-337c2a3s0A" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                <br></div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
            <h2 class="text-left">
                Lorem ipsum dolor sit amet consectetur adipisicing elit
            </h2>
            <ul>
                <li>отсутствие повреждений кожного покрова; </li>
                <li>безболезненность процедуры; </li>
                <li>мгновенный эффект; </li>
                <li>короткий реабилитационный период. Ваша кожа восстановится за 2 часа;</li>
                <li>отсутствие покрасней на коже; </li>
                <li>универсальность процедуры: она может применяться даже женщинами с хрупкими сосудами или чувствительной кожей,
                    а также с имплантацией нитей; </li>
                <li>устранение не только последствий, но и самого источника проблемы.</li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://aleksandr_lab.gitlab.io/imageprimavera/image_post1.jpg" alt="blog2">
                </div>
                <div class="col-md-6">
                    <img src="https://aleksandr_lab.gitlab.io/imageprimavera/image_post2.jpg" alt="blog3">
                </div>
            </div>
            <div class="clearfix"></div>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <blockquote>
                Life is full of beauty. Notice it. Notice the bumble bee, the small child, and the smiling faces. Smell the rain, and feel the wind. Live your life to the fullest potential, and fight for your dreams.
                <cite>Jennyfer Livingston</cite>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <blockquote class="blockquote-two">
                «A beautiful woman delights the eye; a wise woman, the understanding; a pure one,
                the soul».
                <cite>Jennyfer Livingston</cite>
            </blockquote>
            <div class="gallery">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/image_post1.jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/image_post2.jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/Magazine(1).jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/Magazine(2).jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/Magazine(3).jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/about_job.jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/image_post1.jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/Magazine(3).jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/Magazine(1).jpg" alt="">
                <img src="https://aleksandr_lab.gitlab.io/imageprimavera/image_post2.jpg" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <h2 class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat;</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat;</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat;</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat;</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat;</li>
            </ol>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <img class="full-width" src="https://aleksandr_lab.gitlab.io/imageprimavera/image_post2.jpg" alt="image_post2">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <div class="link-share">
                <div class="link-share__title">13 УКЛАДОК, КОТОРЫЕ ЛЕГКО СДЕЛАТЬ ПЕРЕД СНОМ</div>
                <a href="#" target="_blank">http://www.primavera.beauty/articles/13_ukladok_kotoryie_legko_sdelat_pered_snom</a>
            </div>
            <div class="link-download">
                <div class="link-download__title">13 УКЛАДОК, КОТОРЫЕ ЛЕГКО СДЕЛАТЬ ПЕРЕД СНОМ</div>
                <a  href="#" download>13_ukladok_kotoryie_legko_sdelat_pered_snom.pdf (3.46 MB)</a>
            </div>
        </div>
    </article>
</template>

<script>
    import {gallerySingelPost} from '../../../../helpers/slider'
    export default {
        name: "SingleBlogContent",
        props:{
            content:{
                type:[HTMLAllCollection, String],
                required:true
            }
        },
        mounted() {
            gallerySingelPost();
        },
        updated() {
            gallerySingelPost();
        }
    }
</script>

<style lang="sass">
    .single-blog-page
        & .content
            margin: 0 auto
            max-width: 81.25rem
            position: relative
            padding: 2.5rem 0 5rem
            & p, & h1, & h2, & h3, & h4, & h5, & h6,
            & blockquote, ul,ol, a, span, & .sub-title, & .blockquote-two, .video,
            & .link-share, & .link-download
                max-width: 63.75rem
                margin-left: auto
                margin-right: auto
            & h2
                font-size: 1.125rem
                padding: 1.375rem 0 1.25rem
                text-align: center
                margin: 0 auto
            & p
                font-weight: 300
                line-height: 1.7
                margin-bottom: 0.5rem
            & ol,
            & ul
                list-style: none
                margin-bottom: 0
            & ul
                & li
                    padding: 0 0 0.625rem 3.125rem
                    line-height: 1.7
                    font-weight: 500
                    position: relative
                    &:before
                        content: ''
                        width: 1.875rem
                        height: 0.0625rem
                        background: #131618
                        margin-right: 1.25rem
                        position: absolute
                        left: 0
                        top: 0.8125rem
            & ol
                & li
                    counter-increment: custom-counter
                    position: relative
                    display: flex
                    align-items: baseline
                    font-weight: 300
                    line-height: 1.7
                    padding-bottom: 1rem
                    &:before
                        content: "0" counter(custom-counter)
                        font-weight: 900
                        font-size: 1.125rem
                        color: #F7C17B
                        padding-right: 1.25rem
            & iframe
                width: 100%
                border: none
            & blockquote
                margin: 1.875rem auto
                font-size: 1.5rem
                line-height: 1.5
                font-weight: 300
                &:not(.blockquote-two)
                    background: url(/resources/img/svg/blockquote_img.svg)0 0.4rem/ auto no-repeat
                    padding-left: 8.125rem
            & cite
                display: block
                padding-top: 0.25rem
                font-size: 1.125rem
                line-height: 1.5
                color: #666
                font-weight: 700
                font-style: italic
                &:before
                    content: '\2014'
            & .blockquote-two
                padding: 1.875rem 3.75rem
                background: #EBEBEB
                position: relative
                &:before
                    content: ''
                    position: absolute
                    top: 0
                    left: 0
                    width: 1.25rem
                    height: 100%
                    background: #F7C17B
            & .sub-title
                font-size: 1.5rem
                line-height: 1.5
                font-weight: 300
                margin-bottom: 2.5rem
            & .full-width
                padding: 1.25rem 0 2.5rem
                width: 100%
                height: auto
                object-fit: cover
            & .img-left
                float: left
            & .img-right
                float: right
            & .video
                padding: 1.875rem 0 1.25rem
            & .description
                font-size: 0.75rem
                line-height: 1.4
                font-weight: 300
                max-width: 47.5rem
                margin: 0 auto
                text-align: center
                padding-bottom: 1.875rem

            & .link
                &-download,
                &-share
                    background-color: #EBEBEB
                    background-repeat: no-repeat
                    background-position: 3.125rem 50%
                    padding: 1.25rem 8.125rem
                    position: relative
                    font-size: 0.875rem
                    margin-top: 1.875rem
                    &:before
                        content: ''
                        position: absolute
                        left: 0
                        top: 0
                        width: 1.25rem
                        height: 100%
                        background: #F7C17B
                    &__title
                        font-weight: 900
                        padding-bottom: 0.3125rem
                    & a
                        color: #666
                        word-break: break-all
                &-download
                    background-image: url("/resources/img/svg/download.svg")
                &-share
                    background-image: url("/resources/img/svg/share.svg")
        & .gallery
            width: 100%
            max-width: 64.375rem
            height: auto
            margin: 0 auto 2.5rem
            position: relative
            &__conteiner
                padding: 0
                width: 100%
                height: 8.25rem
                margin: 0
                display: -webkit-box
                display: -webkit-flex
                display: -moz-box
                display: -ms-flexbox
                display: flex
                justify-content: center
                overflow: hidden
                -webkit-transition: all 0.5s
                -o-transition: all 0.5s
                -moz-transition: all 0.5s
                transition: all 0.5s
            &__item
                width: 100%
                flex: 0 0 20%
                max-width: 20%
                text-align: center
                cursor: pointer
                &-image
                    width: 100%
                    height: 100%
                    object-fit: cover
                    -webkit-transition: all 0.5s
                    -o-transition: all 0.5s
                    -moz-transition: all 0.5s
                    transition: all 0.5s
                    padding: 0 0.3125rem
            &__action
                z-index: 2
                width: 100%
                position: absolute
                left: 0
                bottom: 0
                display: flex
                justify-content: space-between
            &__btn
                width: 4.375rem
                height: 4.375rem
                background: #fff
                position: relative
                display: flex
                justify-content: center
                align-items: center
                &:hover
                    background: darken(#fff, 10%)
                &:before
                    content: ""
                    display: block
                    padding: 0.375rem
                    border: solid #131618
                    border-width: 0px 0px 0.125rem 0.125rem
                    transform: rotate(135deg)
                &-prev
                    &:before
                        transform: rotate(45deg)
                &-next
                    &:before
                        transform: rotate(-135deg)
            &__counter
                position: absolute
                z-index: 3
                left: -7.5rem
                top: 4.375rem
                &-current
                    font-size: 1.5rem
                    font-weight: 500
                    padding-left: 0.625rem
                &:after
                    content: ''
                    display: block
                    width: 9.375rem
                    height: 0.25rem
                    background: #F7C17B
            &__current-image
                width: 100%
                height: 100%
                object-fit: cover
                max-height: 39.375rem
                &-box
                    position: relative
                    margin: 0 0.3125rem 0.625rem
                    text-align: center
                    overflow: hidden

    @media all and (max-width: 97.5rem)
        .single-blog-page
            & .content
                & .gallery
                    &__counter
                        left: -4.5rem
                        &:after
                            width: 8rem
    @media all and (max-width: 85rem)
        .single-blog-page
            & .content
                & .gallery
                    &__counter
                        left: 0
                        &:after
                            width: 6rem
    @media all and (max-width: 75rem)
        .single-blog-page
            & .content
                p
                    clear: both
                & .img-left,
                & .img-right
                    float: none
                    text-align: center
                    padding-bottom: 1.25rem
    @media all and (max-width: 62rem)
        .single-blog-page
            & .content
                padding: 1.5rem 0 1.5rem
                & h2
                    padding: 1.25rem 0
                & .full-width
                    padding: 1rem 0 1.25rem
                & .gallery__item
                    max-width: 25%
                    flex: 0 0 25%
                & .video
                    padding: 1.25rem 0
                .description
                    padding-bottom: 1.25rem
    @media all and (max-width: 48rem)
        .single-blog-page
            & .content
                & h2
                    padding: 0 0 1.25rem
                & .row img
                    padding-bottom: 1.25rem
                p
                    margin-bottom: 1.25rem
                & .gallery
                    &__btn
                        width: 3rem
                        height: 3rem
                    &__current-image
                        padding-bottom: 0
                    &__item
                        max-width: 33.33333%
                        flex: 0 0 33.33333%
    @media all and (max-width: 36rem)
        .single-blog-page
            & .content
                & blockquote
                    margin: 1.25rem 0
                    font-size: 1rem
                    &:not(.blockquote-two)
                        padding-left: 3rem
                        background-size: 2.5rem
                & cite
                    font-size: 0.875rem
                & ol,
                & ul
                    & li
                        line-height: 1.4
                        padding-bottom: 0.5rem
                & .blockquote-two
                    padding: 1rem 1.5rem
                    &:before
                        width: 0.5rem
                & .sub-title
                    font-size: 1rem
                    margin-bottom: 1.25rem
                & .full-width
                    padding-top: 0
                & .video
                    padding-top: 0
                    iframe
                        height: 21.875rem
                & .link
                    &-download,
                    &-share
                        background-position: 1rem 50%
                        padding: 1rem 3rem
                        background-size: 1.25rem
                        margin-top: 1.25rem
                        &:before
                            width: 0.625rem
                    &-download
                        background-size: 0.875rem
                & .gallery
                    margin-bottom: 1.25rem
                    &__counter
                        display: none
                    &__item
                        flex: 0 0 50%
                        max-width: 50%

</style>
