<template>
    <div id="similar-section" class="similar section" v-if="blog">
        <div class="container">
            <h3 class="similar__title font-weight-thin"><strong>Похожие</strong> статьи</h3>
            <div class="row"  v-if="windowW>1560">
                <Home-page-news-filter-item v-for="post in similarBlog" :cat-post="post" :key="post.id"/>
            </div>
            <carousel v-else :navigationEnabled="true" :autoplayTimeout="3000" :centerMode="true" :loop="true"  :per-page="setingSlider.perPage" :paginationEnabled="false" >
                <slide v-for="post in similarBlog" :key="post.id">
                    <Home-page-news-filter-item class="full-width" :cat-post="post"/>
                </slide>
            </carousel>
            <div class="similar__action">
                <router-link class="button button--outline" to="/blog">Ко всем материалам</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import HomePageNewsFilterItem from "../../homePage/atom/HomePageNewsFilterItem";
    import { Carousel, Slide } from 'vue-carousel';
    import {mapGetters} from "vuex";

    export default {
        name: "SingleBlogSimilarPost",
        components:{
            HomePageNewsFilterItem,
            Carousel,
            Slide
        },
        data(){
          return{
              setingSlider:{
                  perPage:3,
              }
          }
        },
        props:{
            id:{
                type: [String, Number],
                required: true
            },
            blog:{
                type: Array,
                required: true
            }
        },
        computed: {
            ...mapGetters(['windowW']),
            similarBlog(){
                if(!_.isEmpty(this.blog)){
                    return  this.blog.filter(el=> el.category_id === this.id && el.slug !== this.$route.params.slug).sort(()=> Math.random() - 0.5).slice(0, 4);
                }
            }
        },
        watch:{
            windowW(val){
                if(val<=1200){
                    this.setingSlider.perPage = 2;
                }
                if(val<=768){
                    this.setingSlider.perPage = 1;
                }
            }
        },
        mounted() {
            if(this.windowW<=1200){
                this.setingSlider.perPage = 2;
            }
            if(this.windowW<=768){
                this.setingSlider.perPage = 1;
            }
        }
    }
</script>

<style scoped lang="sass">
    .similar
        padding-bottom: 4.375rem
        &__title
            font-size: 3rem
            padding-bottom: 3.125rem
            text-align: center
        &__action
            text-align: center
            padding-top: 3.125rem
        & .full-width
            max-width: 100%
            width: 100%
            flex: 0 0 100%
    @media all and (max-width: 36rem)
        .similar
            padding-bottom: 2.5rem
            &__title
                padding-bottom: 1.5rem
            &__action
                padding-top: 1.5rem
</style>

<style lang="sass">
    #similar-section
        & .VueCarousel
            &-navigation
                &-button
                    top: 50%
                    margin-top: -4rem
                    border: 1px solid
                &-prev
                    left: 0.5rem
                &-next
                    right: 0.5rem

</style>
