<template>
    <section id="gallery-nav-section" class="gallery-nav section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 gallery-nav__item">
                    <div class="gallery-nav__item-inner">
                        <div class="gallery-nav__icon">
                            <icon icon="photo_gallery"/>
                        </div>
                        <div class="gallery-nav__content">
                            <h3 class="gallery-nav__title font-weight-thin">
                                <strong>Фото</strong> галерея
                            </h3>
                            <div class="gallery-nav__separator"><div class="gallery-nav__separator-line"></div></div>
                            <div class="gallery-nav__description">
                                <p>
                                    Мы соблюдаем протоколы процедур производителей нашего оборудования и косметики. Мы неуклонно следуем рекомендациям и технологическим картам
                                    комплексных программ.
                                </p>
                            </div>
                        </div>
                        <div class="gallery-nav__action">
                            <router-link class="button button--outline" to="/gallery/photos">
                                перейти к фотографиям
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 gallery-nav__item">
                    <div class="gallery-nav__item-inner">
                        <div class="gallery-nav__icon">
                            <icon icon="video_gallery"/>
                        </div>
                        <div class="gallery-nav__content">
                            <h3 class="gallery-nav__title font-weight-thin">
                                <strong>Видео</strong> галерея
                            </h3>
                            <div class="gallery-nav__separator"><div class="gallery-nav__separator-line"></div></div>
                            <div class="gallery-nav__description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing.
                                </p>
                            </div>
                        </div>
                        <div class="gallery-nav__action">
                            <router-link class="button button--outline" to="/gallery/videos">
                                перейти к видеороликам
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    export default {
        name: "GalleryPageNavigation",
        components:{
            Icon
        }
    }
</script>

<style scoped lang="sass">
    .gallery-nav
        padding: 3.125rem 0 5.25rem
        &__item
            padding-bottom: 1rem
            &-inner
                border: 0.25rem solid #131618
                padding: 3.44rem 3.125rem
                height: 100%
        &__icon
            padding-bottom: 1.25rem
        &__title
            font-size: 4.5rem
        &__separator
            padding: 1.25rem 0
            &-line
                max-width: 100%
                width: 12.5rem
                height: 0.0625rem
                background: #131618
    @media all and (max-width: 75rem)
        .gallery-nav
            &__title
                font-size: 3rem

    @media all and (max-width: 62rem)
        .gallery-nav
            padding: 2rem 0 4rem
            &__item-inner
                padding: 1.5rem 1rem 2rem
                display: flex
                flex-wrap: wrap
            &__icon
                max-width: 25%
                flex: 0 0 25%
                padding-right: 1rem
            &__content
                max-width: 75%
                flex: 0 0 75%
            &__action
                max-width: 100%
                flex: 0 0 100%
                text-align: center
    @media all and (max-width: 36.25rem)
        .gallery-nav
            padding: 0 0 2.5rem
            &__title
                font-size: 2rem
</style>
<style lang="sass">
    .gallery-nav
        & svg
            max-width: 100%
</style>
