<template>
    <div id="contact-page" class="contact-page">
        <main-header/>
        <banner-section title="Контакты" banner-images="/resources/img/contactPage/bg_contact.jpg"/>
        <div class="position-relative">
            <contact-page-info/>
            <slide-panel-right-line class="dark"/>
            <contact-page-feedback/>
        </div>
    </div>
</template>

<script>
    import MainHeader from "../../header/MainHeader";
    import BannerSection from "../../banner/BannerSection";
    import ContactPageInfo from "./oragnism/ContactPageInfo";
    import ContactPageFeedback from "./oragnism/ContactPageFeedback";
    import SlidePanelRightLine from "../../slidePanel/atoms/SlidePanelRightLine";
    export default {
        name: "Contact",
        components:{
            MainHeader,
            BannerSection,
            ContactPageInfo,
            ContactPageFeedback,
            SlidePanelRightLine
        },

    }
</script>
<style lang="sass" scoped>
    .page-services
        position: relative
</style>
