<template>
    <div id="video-gallery-page" class="video-gallery-page" >
        <div class="position-relative" v-if="videos">
            <slide-panel-right-action class="dark" />
            <main-header :lightHeader="true"/>
            <video-gallery-preview :main-video="videos[0]" @videoClick="handlerModal(videos[0])"/>
            <div class="video-gallery__items container">
                <div class="row">
                    <div class="col-md-6 col-xl-4" v-for="video in videos" :key="videos.id">
                        <video-gallery-item :video="video" @videoClick="handlerModal(video)"/>
                    </div>
                </div>
            </div>
        </div>
        <home-page-billboard/>
    </div>
</template>
<script>
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import SlidePanelRightAction from "../../slidePanel/molecules/SlidePanelRightAction";
    import MainHeader from "../../header/MainHeader";
    import HomePageBillboard from "../homePage/organism/HomePageBillboard";
    import VideoGalleryPreview from "./organism/VideoGalleryPreview";
    import VideoGalleryItem from "./molecules/VideoGalleryItem";
    export default {
        name: "VideoGallery",
        data(){
          return{
              videos: null
          }
        },
        components: {
            SlidePanelRightAction,
            MainHeader,
            HomePageBillboard,
            VideoGalleryPreview,
            VideoGalleryItem
        },
        computed :  mapGetters(['getContent']),
        methods:{
            ...mapActions(["fetchLazyLoad"]),
            ...mapMutations(['videoModalContent', 'statusModal']),
            handlerModal(video){
                this.videoModalContent(video);
                this.statusModal({name: 'modalVideoGallery', status:true})
            }
        },
        mounted() {
            this.fetchLazyLoad('/gallery/videos');
        },
        watch:{
            getContent(val){
                const videos = val.filter(el => el.gallery_video);
                if(!_.isEmpty(videos)) {
                    this.videos = videos[0].gallery_video;
                }
            }
        }
    }
</script>

<style lang="sass" scoped>
    .video-gallery
        &__items
            padding-bottom: 4.75rem
    @media all and (max-width: 36.25rem)
        .video-gallery
            &__items
                padding-bottom: 2.5rem
</style>
