<template>
    <div class="social-icons" :class="{'social-icons--dark':colorDark}"  v-if="socials">
        <social-icon  :key="nam" v-for="(val, nam) in socials" :icon-name="nam" :icon-url="val"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SocialIcon from './atoms/SocialIcon';

export default {
  name: 'SocialIcons',
  components: {
    SocialIcon,
  },
  props: {
    colorDark: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      socials: null,
    };
  },
  computed: mapGetters(['respBasicContent']),
  watch: {
    respBasicContent: {
      handler(val) {
        const socials = val.find((el) => el.settings);
        if (!_.isEmpty(socials)) {
          this.socials = socials.settings.socials;
        }
      },
      immediate: true,
    },
  },
};
</script>

<style lang="sass">
    .social-icons
        &--dark
            & svg path
                fill: #131618
</style>
