<template>
    <section id="section-contact-info" class="contact-info section">
        <div class="container" v-if="contactInfo">
            <div class="row">
                <div class="col-xl-3 col-md-6 contact-info__block contact-info__block-phone">
                    <div class="contact-info__block-inner">
                        <div class="contact-info__icon">
                            <icon icon="contact-phone"></icon>
                        </div>
                        <div class="contact-info__title">Номера телефонов</div>
                        <div class="contact-info__description">
                            <phone :not-strong="true"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 contact-info__block contact-info__block-mail">
                    <div class="contact-info__block-inner">
                        <div class="contact-info__icon">
                            <icon icon="contact-mail"></icon>
                        </div>
                        <div class="contact-info__title">Электронная почта</div>
                        <div class="contact-info__description">
                            <a :href="`mailto:${contactInfo.contactEmail}`">{{contactInfo.contactEmail}}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 contact-info__block contact-info__block-address">
                    <div class="contact-info__block-inner">
                        <div class="contact-info__icon">
                            <icon icon="contact-address"></icon>
                        </div>
                        <div class="contact-info__title">Адрес</div>
                        <div class="contact-info__description">
                            <a :href="contactInfo.contactAddress.link">{{contactInfo.contactAddress.name}}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 contact-info__block contact-info__block-social">
                    <div class="contact-info__block-inner">
                        <div class="contact-info__icon">
                            <icon icon="contact-social"></icon>
                        </div>
                        <div class="contact-info__title">соц сети</div>
                        <div class="contact-info__description">
                            <social-icons :color-dark="true"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Icon from "laravel-mix-vue-svgicon/IconComponent.vue";
    import SocialIcons from "../../../social/SocialIcons";
    import {mapGetters} from "vuex";
    import Phone from "../../../phoneNumber/Phone";
    import SlidePanelRightAction from "../../../slidePanel/molecules/SlidePanelRightAction";
    export default {
        name: "ContactPageInfo",
        components:{
            Icon,
            Phone,
            SocialIcons,
        },
        data(){
          return{
              contactInfo: null
          }
        },
        computed:mapGetters(['respBasicContent']),
        watch:{
            respBasicContent(val){
                const contactInfo =  val.filter(el => el.settings);
                if(!_.isEmpty(contactInfo)){
                    this.contactInfo = contactInfo[0].settings;
                }
            }
        },
        mounted() {
            const contactInfo =  this.respBasicContent.filter(el => el.settings);
            if(!_.isEmpty(contactInfo)){
                this.contactInfo = contactInfo[0].settings;
            }
        }
    }
</script>

<style lang="sass">
    .contact-info
        position: relative
        padding: 2.5rem 0 0.875rem
        &__block
            padding-bottom: 1rem
            &-inner
                background: #fff
                padding: 2.5rem 1rem 1.8rem
                border: 0.25rem solid #F8F8F8
                height: 100%
                text-align: center
        &__title
            font-weight: 900
            font-size: 1.5rem
            line-height: 1.1
            text-transform: uppercase
            padding-bottom: 1rem
        &__icon
            padding-bottom: 1.5rem
        &__description
            & a
                font-weight: 500
                display: inline-block
                font-size: 0.875rem
                line-height: 1.1
                padding-bottom: 0.35rem
            & .social-icon
                text-align: center
        & a
            color: #131618
            font-weight: 500
    @media all and (max-width: 48rem)
        .contact-info
            margin-top: -10rem
            &__block
                &-inner
                    padding: 1.25rem 1rem 1.875rem 0

    @media all and (max-width: 36.25rem)
        .contact-info
            &__block
                &-inner
                    text-align: left
            &__icon
                float: left
                width: 25%
                text-align: center
                padding: 0 1rem
                & svg
                    max-width: 1.875rem
            &__title
                float: left
                width: 75%
                font-size: 1rem
                padding-bottom: 0.3125rem
            &__description
                float: left
                width: 75%

</style>
