<template>
    <section id="section-feedback" class="section feedback">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 feedback__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5355.870681460439!2d35.13412263699715!3d47.840845979196644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc6735e82c5fe7%3A0xa5520fd7fdb77879!2sPrimavera%20PVC!5e0!3m2!1sru!2sua!4v1570735210625!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" ></iframe>
                </div>
                <div class="col-xl-6 d-flex justify-content-center">
                    <div class="feedback__form">
                        <h3 class="feedback__form-title">Свяжитесь с нами</h3>
                        <contact-form/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import ContactForm from "../../../form/organism/ContactForm";

    export default {
        name: "ContactPageFeedback",
        components:{
            ContactForm
        }
    }
</script>

<style scoped lang="sass">
    .feedback
        padding-bottom: 6.25rem
        &__form
            max-width: 30.625rem
            flex: 0 0 30.625rem
            padding: 3.44rem 0
            &__title
                font-weight: 900
                font-size: 3rem
                line-height: 1.2
    @media all and (max-width: 75rem)
        .feedback
            padding-bottom: 0
            & .row
                flex-direction: column-reverse
            &__map
                margin-bottom: -0.375rem
                padding: 0
                & iframe
                    height: 31.25rem
            &__form
                padding: 1.5rem 0 2.5rem
                max-width: 100%
                flex: auto
    @media all and (max-width: 36.25rem)
        .feedback
            &__map
                & iframe
                    height: 18.75rem
            &__form
                &-title
                    max-width: 90%
                    font-size: 2.5rem
</style>
