<template>
    <form @submit="update">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title"
                   ref="service_title"
                   v-model="response.service.title"
            >
        </div>
        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug"
                   ref="service_slug"
                    v-model="response.service.slug"
            >
        </div>
        <div class="form-group">
            <label for="subcategory">Подкатегория:</label>
            <select name="subcategory" class="form-control" id="subcategory"
                    ref="service_subcategory_id"
                    v-model="response.service.subcategory.id"
            >
                <option
                    v-for="subcategory in response.subcategories"
                    :value="subcategory.id"
                >
                    {{ subcategory.title }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="sort_order">Sort Order:</label>
            <input type="number" class="form-control" id="sort_order"
                   ref="service_sort_order"
                   v-model="response.service.sort_order"
            >
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price"
                   ref="service_price"
                   v-model="response.service.price"
            >
        </div>
        <jodit
                ref="service_body"
                v-model="response.service.body"
        ></jodit>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "ServiceEdit",
        props: ['id'],
        data() {
            return {
                response: {
                    service: {
                        title: '',
                        slug: '',
                        price: 0,
                        body: '',
                        sort_order: 0,
                        subcategory: ''
                    },
                    subcategories: {
                        title: '',
                        id: 0
                    }
                }
            };
        },
        mounted() {
            axios.get('admin/services/'+ this.id+'/edit')
                .then(({data}) => (this.response = data));
        },
        methods: {
            update: function (e) {
                e.preventDefault();
                axios.post('admin/services/'+ this.id, {
                    'title': this.$refs['service_title'].value,
                    'slug': this.$refs['service_slug'].value,
                    'sort_order': this.$refs['service_sort_order'].value,
                    'price': this.$refs['service_price'].value,
                    'subcategory_id': this.$refs['service_subcategory_id'].value,
                    'body': this.$refs['service_body'].value,
                    _method: 'PUT'
                })
                    .then(({data}) => (this.service.title = data.title));
            }
        },
        components: {
            'jodit': JoditVue
        },
    }
</script>

<style scoped>

</style>
