<template>
    <form @submit="create">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title"
                    v-model="title"
            >
        </div>
        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug"
                    v-model="slug"
            >
        </div>
        <div class="form-group">
            <label for="subcategory">Подкатегория:</label>
            <select name="subcategory" class="form-control" id="subcategory"
                    ref="service_subcategory_id"
                    v-model="subcategory_id"
            >
                <option
                    v-for="subcategory in subcategories"
                    :value="subcategory.id"
                >
                    {{ subcategory.title }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="sort_order">Порядок при выводе:</label>
            <input type="number" class="form-control" id="sort_order"
                    v-model="sort_order"
            >
        </div>
        <div class="form-group">
            <label for="price">Цена:</label>
            <input type="number" class="form-control" id="price"
                   v-model.number="price"
            >
        </div>
        <jodit
            v-model="content"
        ></jodit>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</template>

<script>
    import 'jodit/build/jodit.min.css';
    import JoditVue from 'jodit-vue';
    export default {
        name: "ServiceCreate",
        data() {
            return {
                output: '',
                title: '',
                slug: '',
                subcategory_id: '',
                sort_order: 0,
                price: 0,
                content: '',
                subcategories: null
            };
        },
        methods: {
            create :function(e) {
                e.preventDefault();
                axios.post('/admin/services', {
                    title: this.title,
                    slug: this.slug,
                    body: this.editorData,
                    sort_order: this.sort_order,
                    price: this.price,
                    subcategory_id: this.subcategory_id
                }).then((response)=>{
                    this.output = response.data
                });
            }
        },
        components: {
            'jodit': JoditVue
        },
        mounted() {
            axios.get('/admin/services/create').then(({data}) => (this.subcategories = data));
        }
    }
</script>

<style scoped>

</style>
