<template>
  <div id="home-page" class="home-page">
      <main-header/>
      <home-page-banner/>
      <home-page-services/>
      <home-page-about v-if="loadAbout"/>
      <home-page-team v-if="loadTeam"/>
      <home-page-magazine v-if="loudMagazine"/>
      <home-page-about-important v-if="loadImportant"/>
      <home-page-news  v-if="loadNews"/>
      <home-page-billboard  v-if="loadBillboard"/>
      <home-page-our-partners v-if="loadPartners"/>
      <home-page-testimonials  v-if="loadTestimonials"/>
      <home-page-subscription v-if="loadSubscription"/>
  </div>
</template>

<script>
import HomePageBanner from './organism/HomePageBanner';
import HomePageServices from './organism/HomePageServices';
import HomePageAbout from './organism/HomePageAbout';
import HomePageTeam from './organism/HomePageTeam';
import HomePageMagazine from './organism/HomePageMagazine';
import HomePageAboutImportant from './organism/HomePageAboutImportant';
import HomePageNews from './organism/HomePageNews';
import HomePageBillboard from './organism/HomePageBillboard';
import HomePageOurPartners from './organism/HomePageOurPartners';
import HomePageTestimonials from './organism/HomePageTestimonials';
import HomePageSubscription from './organism/HomePageSubscription';
import MainHeader from '../../header/MainHeader';

export default {
  name: 'home',
  components: {
    MainHeader,
    HomePageBanner,
    HomePageServices,
    HomePageAbout,
    HomePageTeam,
    HomePageMagazine,
    HomePageAboutImportant,
    HomePageNews,
    HomePageBillboard,
    HomePageOurPartners,
    HomePageTestimonials,
    HomePageSubscription,
  },
  data() {
    return {
      loadAbout: false,
      loadTeam: false,
      loudMagazine: false,
      loadImportant: false,
      loadNews: false,
      loadBillboard: false,
      loadPartners: false,
      loadTestimonials: false,
      loadSubscription: false,
    };
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 400) {
        this.loadAbout = true;
      }
      if (window.scrollY > 800) {
        this.loadTeam = true;
      }
      if (window.scrollY > 1200) {
        this.loudMagazine = true;
      }
      if (window.scrollY > 1600) {
        this.loadImportant = true;
      }
      if (window.scrollY > 2000) {
        this.loadNews = true;
      }
      if (window.scrollY > 2400) {
        this.loadBillboard = true;
      }
      if (window.scrollY > 2800) {
        this.loadPartners = true;
      }
      if (window.scrollY > 3200) {
        this.loadTestimonials = true;
      }
      if (window.scrollY > 3600) {
        this.loadSubscription = true;
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>
